[2021-06-21 19:07] MarcinOrlowski commented on #696
I can proofread this if needed.

[2021-06-21 20:26] MarcinOrlowski commented on #680
@BFH-ktt1 could you please review pending PRs, please? The pile blocks further works.

[2021-06-21 20:40] MarcinOrlowski opened #698 "Code style"
However docs say code shall be formatted with `google-java-format` it is not often the case. Also formatting do not automatically enforce unified coding style. To remedy this I added Checkstyle checker to Gradle in #697 with the idea to have it run as GitHub Action soon.

In fact this ticket should go in "Discussions" but no-one participates there, so here we go. I selected `google-java` style "ju

[2021-06-22 08:28] BFH-ktt1 commented on #680
All merged, can we close this issue?

[2021-06-22 08:59] MarcinOrlowski commented on #668
The trick is that is now shown for shorter time than Batik needs to render SVG logo :)

[2021-06-22 09:19] #680 closed

[2021-06-22 09:26] BFH-ktt1 commented on #674
Can we close this issue?

[2021-06-22 09:52] MarcinOrlowski opened #701 "Logo SVG needs not to use texts"
Logo SVG uses texts that are rendered incorrectly on machines that do not have specified fonts installed. To combat that, we should have in-app logo using text converted to shapes.

[2021-06-22 12:16] #674 closed

[2021-06-23 03:03] Emil-DV opened #709 "Build Errors in Eclipse on develop branch"
Tonight I refreshed my local copy of the devlop branch, did gradlew run which succeeded but when I went to build using Eclipse (imported Gradle project) I got lots of errors (see below). The master branch builds w/o error using the same process, as did the develop branch a few days ago.

![2021-06-22 19_53_21-Eclipse-logisim-evolutionMaster - Eclipse IDE](https://user-images.githubusercontent.com/

[2021-06-23 05:30] #701 closed

[2021-06-23 08:50] MarcinOrlowski commented on #698
I think further code styles will be fixed in two steps: first PR just fix formatting - no code change at all and then separate PRs with code changes, method renames etc. That should simplify the reviews. @BFH-ktt1 what you think?

[2021-06-23 08:55] MarcinOrlowski commented on #709
Just checked and it indeed happens here too. It looks like Eclipse do not see our dependencies (i. E. XML libs) and then snowball effect happens

[2021-06-23 10:57] MarcinOrlowski commented on #709
It looks like this is the same type of problem: https://stackoverflow.com/questions/55571046/eclipse-is-confused-by-imports-accessible-from-more-than-one-module

[2021-06-23 11:00] MarcinOrlowski commented on #580
It looks like this #709 may benefit from the change as well.

[2021-06-23 11:03] MarcinOrlowski commented on #580
If this lib poses a risk, can't we just add its to LS' sources and build as part of the project? Wouldn't make much difference, with clear benefit of not being nor external nor binary.

[2021-06-23 12:40] davidhutchens commented on #580
I have pretty much developed a replacement for the lablib-checkboxtree dependency. I hope to put out a PR soon. It would be nice to have the recent proposed changes to src/main/java/com/cburch/logisim/gui/appear/ShowStateDialog.java by @MarcinOrlowski incorporated first so I can deal with any merge issues.

[2021-06-23 16:20] MarcinOrlowski commented on #698
#710 was made with CheckStyles tuned using `suppressions.xml`:

[code]

[2021-06-23 16:20] MarcinOrlowski commented on #698
@BFH-ktt1 while I was working on `soc/nios2*` I saw a lot of code formatted like this

![ss](https://user-images.githubusercontent.com/8041294/123132664-43353f00-d44f-11eb-8395-f3c8ddd7125e.png)

For example [Nios2ProgramControlInstructions.java](https://github.com/logisim-evolution/logisim-evolution/blob/b698a76154c8f15e377056ee9237da160c9822fc/src/main/java/com/cburch/logisim/soc/nios2/Nios2Prog

[2021-06-24 06:27] BFH-ktt1 commented on #698
@MarcinOrlowski : The code was structured this way for more readability when I wrote it (sorry I am more a C-programmer as a Java guru :-)). For me there is no reason why it could not be restructured.

[2021-06-24 08:04] MarcinOrlowski commented on #698
As I wrote - I fully understand why would you do that, but this formatting was so fragile, that its better to fix in controllable manner instead of waiting for PR that would mess it even more. #712 does so.

[2021-06-24 12:11] davidhutchens commented on #321
With #719 this task is complete, other than #1 in the comment by @BFH-ktt1. How should we acknowledge the maven libraries that we use? We could add them to the list of contributors in the README. We could also add them to the scroll in the About panel. Thoughts?

[2021-06-24 19:38] MarcinOrlowski opened #721 "Project name - can it be just "Logisim Evolution"?"
Since Logisim-evolution seems to stick as project name for long time and apparently noone got better idea, I suggest to make it official (unless changed :) and normalize spelling etc. My proposal is to use `Logisim Evolution`. Without any hyphen, spelling as shown. It sounds the same but looks better :) I am in process of clearing documentation right now and would like to make project name unified

[2021-06-24 19:59] davidhutchens commented on #721
The project name is used in various ways. It is in the name of the shadowjar and the distribution files. I'm not sure what all the issues would be with putting a space in the middle of it. Also, some expressed a desire to leave the shadowjar with a lowercase first letter. At least that was how I interpreted the comment. That change would, in theory, also change the URL for the project itself.

I w

[2021-06-24 20:14] BFH-ktt1 commented on #721
Some things you should change, some your should not. Since 2012 we stick with logisim-evolution, and it is something which is "burned into the mind". I'm for changes, but this one I would prefer not to change.

[2021-06-24 21:37] MarcinOrlowski commented on #721
I do not mind either way (also @davidhutchens have a valid point about the rists). So can we agree about the proper spelling at least, as you say `logisim-evolution`, docs read `Logisim-evolution`. So what's the correct one? `logisim-evolution`? `Logisim-evolution`? `logisim-Evolution`? :)

[2021-06-25 00:33] davidhutchens commented on #721
In #523, @maehne updated the README and noted: 'This pull requests improves wording and formatting of the README. It also proposes to use the casing "Logisim-evolution" instead of "logisim-evolution", as the former is used in the application itself and the help files.'

So that would suggest that Logisim-evolution is the form used in the documentation and help files. I suggest sticking with that i

[2021-06-25 07:27] MarcinOrlowski commented on #721
The only thing I dislike with the hyphen form is this:

![icon](https://user-images.githubusercontent.com/8041294/123386944-7da9f380-d597-11eb-8b0f-4fa9f4e01ab8.png)

[2021-06-25 07:29] #721 closed

[2021-06-26 14:37] mbaillif commented on #696
The Polish text is back in my latest pull_request.
I still need to add PL in the settings.properties file

There are still some lines to translate for 100%.
1 in analysis
1 in circuit
5 in fpga
76 in gui
12 in soc
28 in std
2 i tools
1 in dans util
if someone is able to do that it would be great.

[2021-06-26 14:48] MarcinOrlowski commented on #696
I removed it in [this PR](https://github.com/logisim-evolution/logisim-evolution/pull/634) so just add it back.

I can do that, but I think we can have it updated in separate PR anyway

[2021-06-27 09:12] maehne commented on #625
Closing due it got fixed in commit https://github.com/logisim-evolution/logisim-evolution/commit/aeb1a5dab05c74886a7a9ad622838eaa75e9757b. Thanks @MarcinOrlowski!

[2021-06-27 09:12] #625 closed

[2021-06-27 16:10] Emil-DV opened #731 "EEPROM Memory"
The micro-controller I am building could benefit from some form of "EEPROM" memory. A "ROM" with an input port and WE.
Currently I am using a RAM that is marked non-volitile which doesn't clear its contents upon Cntl+R Reset but does between file save/re-open.
Perhaps this has already been done and is in some importable library package of components?
If not I thought that I could either:
0) Create

[2021-06-30 06:17] BFH-ktt1 commented on #668
Can we close this issue?

[2021-06-30 06:26] MarcinOrlowski commented on #668
Not yet please. As I said, the main issue right now is that for most of the time splash is visible for shorter period than Baitk needs to render the logo (or this is the visual effect). That simply looks bad like something is broken. And I'd like to avoid having i.e. PNG rendition of the logo just for the splash. Will try to figure out something.  If you can please assign this ticket to me.

[2021-06-30 10:18] MarcinOrlowski opened #735 "Stale branches `revert-217-dev-with-fsm` and `version`"
Is there any purpose `revert-217-dev-with-fsm` and `version` branches still do exist as of today? These are far behind, so most likely can be safely deleted.

[2021-06-30 10:20] BFH-ktt1 commented on #735
The revert-217-dev-with-fsm is important as it adds fsm-drawing support to logisim. We did not have the time to finish this one.
Version I do not even know what it is.

[2021-06-30 10:23] MarcinOrlowski commented on #735
Version I do not even know what it is.>

@mbaillif could you please cast any light on what is/was the `version` branch for?

[2021-06-30 10:26] MarcinOrlowski commented on #735
It's 11 mo old and 450+ commits behind so quite huge tech-debt as of today. I also got a feeling that with current development and refactoring it might face quite massive conflicts. Do you think you could i.e. allocate say 30 mins and see it the works on that branch could still be resumed? Also is there any doc/ticket/whatever that describes what's there to be done, how much left etc?

[2021-06-30 10:29] BFH-ktt1 commented on #735
In the moment, unfortunately, I have very limited bandwidth. It'll be better in about three weeks, I'll put it on my todo list.

[2021-06-30 11:13] MarcinOrlowski commented on #678
@neildarlow do you still have this issue? I just installed LS via flatpak and see no problems. If you still face this message, can you provide more details so I can try to reproduce?

@BFH-ktt1 do you maintain Flatpak page of LS?

[2021-06-30 11:27] MarcinOrlowski commented on #678
Because I see Flathub entry is sourced from this repo: https://github.com/flathub/com.github.reds.LogisimEvolution - is it related or 3rd party (members' nicks tell me nothing)?

[2021-06-30 11:49] MarcinOrlowski commented on #709
Closing as this seems to be gone once we dropped said `*.jar` binary. I just successfully built was just able to built freshly checked-out `develop`

[2021-06-30 17:17] mbaillif commented on #735
On my side I only edit the documentation, and I never worked on two branches.
At some point one branch was modified and I switched to develop.

Unfortunately I don't have the corresponding email anymore.

There was a big restructuring of the code merged to #203.
And when I look at the code (23.12.2018) that is not reassembled in develop, it seems obsolete.
I think it is only the ashes of this move

[2021-06-30 21:11] maehne commented on #735
Regarding the goal to add an FSM editor, you may have a look at issue #6. @sderrien added a nice editor in his fork, but we were not yet able to merge it back into our repository, because both forks have significantly diverted. Especially, regarding the build system (Ant vs. Gradle) and many new features, which were back-ported by @BFH-ktt1 from @kevinawalsh's Holy Cross fork. Another challenge we

[2021-06-30 21:28] MarcinOrlowski commented on #735
Unfortunately I will not have the enough time for that. BUT, maybe @sderrien could drive this effort? He knows this thing best and if any additional resources will be needed then we can assist at specified tasks? @sderrien how you find that?

[2021-06-30 21:47] maehne commented on #678
The flatpak was created by @TheEvilSkeleton and discussed in detail in issue #448.

[2021-06-30 21:48] MarcinOrlowski commented on #696
Closing as fixed by #725

[2021-06-30 21:48] #696 closed

[2021-06-30 21:53] maehne opened #742 "HDL support for divider is unfinished"
Although the HDL-generator class is in the working tree, it has never been tested on correct functionality. This is the reason it is not enabled. It is on the todo list and will be enabled as soon as correct functionality is guaranteed.

_Originally posted by @BFH-ktt1 in https://github.com/logisim-evolution/logisim-evolution/issues/430#issuecomment-670605221_

[2021-06-30 22:04] MarcinOrlowski commented on #678
@TheEvilSkeleton could you please update the Flathub entry's description to match this landing page: https://github.com/logisim-evolution/logisim-evolution/tree/develop as (at least form me) what sticks out in current one is "and recently the development has been officially stopped." which is bad. Also if you could update the screenshot to one of https://github.com/logisim-evolution/logisim-evolut

[2021-06-30 22:15] maehne commented on #678
No, see [this message](https://github.com/logisim-evolution/logisim-evolution/issues/448#issuecomment-749684001) by @TheEvilSkeleton.

Ideally yes and I think @BFH-ktt1 has at least maintain rights for the associated repository. However, our knowledge and bandwidth is limited for maintaining all the different kind of packages. Also, manually building them on the different platforms for a release a

[2021-06-30 22:21] MarcinOrlowski opened #743 "Have own Flatpak/Snap packages"
The task is to have own, fully controlled Flatpak/Snap packages. There's currently 3rd party driven, Flatpak package: https://www.flathub.org/apps/details/com.github.reds.LogisimEvolution driven by @TheEvilSkeleton however at the end of the day we should have full control of our packages as this is the only way to keep it up to date with official releases (up to now we rely on 3rd party to have a

[2021-06-30 22:22] MarcinOrlowski commented on #678
Ok, I created #743 for that.

I am also going to close this ticket as a) it works for me now, b) if it does not for OP then it should currently be reported here: https://github.com/flathub/com.github.reds.LogisimEvolution

[2021-06-30 22:22] #678 closed

[2021-06-30 22:32] TheEvilSkeleton commented on #743
@MarcinOrlowski that's perfectly fine. If you want to maintain the Flatpak package over at Flathub, you can email flathub@lists.freedesktop.org. I highly recommend every member/maintainer of this repo to email the Flathub maintainers so they will give you write permission to the repo. ([Source](https://github.com/flathub/flathub/wiki/App-Submission#someone-else-has-put-my-app-on-flathubwhat-do-i-d

[2021-06-30 22:43] TheEvilSkeleton commented on #743
I'm going to submit a merge request to the `develop` branch for preparation of official support.

[2021-06-30 22:43] MarcinOrlowski commented on #743
No, no, I do not want to maintain it :) I would be fantastic if you could still keep eye on this and maintain Logisim-evolution Flatpak package as you did so far. You got all the necessary knowledge how to do that the best way. What I'd like to have though is to keep all the Logisim-evolution stuff under one umbrella which means that we'd have i.e. separate repo  say `logisim-evolution-flatpak` (u

[2021-06-30 22:45] MarcinOrlowski commented on #743
@TheEvilSkeleton do you think it's better to have separate repo for Flatpak, or it should be part of main one?

[2021-06-30 22:59] MarcinOrlowski commented on #72
Can we have more precise repro-case?

[2021-06-30 23:03] MarcinOrlowski commented on #8
@BFH-ktt1 Can we have this closed? It's 6 yo and many things changed in meantime. It's also pretty generic and as no one fixed it for the last 6yo nor no one added any additional complains, let's close it. Apparently it's not that problematic IRL :)

[2021-06-30 23:05] MarcinOrlowski commented on #45
@BFH-ktt1 As `LogiUnit` is 404, and `Logi7400` is archived, I think this ticket can be safely closed. We need tests, for sure, This one won't help though.

[2021-06-30 23:07] MarcinOrlowski commented on #14
@BFH-ktt1 this one can be closed. 6yo, no exact repro case.

[2021-06-30 23:09] MarcinOrlowski commented on #580
@maehne can this one be closed as per @davidhutchens merged PR?

[2021-06-30 23:11] maehne commented on #580
Thanks @davidhutchens for your PR fixing this issue!

[2021-06-30 23:11] #580 closed

[2021-06-30 23:27] TheEvilSkeleton commented on #743
@MarcinOrlowski my suggestion is to put as much as possible in the main repo. Flathub wants to be as vanilla as possible, unless some patches can be used to better integrate the application in a Flatpak container, like [some](https://github.com/flathub/com.github.reds.LogisimEvolution/blob/master/com.github.reds.LogisimEvolution.png) [images](https://github.com/flathub/com.github.reds.LogisimEvolu

[2021-07-01 06:19] #14 closed

[2021-07-01 06:21] #45 closed

[2021-07-01 06:21] #8 closed

[2021-07-01 07:00] Emil-DV commented on #709
Sadly I am not having the same luck.  I still get the same batch of errors even though I've completely deleted my clone and started fresh.

[2021-07-01 08:20] maehne opened #747 "Firewall warning when launching Logisim-evolution"
I always thought that the firewall warning concerning allowing incoming network connections for Logisim-evolution was related to the Auto Updater, which has been removed in PR #650. However, I still receive this warning building from `HEAD` (commit 444b3ed1f18b92113f23cb5b8ed310665167154d) of the `develop` branch at least on macOS:

<img width="547" alt="image" src="https://user-images.githubuserc

[2021-07-01 08:37] maehne opened #748 "Check key handling code and reapply PRs #645 and #646"
@BFH-ktt1 I am not going to restore #645 and #646 for now as you raised the concern about possible conflict with other key handling code. Yet this feature is pretty handy to have, so can you please suggest better approach?

_Originally posted by @MarcinOrlowski in https://github.com/logisim-evolution/logisim-evolution/issues/680#issuecomment-862552275_

[2021-07-01 08:48] maehne opened #749 "Acknowledge the 3rd-party libraries we are using in Logisim-evolution"
With #719 this task is complete, other than point 1 in the comment by @BFH-ktt1. How should we acknowledge the maven libraries that we use? We could add them to the list of contributors in the README. We could also add them to the scroll in the About panel. Thoughts?

_Originally posted by @davidhutchens in https://github.com/logisim-evolution/logisim-evolution/issues/321#issuecomment-867587328_

[2021-07-01 08:50] maehne commented on #749
@davidhutchens and @BFH-ktt1: I agree that we should acknowledge the 3rd-party libraries we are using and I like the proposal to do so in the README and the About panel.

[2021-07-01 08:51] maehne commented on #321
I have created issue #749 to track the remaining point. Let's therefore close this issue and continue the discussion there.

[2021-07-01 08:51] #321 closed

[2021-07-01 10:02] MarcinOrlowski commented on #749
I think that this one and #590 should be somehow combined into one effort.

[2021-07-01 10:08] MarcinOrlowski commented on #747
I am completely ignorant when we talk macOS packages, but can it be that that this is rather related to the package not the app? Will the FW alert show if you run it manually from IDE or jar?

PS: also mind posting English version of this message?

[2021-07-01 10:10] MarcinOrlowski commented on #709
What about Eclipse? It's cache maybe or some settings? I used freshly downloaded this exact version https://www.eclipse.org/downloads/packages/release/2021-06/r/eclipse-ide-java-developers (on Linux).

[2021-07-01 11:11] maehne opened #753 "Define contribution guidelines"
[...] it's high time to have processes defined. As for PRs I personally would enforce no direct pushes neither to master nor develop and at least one mandatory reviewer per PR. Shall PR be accompanied by related mandatory issue/FR ticket is another story - I'd say, yes (as discussion should take place in the ticket there, not in PR where one should discuss the PR itself). That would also help avoi

[2021-07-01 12:35] R3dst0ne commented on #382
I fixed/added a lot of translations in bd20be0786e72d29c481e5cb438f73aae70b67fe.
Did I miss something?
If not this issue can be closed.

[2021-07-01 12:57] R3dst0ne commented on #659
This is wrong, the location of the pins is set in `updateports()`.
They can be set in every direction and work correctly.
![switch](https://user-images.githubusercontent.com/62245695/124127929-9117fb80-da7c-11eb-86be-74c60ee5c123.png)

[2021-07-01 13:48] MarcinOrlowski commented on #659
On-button labels are not rotating if i.e. north is 1/0 then south should be 0/1 not 1/0

[2021-07-01 14:09] R3dst0ne commented on #659
I personally prefer the way it is currently implemented.
Since there is only one option, I don't have to look at the labels to know in which state the switch is.
I find this consistency makes it easier and faster to overview circuits with multiple switches in different directions.
With your proposition you always have to look at the label first and then how the switch is toggled.

[2021-07-01 14:33] MarcinOrlowski commented on #659
I personally do not.

I made some changes to switch so you can have pints not only on the longer sides, but also on shorter ones. It's then illogical to have output where recessed zero is.

If more would complain it can be made configurable.

[2021-07-01 15:09] Emil-DV commented on #709
Other than being on windows, I am using the same release:
Eclipse IDE for Java Developers (includes Incubating components)
Version: 2021-06 (4.20.0)
Build id: 20210612-2011

I have a linux laptop that I can try it on later today.

[2021-07-01 15:27] MarcinOrlowski commented on #709
I mostly mean - is this your **clean** Eclipse setup? Can you install i.e. on separate user account? Because I believe OS is rather irrelevant really here.

[2021-07-01 15:33] MarcinOrlowski commented on #659
Actually it should be configurable from scratch otherwise configuration from your circuit on the left could not be done. So win-win :)

[2021-07-01 17:02] maehne commented on #382
Thanks for your improvements to the German localisation @R3dst0ne!

[2021-07-01 17:02] #382 closed

[2021-07-01 17:23] MarcinOrlowski commented on #563
@zdimension @maehne ping

[2021-07-01 17:31] MarcinOrlowski opened #756 "Incorporate analytics (or similar tool)"
We got absolutely no idea about our users' habits. Can't tell what language version they use (from provided), what language they lack (theirs system language), can we axe i.e. animated icons or it's the best part of the Logisim (hint: no, it's not :). Not sure what are our alternatives, but we need somehow to gather more info as w/o that it's hard to plan anything. And of course, it must be opt-ou

[2021-07-01 17:49] maehne commented on #563
I have never generated `VhdlSyntax.java` from `VhdlSyntax.flex` myself. I also never used JFlex myself. I just noticed that it was an auto-generated file. The flex file needs to be updated to incorporate fixes, which actually were done directly to the Java source file.

I agree that `org.xbib.gradle.plugin.jflex` would be probably the first candidate to try to integrate in our Gradle build system

[2021-07-01 17:55] maehne commented on #756
I reckon that it would be helpful to know a bit more about our user base, but I am not sure your proposal is the right way. Personally, I am not a fan of opt-out analytics/telemetry functions in other software products. I systematically turn it off and know that some people even stopped using an application after it introduced analytics. If we should decide in the end to add something like that, t

[2021-07-01 18:18] MarcinOrlowski commented on #756
I understand your reasoning but about "opt-in" vs "opt-out". But we need "opt-out" I am afraid or analytics bring us no data. We shall be open, announce introduction of analytics like one version prior, show the dialog on first run and ask etc. This should put us in pretty clear position - "we need to know that to deliver better product, **please** do not -opt-out if you use LS, but if you must, h

[2021-07-01 20:40] maehne commented on #756
Thinking further about this, I have the feeling that we are already in the fortunate position to be very close to our user base. @BFH-ktt1 and myself employ it in our digital design courses and many small and big improvements to Logisim-evolution are directly motivated by the feedback we get from our students when they employ this tool in larger design projects (running for 8 weeks). Another drivi

[2021-07-01 21:40] MarcinOrlowski commented on #756
What I am saying is that we need analytics-alike metrics. How to implement it "the right way" is the next step and I do agree it needs to be properly planned. And this is what this ticket is for :)

[2021-07-02 10:02] R3dst0ne opened #760 ".properties files syncronisation"
It might be a good idea to implement some kind of mechanism that enforces the synchronization of all the properties files.
As you can see in #759 they were quite out of sync.

[2021-07-02 14:49] Emil-DV commented on #709
I tried it out on another windows machine that has never had Eclipse/any java dev on it and got the same result. The master branch builds okay but the dev branch gives me those same errors.  I'm not married to Eclipse, if there is a better build/debug solution I'm open to trying that.

[2021-07-02 18:30] MarcinOrlowski opened #764 "Backport README and docs to `master`"
While there's yet no plan for next release, I think we may want to "backport" README and `docs/` from `develop` branch into `master` for "marketing purposes". It looks better, and is more "user friendly". The only blocker for now I see is #745 but once it landed, it should be easy to update main branch.

@BFH-ktt1 @maehne Opinions?

[2021-07-02 20:22] MarcinOrlowski commented on #753
Another thing worth standardizing is how PR are merged. I think it should always be "squash" merge. We do loose details of works but in fact "who cares". PR should be kind of "atomic" - one thing at the time. So if it does not work properly, we revert just one commit and voila. Problem solved. I was working for major tech companies who merged that way and had never single issue over the years. It

[2021-07-03 01:30] davidhutchens commented on #709
I have reproduced this problem on the Mac.

From my research, it seems that the org.apache.xmlgraphics:batik-swing:1.14 library defines (or depends on other libraries that define) things in org.w3c.dom which is reserved for the java libraries. When Eclipse loads the project, it puts the java libraries in the java.xml module in the ModulePath and the projects libraries in the <unnamed> module in th

[2021-07-03 07:29] MarcinOrlowski commented on #709
Batik was a step forward to have SVG icons and other in-app graphics but for now it only handles the logo :) so I think in current state it can be safely removed, which I will now.

[2021-07-03 11:48] MarcinOrlowski commented on #709
@davidhutchens can you please check if #765 resolves this problem?

[2021-07-03 12:09] maehne commented on #753
I agree that squashing commits for PRs is in many cases a good idea. So, I'm fine to make it a recommendation. However, there are cases such as when refactoring code, where I like to keep the individual commits, which each tackle a different small issue.

[2021-07-03 12:55] davidhutchens commented on #709
I confirm that #765 works in Eclipse on my Mac.

I also note that Eclipse isn't easy to use with respect to dependency changes in build.gradle.kts. It does not update its classpath when the file is changed. I had to remove and recreate the Eclipse project, including removing Eclipse files from both the workspace (with delete in Eclipse) and the project files (bin, .classpath, .project) with rm. I'

[2021-07-03 14:09] MarcinOrlowski commented on #709
Closing, as #765 is now merged.

[2021-07-03 14:09] #709 closed

[2021-07-03 14:25] davidhutchens commented on #764
I need some time to read through the text and make changes. For example, changing "an" to "a" in a previous PR was an improvement, but still not correct. The words "software" and "hardware" are like "water" in English in that they do not use the article "a". The correct change would be to delete the word. The rest of that sentence somehow trips me when I read it. It should be rewritten, but I have

[2021-07-03 15:37] maehne commented on #764
@davidhutchens: Thanks for your offer to improve the English in our documentation! These improvements should be done first on `develop` to make sure we don't loose them later again inadvertantly.

[2021-07-03 15:51] MarcinOrlowski commented on #764
@davidhutchens English proofreading, yes please! As this PR is exact copy of files we have in `develop` (with changelog shortened), you can can safely work on `develop/`. I will put this PR on hold and then update it once you done. Or I can close it and you can make both if you wish.

[2021-07-03 18:00] Emil-DV commented on #709
Thanks for this, I'm far more familiar with Eclipse (vs. NetBeans/IntelliJ) from my work with embedded systems (VxWorks, DEOS, etc) so it is good that I am able to use it here as well.  I confirmed that it is working on the Windows version as well.

[2021-07-03 18:37] R3dst0ne commented on #515
Example from the documentation(`Guide to Being a Logisim User`>`Command-line verification`>`Text Vectors`):

#test vector for adder 4bit
A[4] B[4] O[4] C_in C_out
0000 0000 0000 0 0
0000 0000 0001 1 0
0xf 0xf 0000 1 0
0xf 0xf 0001 1 1

I hope this helps.

[2021-07-03 18:49] MarcinOrlowski commented on #515
@maehne This one should be moved to Discussions I think.

[2021-07-03 21:40] #515 closed

[2021-07-04 11:26] R3dst0ne opened #771 "Bit width drop-down lists"
By @maehne in #617 [(comment)](https://github.com/logisim-evolution/logisim-evolution/issues/617#issuecomment-859603690)

[2021-07-04 14:15] R3dst0ne commented on #501
Since #708 fixed this issue, can it be closed?

[2021-07-05 20:38] MarcinOrlowski commented on #771
I think the good solution for that would be combo widget, containing of widget where user can enter whatever value s/he needs but also accompanying with drop-down "presets" to select for (and I do not think that it makes sense to list i.e. 56 bits. Myh take (based on no random guess): 1-8, 16, 24, 32, 64 (in drop down).

[2021-07-07 08:16] maehne commented on #771
Yes, that could be a convenient solution.

[2021-07-07 10:05] R3dst0ne opened #775 "References need to be updated"
I found these outdated references to Logisim-evolution.
- [ ] [sourceforge](https://sourceforge.net/projects/logisimevolution/) download old version
- [x] [Wikipedia FR](https://fr.wikipedia.org/wiki/Logisim) old version Number, reference to old GitHub URL
- [x] [Wikipedia DE](https://de.wikipedia.org/wiki/Logisim) old version Number, reference to old GitHub URL
- [x] [Wikipedia EN](https://en.wik

[2021-07-07 10:16] MarcinOrlowski commented on #775
Corrected Wikipedia entries. As for SF - can **delete** it there?

[2021-07-07 10:20] MarcinOrlowski commented on #775
Talking about Wikipedia - it might be worth considering to have dedicated page for Logisim-evolution

[2021-07-07 11:56] R3dst0ne commented on #775
You missed
![grafik](https://user-images.githubusercontent.com/62245695/124754704-d0d25d80-df2a-11eb-9136-139a385bbb90.png)
in [DE](https://de.wikipedia.org/wiki/Logisim).
Could you update "consulté le" in [FR](https://fr.wikipedia.org/wiki/Logisim) as well.

[2021-07-07 13:38] MarcinOrlowski commented on #775
Yes I could but I think it's wrong. "Logisim" as such is dead. And it should be clear it is dead so we should not make it look otherwise (and "evolution" does not clearly indicates it's different thingie). I will create Separate entry for "Evolution"

[2021-07-07 13:47] MarcinOrlowski commented on #775
I am surprised to see there's no English page for Logisim?!

[2021-07-07 14:43] MarcinOrlowski opened #776 "Wikipedia page"
As a follow-up to #775, I created Wikipedia entry of Logisim-evolution as it appears there's no English page neither for LS-E, nor for original Logisim. The page is just quickly made using content from our README, so please take a look and suggest how to improve it. The page is yet to be not published (waiting for a review)

https://en.wikipedia.org/wiki/Draft:Logisim-evolution

[2021-07-07 15:01] MarcinOrlowski commented on #776
Oh, they rejected my page:

So it needs more work before re-submission. Assistance required.

[2021-07-07 15:31] MarcinOrlowski commented on #776
And there's another issue. I copied some texts from README to the wikipedia page but apparently that's not the best idea:

[2021-07-07 19:35] R3dst0ne commented on #775
I see your point, but leaving a outdated version number is no option eighter.
You could change "Aktuelle Version" to "Nachvolger Versionen". That makes clear that these are successors.

You need to update "consulté le" in [FR](https://fr.wikipedia.org/wiki/Logisim) since https://github.com/logisim-evolution/logisim-evolution didnt exist back in october 2019.

[2021-07-07 19:57] MarcinOrlowski commented on #775
* I updated DE, but it seems it needs approval to be published now
* Updated FR, should be online now

[2021-07-07 19:58] MarcinOrlowski commented on #775
We now need to try to have #776 completed. But I not sure I can do this alone anyway

[2021-07-08 00:13] TheEvilSkeleton commented on #743
@MarcinOrlowski can you take a look at https://github.com/flathub/com.github.reds.LogisimEvolution/pull/13#issuecomment-873425538?

[2021-07-08 04:25] MarcinOrlowski commented on #743
@TheEvilSkeleton Done.

[2021-07-08 09:14] MarcinOrlowski commented on #433
@maehne could that be moved to Discussions as well?

[2021-07-08 11:52] maehne commented on #433
@MarcinOrlowski: Sure, that makes sense.

[2021-07-08 11:52] #433 closed

[2021-07-09 17:28] davidhutchens commented on #764
I made multiple passes over the documents on many days to improve the flow. Then I asked my wife to have a look and she suggested a few more improvements. Thanks, Beth!

I changed the references to the release files to match the actual names.

I added my name to the developers list to encourage others (#590).

It looks like a new 130 character line length restriction is in place. I'll close that P

[2021-07-11 08:16] BFH-ktt1 opened #786 "Redrawing of GUI-windows"
One of the reasons for slow "simulation" is the fact that for each "change" in logisim the window redraw functions are called. This often leads to a snowball effect on redraw calls, and makes the whole program "slow".
I did not look into all details, but maybe there is a way to "catch" all these redraw requests and only do redraws for example 25 times/s. This should than increase speed and also ha

[2021-07-11 08:25] BFH-ktt1 opened #787 "tikz and svg export"
The current implementation of the tikz and svg exporter can export most parts of logisim. However, something like "Buffered Image" cannot be exported yet (which is used in for example the RGB-video component and the chronogram). It would be nice to build in the extra functionality such that also these components can be exported.

[2021-07-11 10:00] MarcinOrlowski commented on #698
As we already have style checker plugged onto PR checks no need to keep this issue open as every PR shall gradually improve tge style anyway.

[2021-07-11 10:00] #698 closed

[2021-07-11 10:05] MarcinOrlowski commented on #668
As we dropped svg for now splash started to make bit more sense as at least it does not look broken. Still it is shown for too short. I'm closing this though as it's minior issue an the last thing to worry about.

[2021-07-11 10:05] #668 closed

[2021-07-11 13:09] MarcinOrlowski opened #789 "Bumping min JDK to JDK 14"
I'd like to propose bumping min. version of JDK from current 11 to at least 14, mainly for improved [switch()](https://openjdk.java.net/jeps/354) and [Text Blocks](http://openjdk.java.net/jeps/355). Any reasons for not doing that?

@BFH-ktt1 @maehne @davidhutchens

[2021-07-11 13:54] maehne commented on #786
Improving the simulation performance by limiting the number of redraws per second sounds promising!

[2021-07-11 14:32] maehne commented on #789
From my side, I am fine with bumping the minimum JDK version to 14 or above. Main reason for keeping support for OpenJDK 11 would be that it is still the latest LTS version, which is widely distributed in Linux distributions. (E.g., until the beginning of this year, it looked like the upcoming Debian Bullseye would only ship OpenJDK 11. Now, it seems that it will also ship OpenJDK 17.) However, si

[2021-07-11 17:28] davidhutchens commented on #789
I have no problem bumping the minimum JDK version to 14. Another reason to do so is that there were some bugs on the Mac that were fixed in JDK 13; so Mac users benefit from using v13 or higher. Also, we need JDK 14 to build the packages. It would be cleaner to have JDK 14 everywhere.

The main reason not to, as @maehne noted: OpenJDK 11 is the latest LTS version. My search shows OpenJDK 17 will b

[2021-07-11 17:51] davidhutchens commented on #786
I had thought of restricting the number of redraws a long while ago. But I didn't investigate it. My thought was to pick a prime number, p, such that with clock speed, c, c/p would be around 20-30. Then draw every p clock ticks. The use of a prime number was to make it unlikely that the circuit would sync with the redraw and never change the visual for changing values. But it might be easier to ha

[2021-07-11 18:35] maehne commented on #786
I like @davidhutchens' idea of making the number of redraws per second user-configurable.

[2021-07-11 21:01] MarcinOrlowski commented on #789
There's nothing to be sorry about! This ticket is just for this kind of discussions/thoughts/feedback/notes (also this is great example why we should have [tickets prior each PR](https://github.com/logisim-evolution/logisim-evolution/issues/753#issue-934725805)). It would just be good to use more recent JDK version for various benefits (incl. JVM improvements, not only the language features) so I

[2021-07-12 01:12] davidhutchens commented on #789
All I meant by the hijack comment is that I realized that paragraph (about Mac versions) is a bit off-topic. All is good.

[2021-07-12 07:19] maehne commented on #789
If bumping OpenJDK to version 14 fixes bugs on macOS, I am in favour to do this change without much further waiting. It reduces the risk that issues related to these bugs get created. What do you think @BFH-ktt1?

[2021-07-12 07:31] BFH-ktt1 commented on #789
For me this is okay. We should just document it.

[2021-07-12 09:45] BFH-ktt1 commented on #764
Would it be a good moment to make V3.5.1 and merge into master?

[2021-07-12 11:25] MarcinOrlowski commented on #764
Please don't. I now believe what we really talking here is the next release. Is it major one (4.0) or we still at 3.x  and all the implications like backward compatibility, platform requirements (JDK) etc, etc. I think that what we need to weight is if are at the 4.0 now or still at 3.x. Being 3.x mostly means backward compatibility, but - do we really need to care. Some PRs **could** potentially

[2021-07-12 15:43] maehne commented on #501
Closing this issue. @Arri0: Feel free to reopen this issue, if it should persist.

[2021-07-12 15:43] #501 closed

[2021-07-12 16:23] maehne commented on #398
@rhodeon, @Bravo555, and @tombjerck: Did you have a chance to test the new timing diagram functionality? Can this issue be closed as fixed?

[2021-07-12 16:29] maehne commented on #593
@BFH-ktt1: I think we can close this issue. The old URL `https://github.com/reds-heig/logisim-evolution` gets redirected to the new one.

[2021-07-12 16:31] maehne commented on #582
The enhancement proposed in issue #786 would probably help to fix this issue.

[2021-07-12 16:36] maehne commented on #340
Support for bidirectional pins is tracked in issue #253. I convert this issue describing possible workarounds to a discussion.

[2021-07-12 16:36] #340 closed

[2021-07-12 17:47] R3dst0ne opened #793 "FP Constants"
There is no way to set a floating point constant.

Adding the possibility to select the radix of a constant might a good idea in general.

[2021-07-12 17:54] #593 closed

[2021-07-12 18:54] davidhutchens commented on #789
The macOS bug I was referring to is #219. It works correctly when run on Java 13 or higher, no matter what we have as our minimum version. So pushing the minimum doesn't really help most users, who are already using something higher. I don't  actually know if that bug fix was pushed back into JRE/JDK 11 LTS (the bug page itself does not say so); and it is unlikely to have been pushed into JRE/JDK

[2021-07-12 19:23] MarcinOrlowski opened #794 "Interfaces' default methods/implementations"
There are multiple JDK's interfaces that come with bunch of methods (i.e. `KeyListener`, `WindowListener` etc), so even you care just one them, you need to implement all the methods as there's no default implementation. This adds unnecessary bolilerplate code for no benefit. Same for some of our internally defined interfaces that could come with default (empty) implementations.

[2021-07-12 19:50] MarcinOrlowski opened #796 "Upgrade Checkstyle linter used in Github Action"
Current implementaion of code style lint github action installs checkstyle from ubuntu repository. Unfortunately as of today this means using v8.29 vs 8.44 available. Relying on packaged version for newer ubuntu releases helps very little as even most recent  release still packages older version than 8.44.

We need to have 8.44 incorporated as 8.29 is bit annoying at some points (i.e. it can compl

[2021-07-12 20:36] MarcinOrlowski commented on #789
I created PR that switches to JDK14. Aside from this and docs update I also changed our action builder to use just one JDK14 instead of lowest and highest supported as we had so far (11, 16). There's relatively no risk nor need for that and it saves us some time.

[2021-07-13 07:59] MarcinOrlowski commented on #760
We should not auto-synchronize because there may be a case where this would be not really desired. But if you'd make your script i.e. compare "base" `.properties` file with any other and report what is missing (or orphpaned) in the latter and then return non zero RC in such case, then we'd easily make it run as Github Action check

[2021-07-13 08:44] MarcinOrlowski commented on #747
@davidhutchens could you please take look at this one?

[2021-07-13 08:51] MarcinOrlowski commented on #352
While `Startup.java` is far from perfect, I think the issue reported is addressed to is seems like we can have this one closed?

[2021-07-13 08:52] maehne commented on #760
By default, the English localisation could serve as baseline.

[2021-07-13 09:18] maehne commented on #342
This seems to have been fixed by PR #351. @mbaillif: Feel free to reopen if it should not be the case.

[2021-07-13 09:18] #342 closed

[2021-07-13 09:22] maehne commented on #352
Issue has been addressed by PR #354. @klenin: Please reopen if it should still make problems on your side.

[2021-07-13 09:22] #352 closed

[2021-07-13 09:30] maehne commented on #747
The firewall warning still appears after opening directly the freshly built app from `develop` using `open build/dist/Logisim-evolution.app` or the installed app, which I copy from the DMG file to the `Applications/` folder. The German warning message above translates to:

@davidhutchens: Can you reproduce it on your side?

[2021-07-13 09:42] xtexChooser opened #799 "How to use the VGA screen?"
What is the BUS?

I am designing a circult made by 74 gates to reading data from EEPROM and display the image to th VGA screen.

How can I use the VGA screen?

The Library Reference is not fully.

[2021-07-13 09:45] #799 closed

[2021-07-13 10:01] R3dst0ne commented on #760
I can't think of any situation where we want them to be out of sync. Can you give me an example?

[2021-07-13 10:07] maehne opened #802 "Do not save unused libraries in the circuit file"
There's no logic to skip libraries that are unused, but were active when the Logisim circuit file was created. This will cause a File Error that the library is not available (cf. to issue #218). Logisim should not save references to unused libraries in the circuit file.

[2021-07-13 10:08] #218 closed

[2021-07-13 10:10] MarcinOrlowski commented on #561
As mentioned, we are unable to officially support Arch for the reasons given [here](https://github.com/logisim-evolution/logisim-evolution/issues/561#issuecomment-836660305). We can add some info to our docs but it should not be outdated - the links given above point to build 3.4.5 with note "This AUR repo has switched to a build-from-source package." whatever that means really. So we need PR from

[2021-07-13 10:10] #561 closed

[2021-07-13 10:16] MarcinOrlowski commented on #34
@maehne any idea how this is looking after 6 years?

[2021-07-13 10:17] R3dst0ne commented on #748
I have no experienced with GUIs, but I might have two interesting points.
- In the documentation (`Guide to Being a Logisim User > Menue reference`) there are shortcuts described to close windows.
- The same code block gets defined for each window. Could it be moved to [gui/generic/LFrame.java](https://github.com/logisim-evolution/logisim-evolution/blob/develop/src/main/java/com/cburch/logisim/gui

[2021-07-13 10:18] MarcinOrlowski commented on #163
Bump? If this is not still the case, what are the implications?

[2021-07-13 10:21] MarcinOrlowski commented on #151
Closing this one. This is very generic request. Sure docs could be (always) improved but that's hard to achieve with limited manpower We currently have [Discussions](https://github.com/logisim-evolution/logisim-evolution/discussions) for all the subjects not being explicit bug/feature requests. PRs improving manuals are always welcome though.

[2021-07-13 10:21] #151 closed

[2021-07-13 10:25] MarcinOrlowski commented on #760
No, not really, but I see no benefit for automated sync either (we do not automatically fix any issues linters find, even if that'd be doable). The lint can check if these are in sync and if not, flag that. If we include copt&paste steps to sync then that's all what we need.

[2021-07-13 10:32] MarcinOrlowski commented on #735
Given the above I believe we can safely delete `version` branch.

[2021-07-13 10:35] R3dst0ne commented on #760
Good point.
As soon as I have some free time I will start working on this.

[2021-07-13 10:49] MarcinOrlowski commented on #760
Thanks. I think this is two-step effort

- [ ] `*.properties` file sync checker
- [ ] Github Action

For the first one we just need a way to run the script (existing or new one) that takes at least two files (or just two files if that would help), say A and B and then shows how B differs from A (missing keys, orphaned keys). If any diff exists, aside from printing that out, we return non zero RC.

[2021-07-13 11:33] MarcinOrlowski commented on #760
It'd be great if your linter could also deal with the following:
1. leading spaces (in any case we should not have any in neither A nor B as this is hard to maintain),
2. * if A ends with punctuation mark (i.e. `.`, `:` or `?`) then if there's B translation, it must follow
3. No leading space is allowed for punctuation marks
4. Unfortunately we need to be able to disable check from 2 (via CLI swit

[2021-07-13 11:41] MarcinOrlowski commented on #775
@reds-heig It seems that SF page is maintained by you:

![s](https://user-images.githubusercontent.com/8041294/125445815-f34ff066-903d-42f2-a30e-01a0d1db5ce3.png)

Can you please remove it?

CC: @maehne @BFH-ktt1

[2021-07-13 11:44] MarcinOrlowski commented on #147
@maehne Can you please change subject of this ticket to be more self explanatory please?

[2021-07-13 11:49] MarcinOrlowski opened #804 "Ability to remove "Bold" attribute using font picker"
Taken from  #444

[2021-07-13 11:51] MarcinOrlowski commented on #444
I am closing this one as we have separate tickets to track related issues already.

[2021-07-13 11:51] #444 closed

[2021-07-13 11:53] MarcinOrlowski commented on #345
Closing, as there's no OP follow-up. Please reopen if needed.

[2021-07-13 11:53] #345 closed

[2021-07-13 11:53] MarcinOrlowski commented on #345
Closing, as there's no OP follow-up. Please reopen if needed.

[2021-07-13 12:20] MarcinOrlowski commented on #731
@maehne can we have "Evaluating" or "Triage" label created to mark tickets like this one?

[2021-07-13 12:28] #78 closed

[2021-07-13 13:37] Bravo555 commented on #398
Yes, tested version 3.5.0 and everything works on my end, the new timing diagram looks really good! As for me, the issue can be closed. Thank you for the fix!

[2021-07-13 14:09] maehne commented on #398
Thanks for the feedback @Bravo555!

[2021-07-13 14:09] #398 closed

[2021-07-13 14:35] #324 closed

[2021-07-13 14:44] maehne commented on #147
@MarcinOrlowski: Done.

We still have two places to edit for updating the Logisim-evolution version number:

* `gradle.properties`
* `src/main/java/com/cburch/logisim/Main.java`

[2021-07-13 14:52] MarcinOrlowski commented on #147
I think we should generate java file with version number from Gradle so any version bump would be in one place. Will take a look.

[2021-07-13 14:53] maehne commented on #365
Why not simply use `U` (unassigned) instead of `H`? This wouldn't be ambiguous and consistent with the value shown at a output port?

<img width="442" alt="image" src="https://user-images.githubusercontent.com/1174243/125474053-cc78c4af-0439-488f-9089-cce27c3bc31e.png">

[2021-07-13 14:54] MarcinOrlowski commented on #742
How much work would that require?

[2021-07-13 14:58] maehne commented on #760
I would be wary regarding spacing rules in front of punctuation marks. E.g., in French, a non-breaking space is required in front of colons and question marks. Also, French guillemets for quoting are separated by a non-breaking space from the quoted text.

[2021-07-13 15:02] MarcinOrlowski commented on #365
This is already configurable in "Simulation" as "Unknown value character", however I do not thing "Z" is doable w/o confusing with "2". Also "Unconnected color:" is there already too:

![z](https://user-images.githubusercontent.com/8041294/125475702-cb78f351-fc04-46b3-adb3-76be0b40efc1.png)

PS: mind editing the subject here too?

[2021-07-13 15:06] MarcinOrlowski commented on #760
I've seen many french translations and majority did have that. So Is it really "required"? Mind pointing to any reading or so? It'd be really strange (to some degree) to **require** anything like that. It takes more space, so what's the point.

[2021-07-13 15:06] maehne commented on #742
Without looking at the actual code, a rough guess would be something like half a day to one day. The divider is purely combinatoric, but generic and supports unsigned and signed input values. So, we should ideally create some self-checking test bench for the generated VHDL code.

[2021-07-13 15:11] maehne commented on #760
Look, e.g., [here](https://graphicdesign.stackexchange.com/questions/13697/principles-of-typography-for-different-languages) and [here](https://www.btb.termiumplus.gc.ca/tcdnstyl-chap?lang=eng&lettr=chapsect17&info0=17.07) for common typographic rules.

[2021-07-13 15:16] maehne commented on #365
I changed the title and added back the Documentation tag to remind us that documentation needs to get adjusted, too. After all, for the moment there's a mismatch between documented and actual behaviour.

[2021-07-13 15:23] maehne commented on #735
I agree, as `version` does not contain any commits, which aren't already present in `develop` and `master`. @BFH-ktt1: Do you agree as well?

[2021-07-13 15:28] maehne commented on #163
As far as I know, the TCL components are (or were?) almost exclusively at HEIG-VD in Yverdon. @reds-heig: Can you give some feedback?

[2021-07-13 15:30] MarcinOrlowski commented on #365
![z](https://user-images.githubusercontent.com/8041294/125480578-944fb8d1-6f52-49db-8347-2485cd18fc85.png)

[2021-07-13 15:31] maehne commented on #34
Most improvements were contributed over the past years by @mbaillif, but not much progress has been made documenting the new features. We need volunteers for that.

[2021-07-13 15:51] MarcinOrlowski commented on #760
Hm, that's interesting. I just browsed the French Wikipedia and indeed they do waste screen space that way. Well, learnt something new :)

[2021-07-13 15:54] davidhutchens commented on #747
If the firewall is enabled, I get that message. I have normally clicked Deny and like @maehne assumed it was related to an update check. Checking Deny hasn't caused me any issues in running the program.

However, for me, either Allowing or Denying the connection sticks. It is recorded and can be seen in System Preferences under Security & Privacy, Firewall, Firewall Options. Even rebuilding the ap

[2021-07-13 16:09] MarcinOrlowski commented on #747
This: https://superuser.com/a/328802 is pretty old anwer but maybe can lead somewhere (also I see this is quite "popular" issue):

[2021-07-13 16:45] maehne commented on #365
Personally, I would prefer capital 'U', as it would be consistent with the value shown on the port and the representation of uninitialized value in VHDL. High-Z outputs of a tristate buffer don't drive the connected signal to any value. So, it remains unknown if not driven by a different source. However, I could also live with a lower-case 'u'.

@BFH-ktt1, @edson-acordi, @davidhutchens, all: What'

[2021-07-13 16:52] maehne commented on #747
I can confirm that also on my side, my choice for the Firewall settings gets saved. It is only shown again once I install a new Logisim-evolution version to the `/Applications/` folder. If signing the app would fix this issue, this is another reason to look into distributing a code-signed version on macOS.

[2021-07-13 17:39] MarcinOrlowski commented on #365
Alternatively we can stay fully blank which  is also fine and quite logical as there's no data to display anyway. In fact this is behavior I'd personally expect having such physical device.

[2021-07-13 18:03] maehne commented on #365
@MarcinOrlowski: Indeed, this would also be a logical behaviour.

[2021-07-13 18:57] davidhutchens commented on #747
We actually specifically unsign the app in the build (see last step in the createApp task in build.gradle.kts) because it was otherwise left in a state that macOS reported as damaged. We currently have no valid developer signature to use.

Yes, this problem is probably related to it being unsigned, and may involve how different versions of macOS handle it.

[2021-07-13 19:26] MarcinOrlowski commented on #747
Should we have "Troubleshoting" chapter added to our docs explaining this particular thing to end users?

[2021-07-13 20:55] R3dst0ne opened #810 "Renaming master branch to main"
Information why we should consider it can be found [here](https://github.com/github/renaming/).

[2021-07-13 20:58] MarcinOrlowski commented on #810
Please be serious.

[2021-07-13 21:39] MarcinOrlowski commented on #396
Can we please try to evaluate if we are going to add this or not?

[2021-07-13 21:43] MarcinOrlowski commented on #309
I am closing this. The rationale is: we will have flip/mirror for single elements in foreseeable future, but, while rotating whole circuit would be great thing to have, it is pretty complicated task (internally) and not going to happen really soon.

[2021-07-13 23:59] R3dst0ne commented on #309
@MarcinOrlowski
IMHO this should stay open since:

is no reason to close an issue. Until these things get included, it should stay open.

@rkoe didn't ask for this feature. Using it as an argument to close this issue doesn't make much sense.

[2021-07-14 06:40] MarcinOrlowski commented on #309
We got 118 opened tickets right now, some date even 2015. There's no point to keep most of them hanging opened forever if no effort have been made address them for years to. Reducing ticket backlog also lets keep the focus on tasks that are more important (not to mention it makes managing tickets list easier). While OP's original request makes sense as such, due to the LsE internals adding this fe

[2021-07-14 06:43] MarcinOrlowski commented on #796
Just a note that Checkstyle is Github hosted project so fetching jar on each run is not that problematic as I formerly anticipated, therefore I am postponing the idea of developing dedicated GH action as it require some work and time I am unable to allocate.

[2021-07-14 06:48] BFH-ktt1 commented on #309
I agree that we should clean up open tickets, however, this one is for me not a ticket that should be closed. This is on my todo list for a while now: making all components rotatable. It is relatively easy to do, as it is just a question of the paint function and the location of the pins. I'll reopen it.
The reason that it was not addressed is just the limited time we have to do so. I'll go throug

[2021-07-14 06:49] #7 closed

[2021-07-14 06:49] #9 closed

[2021-07-14 06:49] #15 closed

[2021-07-14 06:49] #16 closed

[2021-07-14 06:50] #26 closed

[2021-07-14 06:50] #28 closed

[2021-07-14 06:50] #30 closed

[2021-07-14 06:51] #31 closed

[2021-07-14 06:51] #33 closed

[2021-07-14 06:51] #38 closed

[2021-07-14 06:51] #44 closed

[2021-07-14 06:54] #82 closed

[2021-07-14 06:54] #109 closed

[2021-07-14 06:55] #123 closed

[2021-07-14 06:57] #199 closed

[2021-07-14 06:57] #202 closed

[2021-07-14 06:59] #216 closed

[2021-07-14 07:00] #253 closed

[2021-07-14 07:00] #274 closed

[2021-07-14 07:01] #277 closed

[2021-07-14 07:01] #289 closed

[2021-07-14 07:02] #291 closed

[2021-07-14 07:04] #312 closed

[2021-07-14 07:04] #316 closed

[2021-07-14 07:05] #320 closed

[2021-07-14 07:05] #337 closed

[2021-07-14 07:07] #355 closed

[2021-07-14 07:08] #356 closed

[2021-07-14 07:09] #375 closed

[2021-07-14 07:10] #396 closed

[2021-07-14 07:10] #401 closed

[2021-07-14 07:11] #551 closed

[2021-07-14 07:12] #537 closed

[2021-07-14 07:13] #490 closed

[2021-07-14 07:14] #439 closed

[2021-07-14 07:14] #414 closed

[2021-07-14 07:49] MarcinOrlowski commented on #365
I made this behavior partially configurable (in code ATM:). I also changed the shape shown if HD is fed with value outside 0-15 range. We had "-" shown previously which can be misleading. Now it will show this:

![ss](https://user-images.githubusercontent.com/8041294/125584151-9795d437-58d4-4b72-9faf-aeaef4a0d703.png)

[2021-07-14 07:55] #789 closed

[2021-07-14 08:11] MarcinOrlowski commented on #764
Develop diverged (i.e. JDK14) so that would require additional editing etc. Not worth efforts. Closing.

[2021-07-14 08:11] #764 closed

[2021-07-14 08:11] #796 closed

[2021-07-14 08:26] maehne commented on #309
Once we get to the roadmap discussion, we prioritise our list of new functionalities, which we would like to add to Logisim-evolution in the near-term to mid-term future. At that point, we can check whether closed issues contain useful proposal and reference them. We can then also start assigning issues to milestones.

[2021-07-14 09:03] maehne commented on #747
For the moment, I think such platform-specific particularities could be briefly mentioned in the Download section as a note.

[2021-07-14 09:22] maehne commented on #810
I am not in favour to do this urgently. People are used to the default name to be named `master`. Many words have different meanings depending on the context. In this case it is the same, see, e.g., [Merriam-Webster](https://www.merriam-webster.com/dictionary/master). In our case, most fitting meaning is 5b "an original from which copies can be made". In our case, that branch serves as master for

[2021-07-14 10:13] MarcinOrlowski commented on #254
I reworked zoom controls so now you can go down as low as 5%. I also added 3 levels of granularity, so zoom step is smaller for lower values and increases for bigger zooms: step 5 up to 50%, then 10 up to 200% and 20 up to 1000%

[2021-07-14 11:43] lightonflux opened #815 "java v16: themes don't work"
When using java v16 instead of e.g. v11 then themes like solarized light, dracula and intellij don't work, and lead to the application not starting.

## Java version:
[code]

## Console output
[code]

[2021-07-14 12:45] MarcinOrlowski commented on #815
Looks like dupe of #566 which is already addressed in `develop`. Can you please check?

[2021-07-14 13:06] maehne commented on #815
I confirm that this bug is already addressed in the `develop` branch by PR #619, which replaced the DarkLaf look and feel with FlatLaf. @lightonflux: For the moment, you will have to build yourself Logisim-evolution from `develop` to use one of the new look and feels until we'll release a new version, which will very likely happen the latest in the early autumn when our new academic term starts. C

[2021-07-14 13:06] #815 closed

[2021-07-14 17:29] MarcinOrlowski opened #818 "Nightly builds"
I created (experimental kind of) nightly builder that is expected to be run daily (cron) and create new builds if there's any activity on develop branch during last 24 hours. For now it builds *.deb, shadow jar and source jar. Once it is stable we can add more packages.

[2021-07-14 17:53] maehne commented on #818
Great! This feature has been for long on our internal wish list! Building RPM packages should be straightforward since it only requires installation of `rpm` on Ubuntu. MSI and DMG packages need to be built on Windows 10 respectively macOS though. Nevertheless, already providing a Shadow JAR would facilitate for our users a lot testing bug fixes.

[2021-07-14 18:19] MarcinOrlowski commented on #818
Updated with RPM support. As for macOS I may need some guidance: what [runs-on](https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on) should be used for the worker? and which gradle task: `createApp` or `createDmg`?

[2021-07-14 18:34] davidhutchens commented on #818
It should use createDmg. It looks like macos-latest would work, or macos-10.15 (right now it says they are the same).

[2021-07-14 19:25] MarcinOrlowski commented on #818
Is Java installed out of the box? Do I need to install any extra devtools? if so, can you provide copy-paste lines that set up all the dev env via shell so `./gradlew createDmg` can work?

[2021-07-14 19:49] davidhutchens commented on #818
According to: https://github.com/actions/virtual-environments/blob/main/images/macos/macos-10.15-Readme.md OpenJDK 14.0.2 is installed as well as the Xcode development tools.

The Java environment variable is: JAVA_HOME_14_X64. Use that to set JAVA_HOME.

It sounds like that should be all you need to build the .dmg package.

[2021-07-14 20:14] MarcinOrlowski commented on #818
Seems it worked. BTW: is there any reason why you did [this](https://github.com/logisim-evolution/logisim-evolution/blob/bb6fd01e5218583ba0e33e5ef0745e02286e74de/build.gradle.kts#L84):

    val uppercaseProjectName = projectName.substring(0,1).toUpperCase() + projectName.substring(1)

instead of having all lowercased?

[2021-07-14 20:36] MarcinOrlowski commented on #818
@davidhutchens @maehne here's DMG for you to test: https://github.com/logisim-evolution/logisim-evolution/actions/runs/1031623910

[2021-07-14 20:54] MarcinOrlowski commented on #818
Except for Windows all platforms are now supported on nightly. Here is output from example run:

https://github.com/logisim-evolution/logisim-evolution/actions/runs/1031646246

[2021-07-14 21:00] davidhutchens commented on #818
The name that jpackage uses for the appname gets incorporated into the application in various ways including the Info.plist file. Using a lower case letter looked strange mixed with the other references within the program. That change makes the app look better. jpackage also uses the appname to name the .app directory and the .dmg file.

The names that you changed in build.gradle.kts do not SET th

[2021-07-14 21:06] MarcinOrlowski commented on #818
Hm, ok. I will take a closer look later then. Thanks.

As for ZIP archived artifacts. It is Github's:

https://github.com/actions/upload-artifact#zipped-artifact-downloads

[2021-07-14 21:41] davidhutchens commented on #818
Actually, with respect to package names, jpackage does weird things including using _ or - on different linux packages. I wonder if we might add a final step to each build that moves the package into a name format that we make consistent across platforms.

[2021-07-14 22:23] MarcinOrlowski commented on #818
And here comes Windows support:
https://github.com/logisim-evolution/logisim-evolution/actions/runs/1031904141

[2021-07-15 08:06] MarcinOrlowski commented on #818
That's actually a good idea and I think bests place to normalize the names. Could you please take care of this?

[2021-07-15 08:12] maehne commented on #818
**Attention:** As far as I remember at least DEB and probably RPM files have their own naming convention, which should be followed. These impose where dashes and where underscores separate file name parts and how the package version should be indicated. If these are not respected, there may be errors generated by the package managers.

[2021-07-15 08:28] MarcinOrlowski commented on #760
sync tool needs to understand also the case where "in sync" means that B file has the `# ==> key =` for corresponging `key` in A and be told to consider this entry in sync as well as fully translated ones, otherwise we will never have *.properties in sync as we do not have translators on-board 24/7

[2021-07-15 09:04] MarcinOrlowski opened #821 "Normalize package file names"
We need to normalize how package files (*.deb, *.rpm, *.dmg, *.msi, *jar) are named as there are might be platform specific requirements that require specific naming while building. Yet, final **file** can most likely be safely renamed to our liking and this ticket is all about that.

@davidhutchens [proposed](https://github.com/logisim-evolution/logisim-evolution/issues/818#issuecomment-880228963

[2021-07-15 09:05] MarcinOrlowski commented on #818
Closing this one as nightly is merged. I created #821 to follow-up with name normalization.

[2021-07-15 09:37] R3dst0ne commented on #760
As mentioned in [#761 (comment)](https://github.com/logisim-evolution/logisim-evolution/pull/761#issuecomment-873411408) this is with the current implementation not possible.
The script, in its current form, was never meant to check for synchronism.

I propose rewriting the script with these checks (sync and content) in mind.
(In one week I will have enough free time to do so.)

[2021-07-15 12:03] davidhutchens commented on #821
Given @maehne's comment in #818 about the package name assumptions in Linux distributions, this sounds like a bad idea with respect to the main packages. So I withdraw my suggestion, and propose we leave the package names as they are.

We could create special nightly build names, if that sounds appropriate to everyone. I'll wait for more comments.

[2021-07-15 12:12] MarcinOrlowski commented on #821
As definitely there are some guidelines, I am pretty certain that what is proposed above pretty much follows common practices. While I cannot tell for all the cases, I am pretty sure i.e. *deb is compliant. Other are also easily verifiable. The only thing are the nightlies, but that's definitely not a problem either. We do not need to follow strictly unless we want to contribute to main repository

[2021-07-15 15:10] MarcinOrlowski opened #824 "Separate documentation from code"
We shall consider separating documentation from code. This brings several pros and cons:

Pros:
* we can update docs any time, independently from app release cycles
* instant fixes
* community can easily address typos, grammar and other issues

Cons:
* requires on-line access (we can still have some form generated form online versions (i.e. PDF from HTML))
* maintaining multilingual docs is challe

[2021-07-16 07:29] #365 closed

[2021-07-16 12:44] skywylder opened #826 "Duplicate pins in appearance"
When I save and reopen a file in Logisim evolution, my circuits produce oscillation errors as the save has duplicated output pins and put them where my input pins are. This happens only in 2 of my subcircuits, those are LOAD_REGISTER and READ_RAM_BCD. I would attach my file here but GitHub won't let me. I have however attached a screenshot of the result.
<img width="845" alt="Screen Shot 2021-07-1

[2021-07-16 12:56] MarcinOrlowski commented on #826
Github allows ZIP archives.

[2021-07-16 13:55] skywylder commented on #826
[IGZ02e.circ.zip](https://github.com/logisim-evolution/logisim-evolution/files/6831109/IGZ02e.circ.zip)
How did I not think of this

[2021-07-16 14:25] #794 closed

[2021-07-16 18:21] davidhutchens commented on #747
I will compose something about platform-specific installation issues on macOS for the Download section. I will also fix the duplicate word @maehne noted in PR #819 and make another pass over the English in those sections.

[2021-07-16 18:24] MarcinOrlowski commented on #747
Great, thanks David.

[2021-07-16 18:30] davidhutchens opened #827 "Followup to nightly builds"
I suggested @MarcinOrlowski use the environment variable JAVA_HOME_14_X64 to set the JAVA_HOME environment variable. From the Docs, that was the latest release on the system. But the Docs may be out of date. It is possible there is a newer version. On my Mac, the program /usr/libexec/java_home returns the location of the latest Java version. You could try that, or check to see if Java 15 or Java 1

[2021-07-16 19:04] MarcinOrlowski commented on #760
I just released `prop-tool` utility (https://pypi.org/project/prop-tool/) which implements all the above, so I think this ticket can now be closed.

[2021-07-16 19:24] MarcinOrlowski commented on #827
Can we combine your efforts with #821 (Normalize package names), so we can eat cake and have cake? :)

[2021-07-16 19:27] R3dst0ne commented on #760
As long as it is not implemented, this issue should stay open.

PS. It seems the link to the GitHub repository is not working.

[2021-07-16 19:29] MarcinOrlowski commented on #821
Debian naming convention: https://www.debian.org/doc/manuals/debian-reference/ch02.en.html#_debian_package_file_names which means, for the binary package (*.deb): `<package-name>_<upstream-version>-<debian-version>_<architecture>.deb`. So we are good here.

RPM naming convention: https://docs.oracle.com/en/database/oracle/oracle-database/19/ladbi/rpm-packages-naming-convention.html so i.e. `The na

[2021-07-16 19:34] MarcinOrlowski commented on #760
Fixed.

[2021-07-16 19:39] davidhutchens commented on #821
Our rpm package has the underscore in the middle of the architecture description: x86_64, so our current name conforms.

Note that all our names are the ones produced by Java's jpackage utility. We are not changing them. So it isn't surprising that they match the expectations.

I think we should just leave the names alone since they are what the platforms expect.

[2021-07-16 19:45] MarcinOrlowski commented on #821
I good with that. My only pain was that for macOS we had capitalized first letter of filename, which made exception for nightly. And exceptions are bad.

[2021-07-16 20:09] davidhutchens commented on #821
I have a version of build.gradle.kts that builds the Mac application with an uppercase letter (so it looks right when running), but uses a lowercase letter on the dmg name. That is slightly odd, but not too bad.

[2021-07-16 20:10] davidhutchens commented on #827
Did you get a chance to test the createDeb build?

[2021-07-16 20:19] MarcinOrlowski commented on #821
Maybe I do not understand the problem with this. Please educate: what I want is whatever final package **fille** we buiild its name is all lowercased. That's simplifies the further steps. What is the probilem with macOS is DMG **file** name is all lowercased?

[2021-07-16 20:25] davidhutchens commented on #821
I said it is slightly odd. It is not a particular problem. My previous comment was intended to say that I have that working and I can do that when I fix the #827 issues.

[2021-07-18 20:47] jxu commented on #45
This is done with logisim test vectors right? If we still need unit tests for individual components I can help create some.

[2021-07-19 11:03] MarcinOrlowski commented on #45
We desperately needs unit tests here. If you can contribute, you are more than welcome to send your PR

[2021-07-19 11:07] MarcinOrlowski commented on #760
Just a comment I significantly updated [proptool](https://github.com/MarcinOrlowski/prop-tool) so now it can do more checks on both base files and the translations. It still probably misses some small things to fully fit the task of guarding properties here but that's should happen in days.

[2021-07-19 18:01] jxu commented on #45
Which circuits need testing? I'm not that familiar with anything beyond basic logic gates like the 7400 series

Also should this issue be reopened or a new issue?

[2021-07-19 18:41] jxu opened #830 "Test vector from command line documentation"
In Logging > Test Vectors, it says to test with `logisim -test <circuitname> <vector.txt> <project.circ>`, but the command line options from `java -jar logisim-evolution.jar` show "-test name file   run test vector from a file against named circuit, then exit" and "-test-circuit <path_to_circ> open up a circ file and start the test bench within it. It retuns Success or fail."

[2021-07-19 18:43] jxu commented on #824
Docs on which components? I am a fan of maintaining documentation for internals (like specific classes) with the code itself

[2021-07-19 18:54] jxu commented on #830
I've tried `java -jar logisim-evolution.jar -test main and_gate.circ and_gate.txt` and `java -jar logisim-evolution.jar -test and_gate.circ  and_gate.txt` but neither work. So the documentation is unclear.

[and_gate.zip](https://github.com/logisim-evolution/logisim-evolution/files/6843228/and_gate.zip)

[2021-07-19 18:55] jxu commented on #45
Here is a simple test I did with a handwritten test vector. For more complicated circuits, it is worth using a script to auto generate test vectors.

[and_gate.zip](https://github.com/logisim-evolution/logisim-evolution/files/6843232/and_gate.zip)

[2021-07-19 21:08] MarcinOrlowski commented on #824
"from code" means from app. That would allow independent release cycles, faster updates, easier contributions. This ticket is related to end user docs, not code docs.

[2021-07-19 21:44] jxu opened #831 "Snap shapes and lines to grid in circuit appearance"
Is there a way to get a fixed size rectangle for circuit appearance?

[2021-07-19 21:58] jxu commented on #831
From looking at the XML it appears that everything is integer grid snapped, which is much easier to control when zoomed in. But it would be nice if I could automatically make grid aligned shapes.

![Screenshot from 2021-07-19 17-57-36](https://user-images.githubusercontent.com/7989982/126232786-61ecf69e-bfd7-4325-a729-2752b74539a8.png)

[2021-07-19 22:24] MarcinOrlowski commented on #831
Mind being more precise on what is desired result?

[2021-07-19 23:04] jxu commented on #831
Able to draw rectangles and lines with vertices snapping to the grid, like apparently for the ports

[2021-07-20 08:20] R3dst0ne commented on #830
In `Command-line verification > Test Vectors` at the bottom it is described how to use it.
`java -jar logisim-evolution.jar -testvector <circuitname> <vector.txt> <project.circ>`

for your example, it would be:
`java -jar logisim-evolution-3.5.0-all.jar -testvector main and_gate.txt and_gate.circ`

[2021-07-20 08:52] MarcinOrlowski commented on #831
So you mean being able to draw shapes on the circuit like lines etc, which are not part of circuit (i.e. no wires, no element shape), correct?

[2021-07-20 12:29] davidhutchens commented on #831
@jxu  is not drawing on the circuit. He is drawing on the circuit appearance. That is, he is drawing the way the circuit looks when placed in a higher level circuit. Drawing the rectangle in his picture above does not "snap to grid"; so the designer must carefully align it. I would do so at high zoom. The request that it optionally snap to grid is reasonable. Sometimes, it shouldn't be on the grid

[2021-07-20 16:40] jxu commented on #831
That's correct. I'm talking about circuit appearance mode.

[2021-07-20 16:59] jxu commented on #831
I don't know any Java but it should be controlled here (code is named well but not commented)

https://github.com/logisim-evolution/logisim-evolution/blob/b698a76154c8f15e377056ee9237da160c9822fc/src/main/java/com/cburch/draw/tools/RectangularTool.java

[2021-07-20 17:08] jxu commented on #831
Looking through the code and reading the documentation carefully apparently this is already possible by holding down Ctrl.

[2021-07-20 17:08] #831 closed

[2021-07-20 23:26] trayres opened #832 "Copying/Pasting RAM, then moving it twice, causes it to disappear"
How to reproduce:
Select RAM item
Copy/Paste (Ctrl+C, Ctrl+V on Windows)
Move copied item once. While it is still selected, move it again.
The part will disappear, but selection handles will remain in its place.
Now, you can click into where the RAM is supposed to be and, while it is selected, move it again.
Doing this over and over can create a bunch of handles for parts that aren't there.

![ima

[2021-07-21 00:59] davidhutchens commented on #832
I could not duplicate this behavior on my Mac using our latest builds. Yes, I know you are using Windows. But It might help to narrow things down if you could give us the version of Logisim-evolution you are running.

[2021-07-21 04:05] trayres commented on #832
![image](https://user-images.githubusercontent.com/168285/126429246-c20820c5-658d-4e3e-84b1-164b291405b5.png)

[2021-07-21 06:30] trayres commented on #79
Hopefully this helps someone else - if you're looking to do a simple dual port style RAM, and clocked behavior is good enough (i.e. not a true dual port SRAM):

It looks like you can model one by using a RAMCLK that is 2x the SYSCLK, then simply take the first cycle to write both memories, and the second cycle to do both reads. This is a "write-first" style simple dual port style RAM:

![image](ht

[2021-07-21 06:35] trayres opened #833 "Can't build a pass transistor based FF"
![image](https://user-images.githubusercontent.com/168285/126442069-4718bc45-9674-423c-830c-58ac3ea283ea.png)

This says oscillation, but it shouldn't register as an oscillation - it is a combinatorial loop, but it should stabilize. I'm not familiar with the codebase, can someone give me some pointers to look at the simulation engine?

[2021-07-21 07:06] trayres commented on #833
This works though (SR FF):
![image](https://user-images.githubusercontent.com/168285/126446144-08fabdf1-92cf-4d1f-82cc-4a42157e96b7.png)

[2021-07-21 09:23] MarcinOrlowski commented on #79
You may want to attach ZIPed *circ file. Also I'd recommend posting this in Discussions

[2021-07-21 19:58] R3dst0ne opened #836 "Exemption in ShiftRegister"
While working on #835, I discovered this exemption:

    Exception in thread "AWT-EventQueue-0" java.lang.ArrayIndexOutOfBoundsException: Index 4 out of bounds for length 1
        at com.cburch.logisim.std.memory.ShiftRegisterData.get(ShiftRegisterData.java:69)
        at com.cburch.logisim.std.memory.ShiftRegister.paintInstanceEvolution(ShiftRegister.java:446)
        at com.cburch.logisim.std.m

[2021-07-21 22:44] jxu commented on #830
OK I found out I had mistakenly been using an old 2.14 jar

[2021-07-21 22:44] #830 closed

[2021-07-21 22:46] jxu commented on #832
Upload a MWE if possible

[2021-07-21 22:57] MarcinOrlowski commented on #832
You meant [MCVE](https://stackoverflow.com/help/minimal-reproducible-example)?

[2021-07-21 23:01] jxu commented on #832
many acronyms for the same thing

[2021-07-21 23:05] MarcinOrlowski commented on #832
mind expanding your `MWE` then? :)

[2021-07-22 06:56] trayres commented on #832
I have not been able to reproduce this effect, let alone reproduce it in a MCVE.

I'll close the issue and re-open if I can duplicate the effect reliably.

[2021-07-22 06:56] #832 closed

[2021-07-22 07:24] trayres commented on #79
Sorry, I put it here because it was at the top of the Google results so I thought it would be useful.
Moved to discussion here:
https://github.com/logisim-evolution/logisim-evolution/discussions/838

File and test bench located here:
https://github.com/trayres/logisim-evolution-examples/blob/main/sdp_export.circ

[2021-07-22 08:30] maehne commented on #826
@skywylder: I had a look at your `.circ` file. Indeed, the symbol contains 4 input pins, which reference the very same input pin in the schematic. How this happened, I can only speculate. Your block `LOAD_REGISTER` is essentially empty except for input/output pins and do not connects:

<img width="379" alt="image" src="https://user-images.githubusercontent.com/1174243/126608670-8207880e-1b21-4b50-

[2021-07-22 08:53] maehne commented on #747
If we should decide to sign our macOS app at some point, there seems to be no way around paying the yearly 99 USD fee to obtain the [necessary Apple-signed certificate](https://developer.apple.com/programs/whats-included/). The good thing is that the certificate can be safely used also in GitHub Actions to automatically build and sign the application, as the [GitHub docs](https://docs.github.com/e

[2021-07-22 09:38] maehne commented on #833
Circuits with combinatorial loops, in which the signal values don't stabilise within the configured iteration limit, will trigger this "oscillation apparent" error. See the Logisim documentation under Logisim References -> Guide to Being a Logisim User -> Value propagation -> Oscillation errors. You will observe similar errors in other event-driven digital simulators when your combinatoric gates a

[2021-07-22 09:38] #833 closed

[2021-07-22 10:13] maehne commented on #79
@BFH-ktt1: Was this issue accidentally closed? Your overhauls of the RAM component in PR #312 and PR #315 don't seem to have added the capability to configure the RAM component as dual-port RAM with independent addresses per port.

[2021-07-22 10:17] MarcinOrlowski commented on #833
Alternatively you may want to check [Digital](https://github.com/hneemann/Digital) instead, which uses different simulation approach and have this supported.

[2021-07-22 13:53] mbaillif commented on #824
Some points to defend or not the idea.

a) Currently the end user documentation is in HML and we use javahelp2 from Sun which only supports HTML 3.2 and CSS1 (1987).
b) Lately I have modified this html so that it is still compatible with javahelp, but also with the more modern browsers which could make it a bit strange.
These changes have improved the cosmetics of the pages, but it makes it more d

[2021-07-22 16:44] jxu commented on #824
Some answers

The user docs are available with the program? Is that what you mean by offline?

GitHub pages offers free hosting for static pages which should be sufficient.

[2021-07-26 12:57] R3dst0ne commented on #254
Since #814 zooming in/out with the thumb pad can lead to very precise numbers.
![zoom_thumbpad_1](https://user-images.githubusercontent.com/62245695/126992176-4ff3783c-032e-4884-a846-c18cd63d62f6.PNG)
![zoom_thumbpad_2](https://user-images.githubusercontent.com/62245695/126992188-54782eb9-f774-439a-8c91-a2b807154ecf.PNG)
Using the `Auto` size button also sets very precise numbers.
![zoom_auto](htt

[2021-07-26 13:59] MarcinOrlowski commented on #254
Oh :( I thought I was rounding this so something sane. Apparently not. Will fix it.

[2021-07-28 09:53] zdimension commented on #776
I just noticed a Wikipedia page exists for the original Logisim, in French, [here](https://fr.wikipedia.org/wiki/Logisim?oldformat=true)

[2021-07-28 10:12] zdimension commented on #776
I've updated the [draft](https://en.wikipedia.org/wiki/Draft:Logisim-evolution), can you have a look @MarcinOrlowski @maehne ?

[2021-07-28 10:29] zdimension commented on #756
I absolutely agree that analytics is a must-have, but it's essential that we don't end up like Audacity when Muse Group added (opt-in) analytics a few weeks ago, which caused quite an uproar in the community

[2021-07-29 19:21] MarcinOrlowski opened #840 "Review PL translation file"
As per comments in #839, Polish translation file looks like demanding some housekeeping as it may be out of sync.

[2021-07-30 16:34] MarcinOrlowski opened #843 "Tightening PR merge flow"
Thanks for merging @BFH-ktt1 #823. `CODEOWNERS` seem to be now automatically assigned for code review but the repo now needs additional configuration tweaks to make sure no non-reviewed PR slip by.

So I'd like to propose additional repository configuration changes (these needs to be done twice -> for `develop` and `master` branch respectively):

1. In repository `Settings` go to `Branches` "pane,

[2021-07-30 16:48] MarcinOrlowski commented on #827
Hm, I got a feeling nightly is not being run as expected. There's not much traffic in code base these days but I'd still expect a few builds anyway?

[2021-08-03 17:11] MarcinOrlowski opened #847 "English language strings scream for a cleanup"
While working on #840 I noticed that original (English) strings are of moderate quality. Major issues I spotted

* Lack of string context: That's a big problem for translators are unless they know the app inside out and all strings by heart, they cannot really tell from the key if this string is ie. a button and should be short or maybe it can be longer. Where it is used. We should ass some more c

[2021-08-05 22:22] MarcinOrlowski opened #854 "Moving all code related stuff into subfolder"
I am considering moving all the project code relate stuff into subfolder. Here's why...

When you open current project page, you get this view:

![ss](https://user-images.githubusercontent.com/8041294/128428031-d329d806-4e6a-4e4a-8e9a-bfe889be011f.png)

If you are a developer, that's nothing that's bother you, but if you are not a dev, but just look for a tool then that page can be extremely confu

[2021-08-06 00:00] #854 closed

[2021-08-07 02:21] thejonmonte opened #858 "Will there be support for adding Verilog modules instead of VHDL entities?"
Hi,

I'm just wondering if there will be support for adding Verilog modules to LogiSim Evolution schematics rather than VHDL entities. I'm curious as I am prepping a Verilog curriculum for students and would like to let them see how their code works visually. Thanks!

[2021-08-07 03:37] #858 closed

[2021-08-09 00:45] ghost opened #861 "Incorrect data loaded into RAM/ROM"
If loading a file into RAM or ROM that starts with any number of zero bytes followed by any number of non-zero bytes, the leading zero bytes will instead be replaced with uninitialized garbage data that is different each time you load it. This happens on both master and develop branches.

For example, if you load a file that looks like this:

    v3.0 hex bytes plain little-endian
    000000006700

[2021-08-09 01:23] kokowadoko commented on #861
Occurs on OpenJDK 11 as well.

[2021-08-09 03:01] davidhutchens commented on #861
I tried to reproduce this on my Mac with the current develop branch. Using the example file you gave, I consistently get the expected number of zeros loaded into ROM (or RAM) before the 67. I know you said you were using Arch Linux, but I would expect the same behavior on all platforms for this.

Could someone try to reproduce this in Linux?

[2021-08-09 06:18] carbonmetrics opened #862 "Logisim does not show connector pins"
[vm0007_redd.circ.zip](https://github.com/logisim-evolution/logisim-evolution/files/6959735/vm0007_redd.circ.zip)
I am trying out Logisim 3.5.0 Evolution on a Linux Mate 20.04 system (both the deb 64 version and the Java version).

The connections on the gates do not show up.
I see on Youtube tutorials that they should be highlighted blue.
I can't connect my pins; they remain on `x1`.

![image](ht

[2021-08-09 11:58] kokowadoko commented on #861
I've encountered a few bugs since (editing ROM contents in the hex editor then clicking somewhere on another value corrupts a bunch of nearby values, and N-type transistors aren't propagating source to drain when the gate is high, and only when the source is high as well). Unless you can reproduce those bugs, then I'm starting to think there might be something wrong with my java installation. I'll

[2021-08-09 14:06] BFH-ktt1 commented on #861
For the transistors please note that logisim is not an analog simulator, but a digital one, meaning that the transistors will only simulate the behavior of switches, and only if correctly connected. Hence please check your transistor circuit on correct usage.

[2021-08-09 14:32] kokowadoko commented on #861
I'm aware, but looking at the documentation it seems like this should work:
![1628519156](https://user-images.githubusercontent.com/8852840/128722719-4db4eeff-95d7-49ab-8598-9f8856dec7b0.png)
But instead the output is floating where it should be 1.

Interestingly, it works correctly when the source is 0:
![1628519291](https://user-images.githubusercontent.com/8852840/128722937-95b81758-c4a0-4768-a

[2021-08-09 14:59] kokowadoko commented on #861
Oh, it seems like the behavior of the N-type transistor actually changed in logisim-evolution. I guess this isn't a bug then. Although I think there's a mistake in the docs.
![1628520731](https://user-images.githubusercontent.com/8852840/128726979-60988e06-c54d-4b7e-9342-b36dd69209ea.png)
The circled parts are in conflict with each other, I think.

The RAM/ROM corruption issue is still open though

[2021-08-09 15:59] MarcinOrlowski commented on #862
Can you please please ZIP your example `.circ` file and attach to ticket?

[2021-08-09 17:15] kokowadoko commented on #861
Ok, somehow I solved it by deleting ~/.java which contained the logisim preferences, so it was just a bad configuration all along.

Closing.

[2021-08-09 19:54] simoc opened #863 "Shift Register documentation of pins is out-of-date"
Description of pins for Shift Register in online help under Help -> Library Reference does not match the pins displayed in a Shift Register component.

Pins are described along the north and south (top and bottom) of a Shift Register component, but logisim does not display pins in these positions.

[2021-08-10 07:24] carbonmetrics commented on #862
Thanks! File attached to ticket.
The connectors show up sometimes, and then the whole program works.
This is about 1 in 20 times when I start up the program.
I have not been able to reproduce the behaviour.

[2021-08-10 09:19] R3dst0ne commented on #862
It seems

is sometimes enabled.
In this case this is not an issue with the pins but with saving/loading the preferences.

[2021-08-10 09:26] R3dst0ne commented on #863
It currently only describes the `Classic Logisim` `Appearance`.
`Logisim-HolyCross` is the current default `Appearence`.
A description for the new `Appearence` is needed, but the `Classic Logisim` should not be removed.

[2021-08-10 11:28] carbonmetrics commented on #862
Yes! That seems to solve the problem. I don't think I would have ever found this. Thanks!

[2021-08-10 12:50] davidhutchens commented on #863
There is a significant issue with different appearances in the documentation. RAM and ROM, for example, only show the Classic Logisim appearance and description. The Counter shows both pictures, but only describes Classic. The Register shows both pictures and describes a mix of them (sometimes accurate for one, sometimes for the other - see the enable or reset description).

We need a consistent,

[2021-08-11 03:50] Antares95 opened #867 "RISC-V IM simulator, blt instruction bug?"
asm code:
[code]
does not jump to pc+0x100

logisim-evolution version is (commit 374a72318ecd0c16b7c077a2260753a1ffc2861c)

[2021-08-12 14:25] MarcinOrlowski commented on #867
Are you able to test using bleeding edge code (`develop` branch)?

[2021-08-12 14:35] davidhutchens commented on #863
We do not intend to leave the documentation describing only the classic version. We appreciate your work in updating the documentation. But we really need the documentation to describe all the appearances in a clean, simple manner. That requires some careful thought.

[2021-08-13 02:03] Antares95 commented on #867
Yes, `develop` branch (version: commit 4a8dd3707afede432bbad9990b74e837248a5b81) seems to have same issue

[2021-08-13 07:07] BFH-ktt1 commented on #867
This is possible, the Risc-V IM simulator was never tested in all details. Please also note that interrupt handling is not yet implemented for the Risc-V IM simulator. I will look into the details

[2021-08-13 07:11] BFH-ktt1 opened #868 "Dot matrix and LED bar HDL generator bugs"
Both the dot matrix and the Led-bar (which uses the dot-matrix hdl generator) generate in some corner cases still incorrect HDL-code. This needs to be fixed.

[2021-08-13 07:28] BFH-ktt1 commented on #862
Closing the issue

[2021-08-13 07:28] #862 closed

[2021-08-13 07:33] BFH-ktt1 commented on #843
I just put in those two rules. Closing the issue

[2021-08-13 07:33] #843 closed

[2021-08-13 10:13] BFH-ktt1 commented on #569
fixed in my latest PR, closing

[2021-08-13 10:13] #569 closed

[2021-08-13 10:13] BFH-ktt1 commented on #868
fixed in my latest PR, closing

[2021-08-13 10:13] #868 closed

[2021-08-13 13:54] MarcinOrlowski commented on #818
Reopening as I do not see nightly worker doing anything. Can I be given rights to project Actions to investigate/debug or anyone (@BFH-ktt1?) can take a look there?

[2021-08-13 13:59] BFH-ktt1 commented on #526
Fixed by my latest PR, closing

[2021-08-13 13:59] #526 closed

[2021-08-13 14:16] BFH-ktt1 commented on #818
@MarcinOrlowski , I gave you maintainer rights. We will see with the roadmap discussion how to handle the rights. Let me know if this works for the debugging

[2021-08-13 14:53] davidhutchens commented on #827
I am closing this issue since the bugs were fixed in #829 and @MarcinOrlowski has reopened #819 where he can address the suggestions in the first paragraph if he wishes.

[2021-08-13 14:53] #827 closed

[2021-08-13 14:55] davidhutchens commented on #821
I think this issue can now be closed.

[2021-08-13 15:16] #821 closed

[2021-08-13 15:48] BFH-ktt1 commented on #867
Unfortanetely it was just a stupid typo in the assembler. Fixed in my latest PR. Closing

[2021-08-13 15:48] #867 closed

[2021-08-13 17:15] BFH-ktt1 commented on #826
This issue is more involved as seen in the first take.
The problem mentioned by @maehne is related to a null-pointer exception in the sorting algorithm of the xml-writer. This can be easily fixed. However, this is not a complete solution to the problem reported by @skywylder. It is even more complex, as loading a circuit A and writing it to a new file B (save as), than closing logisim, opening the

[2021-08-13 18:49] MarcinOrlowski commented on #827
Sorry @davidhutchens  I missed that one (I got tons of GH notifications and miss one occasionally). I am going to check that as nightly is not working (IMHO), so that's good moment to see why. Will keep you posted.

[2021-08-13 20:15] MarcinOrlowski commented on #863
I think we need to drop legacy stuff. IMHO there's no point nor benefit from referring to legacy code or other forks (even if we get from them). All of these is dead for a long time. Maintaining legacy costs and I see no point of paying the rpice.

Let's discuss this as part of #695

[2021-08-13 20:36] MarcinOrlowski commented on #861
I'd not close it that quickly. Invalid prefs content should be just dropped instead of affecting the app. Can we somehow re-instantiate the old contents to see what cause the confusion?

[2021-08-14 09:17] kokowadoko commented on #861
I don't think so. I don't have a backup of it.
The config was created years ago by original logisim, read (and maybe modified) by logisim-evolution more than a year ago, then fast forward to now testing out logisim-evolution again with the same config.
I tried to reproduce the config by deleting the config, running original logisim, running an older release of logisim-evolution from about a year a

[2021-08-14 09:22] mbaillif commented on #861
I note, I will correct the transistor doc problem.

[2021-08-14 09:41] mbaillif opened #873 "The controlled buffer two problems"
A) It does not have an IEC shape while the icons on the right exist.

B) Its output is (in my opinion) inconsistent, when its input is high impedance and its control is 1.

![image](https://user-images.githubusercontent.com/42096681/129441834-34624d60-1e9d-4898-9d0b-30ea8bf596e7.png)

In the red square of the figure
I will make high impedance input -> output in error.

[2021-08-14 09:56] BFH-ktt1 commented on #873
To A) I reported this already in #264. the problem is backward compatibility. As the controlled buffer in ANSI is very little, it is difficult to "cram in" the IEC symbol. Hence to do a proper job we have to drop backward compatibility on these components.
To B) I agree

[2021-08-14 11:01] BFH-ktt1 commented on #826
The problem really lies in the fact that the input is directly connected to the output, and the fact that a custom appearance is used. The custom appearance uses the position of the pins in the circuit to make a reference to the pins in the appearance. The problem here are:
1) Distinguish the correct input/output pin.
2) If multiple output pins are placed on top of each other (something that logis

[2021-08-14 13:20] BFH-ktt1 commented on #826
All the issues have been addressed in my latest PR. Closing the issue, please reopen if the problem persists.

[2021-08-14 13:20] #826 closed

[2021-08-14 13:59] MarcinOrlowski commented on #826
Can you please add link to mentioned PR here for a record?

[2021-08-14 14:59] #818 closed

[2021-08-14 16:13] BFH-ktt1 opened #878 "dotmatrix mapps incorrectly to LED-Array"
When mapping a dot-matrix to the LED-Array (currently checked for input-format colums) will invert the rows on the LED-Array

[2021-08-14 16:21] BFH-ktt1 commented on #878
Same holds for input-format rows, it will invert the columns
if input format row cols, it will invert the rows

[2021-08-14 16:41] BFH-ktt1 opened #879 "Logisim simulation frequency incorrect"
When selecting a tick-frequency the clock generators simulate with a clock frequency of the tick-frequency, which is incorrect, as the clock generator takes (when configured for 1 Tick high, 1 Tick low) 2 ticks for 1 clock cycle. This renders the hardware and simulation out of sync.

[2021-08-14 16:44] BFH-ktt1 commented on #879
Hence a tick-frequency of 1 Hz results in the most optimal case in a clock frequency of 2 Hz (when configured for 1 Tick high, 1 Tick low)

[2021-08-14 16:52] BFH-ktt1 opened #880 "Rotated led Array"
Currently the LED-array assumes that in the board picture the x-axis represents the columns and the y-axis represents the columns. This is nice if the board-picture can be made as such. However,  like the GECKO4Education* boards, the LED-array is rotated (-90° or 90° would do). it would be nice to adapt the LED-array to these rotations.

[2021-08-14 16:53] BFH-ktt1 commented on #879
It prevent the hardware and simulation to be in lock-step (besides from jitter)

[2021-08-15 07:49] MarcinOrlowski opened #884 "Project icon"
I think we need something better than this:

![logisim-icon-128](https://user-images.githubusercontent.com/8041294/129462363-cb0aed55-830d-4689-a042-7e5e812242b2.png)

Anyone with artistic skills, please contribute.

The only requirement for your contributions: it **MUST** be a SVG (vector) file. [Inskape](https://inkscape.org/)? [Krtita](https://krita.org/en/)? [Whatever](https://www.google.com/s

[2021-08-15 10:01] #879 closed

[2021-08-15 11:42] BFH-ktt1 commented on #880
It should also be applied to the seven-segment display and Dipswitch component, as the current "rotated" version is not correct.

[2021-08-15 11:47] #878 closed

[2021-08-15 11:53] R3dst0ne commented on #884
\- @BFH-ktt1 in [#721](https://github.com/logisim-evolution/logisim-evolution/issues/721#issuecomment-867922570)

IMHO, the same goes for the icon.

We could add a detail to make it easier to differentiate from the original Logisim.

@BFH-ktt1, @maehne
what do your think?

[2021-08-15 18:59] mbaillif commented on #873
The #264 escaped me,

I notice, that buffers and non have this symbol compatible in size and very similar.
Maybe a deviation from the IEC rules. I don't know.

Is it usable, acceptable ?

I imagine you have already thought of this, it's just to transcribe my thoughts.
And there are other issues I don't know about.

[2021-08-15 19:12] mbaillif opened #890 "Problem with the symbols "Floating point to Integer" and "Integer to Floating point""
![image](https://user-images.githubusercontent.com/42096681/129489673-ad0fa804-c67c-4841-83e8-c3690d7a0005.png)

Icons and symbols of arithmetic components "Floating point to Integer" and "Integer to Floating point" are not very satisfactory.

Test under windows 10   language FR-CH

[2021-08-15 22:05] Naheel-Azawy commented on #84
Digital is nice but logisim-evolution has some other features that I find interesting. @roy77 can you please share your fork? It seems that it has been deleted

[2021-08-16 19:53] simoc commented on #890
Maybe the text in the components would be correct if `\u2192` was used instead of `→` in the following Java source code:

FPToInt.java:

83: setIcon(new ArithmeticIcon("I→FP", 2));
103: painter.drawPort(OUT, "F→I", Direction.WEST);

IntToFP.java:

83: setIcon(new ArithmeticIcon("I→FP", 2));
102: painter.drawPort(OUT, "I→F", Direction.WEST);

[2021-08-19 13:21] BFH-ktt1 commented on #884
I agree to add some detail to it, but would stick with the design to acknowledge the work of Carl Burch

[2021-08-19 13:29] MarcinOrlowski commented on #884
IMHO there's absolutely no point of dragging the legacy just to drag the legacy **if** we can go better. Carl is acknowledged in the credits already.

[2021-08-20 06:53] Antares95 opened #897 "Display problem after Fix #867"
Display problem after Fix #867

Use Risc-V IM Simulator's assembler write assemble code:
[code]
Then click "Run the code" button, and then start the simulator.
That BLT instruction display as "blt a2, a1, pc+256"(should be "blt a1, a2, pc+256"), but the execution result is correct.

version: c4a87e12894b1d54f70a671fadd535b102078b2d

[2021-08-21 05:41] #880 closed

[2021-08-21 15:03] BFH-ktt1 commented on #897
Closing this issue, it should be fixed with my latest PR. Please reopen if the problem persists

[2021-08-21 15:03] #897 closed

[2021-08-21 15:58] MarcinOrlowski commented on #884
It is kinda tricky to come with nice icon that also stays readable when go low with the resolution (i.e. titlebar icon). So after some iterations I come with something like this:

![logisim-icon-128](https://user-images.githubusercontent.com/8041294/130327578-a418a020-5036-4d47-8d4c-9e45a930b405.png)

Which just as simple as old icon, but different enough. Also it looks fine when scaled down to wi

[2021-08-22 10:47] mbaillif commented on #873
it is noted, I resume in al doc as soon as possible

[2021-08-22 12:17] BFH-ktt1 commented on #873
@mbaillif : Please nite that the buffer has the same Problem B). I also corrected here the behavior. Thanks for updating the doc!

[2021-08-22 20:18] z80jon opened #910 "74161 has improper behavior"
This should be a fairly easy fix--the datasheet for the 74161 specifies that clearing is asynchronous--no clock pulse is needed, and enable/load line states are irrelevant. The moment nClear transitions low, all flip flops are set to 0 and the outputs reflect this change.

However, the 74161 in Logisim Evolution behaves more like a 74163--it only clears once a clock pulse comes in and nClear is lo

[2021-08-22 20:23] z80jon commented on #910
Link to relevant file: https://github.com/logisim-evolution/logisim-evolution/blob/374a72318ecd0c16b7c077a2260753a1ffc2861c/src/main/java/com/cburch/logisim/std/ttl/Ttl74161.java

Stand by--I think I'll make a pull request that should fix this. It's been a little while since I've done something like this.

Steps to reproduce: load any value into a 74161 (In my case: all enable pins and load are ti

[2021-08-22 20:29] z80jon commented on #910
Pull request: #911

[2021-08-23 20:37] MarcinOrlowski opened #912 "LineBuffer to simplify HDL generators"
All the HDL generators are mixture of static text and generated lines and contents. All the content is manually stuffed into `ArrayList<String>`. This all requires tons of useless code and letters to be written as `ArrayList` do not have any usable for us helper methods. Also as `ArrayList` is just a container, generating HDL code lines sometimes was a nightmarish mixture of unreadable concatenate

[2021-08-24 18:40] R3dst0ne commented on #884
I'm against this change and propose to revert #904 until this is discussed further.
This is a change that should be part of the "roadmap discussion" #695 or at least be dissident by more than two people.

Maybe it is the nostalgia, after all I started using Logisim eleven years ago.
Or the fact that I'm not a  fan of the trend that icons and logos change more regularly.
But I don't see a reason to

[2021-08-25 06:13] BFH-ktt1 commented on #884
@R3dst0ne : It was never my intention to just "push" the new icon, but as there were no other people that reacted, and you did not commented to the new icon, I assumed (probably wrongly) that there were no objections. I'm sorry for that.

[2021-08-25 06:18] BFH-ktt1 commented on #884
@MarcinOrlowski : Before I revert, do you still have the branch with this PR?

[2021-08-25 06:52] MarcinOrlowski commented on #884
Even if you merged prematurely, let's see the arguments against it we have here:
- Nostalgia :)))
- "update_assets.sh Linux exclusive" it is helper script I wrote for myself and not part of functionality. Usage is optional.
- "big *.ico file on Windows)" it's most likely some odd issue with the tool used but I did not want to spend time on this as even the file is bigger, it's not a blocker. Anyon

[2021-08-25 07:03] MarcinOrlowski commented on #884
One note though: the reason I designed the logo and the changed the icon is project **branding**. LSe haven't had any branding
so far nor any visual representation. You could not do any pins, posters, flyers nor even basic website that looks less crappy than plain `man` page. With distinctive visuals you look and you know what it is, instantly, w/o reading. And so far we used icon from old, rusted

[2021-08-25 09:15] maehne commented on #847
@MarcinOrlowski: I agree with your observations. There's certainly some clean-up potential in the localisation files. They have grown over the years and were touched by various people, who naturally did not always have a complete overview of the code base. Any PRs improving this situation are welcome, but we need to make sure that we don't break the other translations.

[2021-08-25 10:26] maehne commented on #863
I agree partially with @MarcinOrlowski. I think our documentation efforts should focus on describing all components consistently using the default Logisim-evolution appearance. Supporting the old appearances is a service to our user base, which want still be able to open their old .circ files. Instead of offering the choice to change the appearance of each component, we may consider just offering

[2021-08-25 11:11] BFH-ktt1 opened #925 "Eclipse and development head"
Logisim can be build by gradle, however, when importing the gradle project in Eclipse the "standard" compilation/run/debug will fail due to a missing dependency on ```com.cburch.logisim.generated.BuildInfo```.
This is kind-of annoying.
I might think of a dummy ```com.cburch.logisim.generated.BuildInfo``` that gets overwritten by a gradle-build.

[2021-08-25 11:13] BFH-ktt1 commented on #912
I like the proposed changes a lot, however, I think that it requires a second run to get things completely cleaned up. I'm happy to help in this effort.

[2021-08-25 11:21] maehne commented on #84
I also would like to see a revival of this effort to support co-simulation with [GHDL](https://github.com/ghdl/ghdl). GHDL is development has been very intense over the past years. Its conformance to the VHDL IEEE standard is very good and its [documentation](https://ghdl.github.io/ghdl/) has been very much improved -- also in the field of [co-simulation](https://ghdl.github.io/ghdl-cosim).

I thi

[2021-08-25 11:58] MarcinOrlowski commented on #890
My comment from #892:

So unless we figure out what was the culprit really, please leave ticket opened despite merging #892

[2021-08-25 14:06] maehne commented on #264
@BFH-ktt1 and @mbaillif: Maybe it would make sense to attack this issue in several steps:

1. Show in pictures the current situation in Logisim-evolution and highlight the issue with respect to the official IEC symbol.
2. Post proposals how the IEC version of the controlled buffer/inverter could look like in Logisim-evolution.
3. Discuss the proposals and how to implement while trying to avoid as

[2021-08-25 14:10] maehne commented on #910
@z80jon: Thanks for opening this issue and also your willingness to create a PR to fix it. In the future, it would help if you could also point with an URL to the relevant data sheet (as long it is publicly and legally accessible).

[2021-08-25 15:10] maehne commented on #884
Sorry for coming late to this discussion. I needed to prioritise other things after returning from vacation and due to the sheer amount of activity over the past weeks, it takes time to catch up. I appreciate your effort @MarcinOrlowski to improve the branding of Logisim-evolution. Already your new about screen improved the branding. However, I agree with @R3dst0ne that a broader discussion and ma

[2021-08-26 06:54] BFH-ktt1 opened #929 "Linebuffer() does not correctly replace %s by the string"
With the merging of the Linebuffer in the HDL-generation a small bug was introduced, the %s are not replaced by the strings.
Example (AlteraDownload.java):

```contents.add("    set_global_assignment -name {{fileType}} \"%s\"", architecture);```

results in:

```set_global_assignment -name VHDL_FILE "%s"```

```/home/theo/logisim_evolution_workspace//leguantest/main/vhdl/memory/LogisimCounter_beha

[2021-08-26 07:13] BFH-ktt1 opened #930 "HDL indenting of remark blocks incorrect"
In the currently generated HDL-code the indenting inside the architecture for the remarks is 3 spaces too far to the right:
Example (LogisimClockComponent):
[code]

[2021-08-26 17:37] R3dst0ne opened #932 "Polish localizations are a mess"
The Polish localizations ([std_pl.properties](https://github.com/logisim-evolution/logisim-evolution/blob/develop/src/main/resources/resources/logisim/strings/std/std_pl.properties) especially) are a total mess after #850.
The `(round 1)` one and the added header in the files indicate that it is a WIP. But in my opinion, temporary help comments etc. should stay local and not be pushed to `develop`

[2021-08-27 03:16] InExtremaRes opened #935 "Clock that passes a transistor doesn't update Flip Flop"
I have this circuit:

![Captura_20210826_230639](https://user-images.githubusercontent.com/1635491/131065785-bdd2dca8-6796-4a31-af87-a373e54ca6bc.png)

**Expected behavior:** The clock signal can be enabled or disabled using the transistor so the `Q` output is properly updated.

**Actual behavior:** The `Q` output is never updated, even when the clock signal reaches the clock input.

This GIF show

[2021-08-27 11:04] #935 closed, assigned to nobody

[2021-08-27 19:16] #912 closed, assigned to nobody

[2021-08-27 19:17] #932 closed, assigned to nobody

[2021-08-27 22:07] R3dst0ne opened #939 "Missing packages in nightly builds"
Since [Nightly #43](https://github.com/logisim-evolution/logisim-evolution/actions/runs/1161452321) the packages don't get build.
At first glance, it seems this bug could be related to #907.

@MarcinOrlowski

[2021-08-28 06:20] MarcinOrlowski commented on #925
So it means `BuildInfo` is no longer up to date? Can we configure Eclipse builder to do something more (i.e. trigger anything) while building?

[2021-08-28 06:37] MarcinOrlowski commented on #939
#941 shall fix that. PTAL

[2021-08-28 06:59] BFH-ktt1 commented on #929
It's still not completely solved, hence reopening,
In AlteraDownload.java:
[code]

produces:
[code]
line 286:

[code]

line 250:

[code]

produces:

[code]

[2021-08-28 07:43] BFH-ktt1 commented on #930
Closing it as resolved

[2021-08-28 07:43] #930 closed

[2021-08-28 07:53] MarcinOrlowski commented on #929
Good spot. That's a punishment for having to heavy polymorphism. The culprit is that we have `add(String fmt, Object... args)` and `add(String... lines)` and for lines like reported, where all arguments are strings, the `add(String... lines)` was used instead of expected implementation with formatting. I renamed the method so it is now `addLines(String... lines)` and then went thru all the `allLin

[2021-08-28 10:21] R3dst0ne commented on #939
This problem is resolved.

I have a question regarding this topic. (I'm not really familiar with nightly builds.)
In my understanding, there is supposed to be one nightly build per day, if something changed. Why do we have multiple (e.g. seven today)?

[2021-08-28 10:24] fdila opened #947 "Test vectors for sequential circuits"
Hi!
First of all we are using logisim-evolution for our Computer Architecture course and I'd like to thank you for your great work.
I was wondering if there is some way to use the test vectors to test circuits that require multiple clock cycles, from the documentation I can only see ways to use them for combinational logic.

[2021-08-28 10:40] BFH-ktt1 commented on #929
Resolved

[2021-08-28 10:40] #929 closed

[2021-08-28 10:42] R3dst0ne commented on #947
Sadly, I can't help you, but there was a discussion(#598) opened a while back regarding this topping.
It might be a good idea to continue this conversation there.

[2021-08-28 11:11] #947 closed

[2021-08-28 11:13] MarcinOrlowski commented on #939
It's because it's not set up as nightly yet. To make this happen, worker YAML file must be merged into main branch otherwise `schedule` trigger won't work. And this is our case, so for now it builds after each merge to work this around. Please see #877

[2021-08-28 11:17] #939 closed

[2021-08-28 13:41] davidhutchens commented on #925
The problem is that Eclipse refuses to add a source path that doesn't exist at the time of the import to Eclipse. So running ./gradlew genBuildInfo before importing the project adds the generated files source path, but it isn't added otherwise. I have looked for a hook to get Eclipse to run a gradle tasks before import, but I haven't found it.

There are a couple of other problems I've encountered

[2021-08-28 14:38] MarcinOrlowski commented on #925
If that requires one manual build with Gradle before the import then this is acceptable (IMHO). What bothers me, is updating of BuildInfo class. Do I understand correctly that later, Eclipse will build using Gradle anyway? It's just matter of importing classes so Eclipse can i.e. index whatever, correct?

[2021-08-28 17:38] davidhutchens commented on #925
Eclipse doesn't use gradle to build.  It scans the build file and extracts the info for Eclipse's own build. Thus, it never builds the generated files for us. It does, however, make gradle tasks available once it is loaded so I can generate the file (and even the final packages) from within Eclipse. I'm looking at how I can generate the file and then tell Eclipse to update its info. If I can get t

[2021-08-28 18:55] MarcinOrlowski commented on #925
Let's do this: please do your tests and then update the developers docs. If we need build prior import - please add a note and invocation example to the docs. if we need to manually wire the task to make it auto-regenerated then great. Just make a note how. If not, then just add a note about rebuilding step is still manual for them. If they do care, because If they do not, then it is still fine.

[2021-08-28 18:57] MarcinOrlowski commented on #925
Can I assign this ticket to you @davidhutchens ?

[2021-08-28 19:01] davidhutchens commented on #925
Sure, assign me if you like. Your plan above matches what I was thinking.

[2021-08-28 19:14] MarcinOrlowski commented on #925
You can rebuild BuildInfo class file (w/o rebuilding whole project) you can use `genBuildInfo` Gradle task.

[2021-08-29 06:39] BFH-ktt1 commented on #925
Resolved in #953 , closing

[2021-08-29 06:39] #925 closed

[2021-08-29 07:20] BFH-ktt1 opened #956 "Testers needed for Xilinx FPGA's"
As the HDL-generation part has had a big overhaul, it would be great if also the Xilinx-FPGA path can be tested.
As I mainly use Intel (Altera) FPGA's, I do not have the ability for the moment to check the Xilinx Vivado and Xilinx ISE (outdated) design flow.
It would be great if someone that uses Xilinx FPGA's could give some feed-back and ideas (for example how to handle the situation when multip

[2021-08-29 18:41] R3dst0ne opened #961 "Map key to Button"
It would be useful if the ability, to map keys from the keyboard to buttons in the circuit, gets added.

PS. The doc of the button needs to be updated (#933).

[2021-08-29 19:28] R3dst0ne opened #962 "IEC and ANSI mixed up in DOC"
![grafik](https://user-images.githubusercontent.com/62245695/131262965-078cbd39-7281-4bd6-a8d9-fb20dbd2c5d1.png)

@mbaillif

[2021-08-29 19:55] R3dst0ne opened #963 "The Command-line options need some attention"
The Command-line options need some attention.
-  `-analyze`
    - [x] removed (#977)
    - [x] #344
- `-accents` does not seem to work.
    - [x] removed (#1009)
    - [x] I propose to overhaul and rename it to `-ascii`.
- [x] `-testvector` is not mentioned by `-help` (outdated `-test` is)
- [x] `-test-circuit`, `-test-fpga-implementation`, `-test-circ-gen`, `-questa` are undocumented. (#983)
- [x

[2021-08-30 07:41] BFH-ktt1 opened #965 "Clock speed inconsistencies on FPGA-board"
When taking the same design with the same tick-frequency, the design generated in Verilog is twice as fast as the same design generated in VHDL. Cause is probably in the tick-generator.

[2021-08-30 09:02] mbaillif commented on #962
I take note, and I correct later
Thanks

[2021-08-30 09:09] BFH-ktt1 opened #966 "LineBuffer strange behavior"
In LedArrayGenericHDLGenerator.java, there is the line:
[code]

which throws an error:
[code]

[2021-08-30 09:17] MarcinOrlowski commented on #966
On it.

BTW: I noticed you renamed `openBracket` to `<` which is what I was thinking about too. Please ensure you replace all `bracketOpen` and `bracketClose` with short form and then remove support for `bracketOpen` and `bracketClose` form LineBuffer completely.

[2021-08-30 10:17] R3dst0ne commented on #962
It got mixed up in the text under the illustration as well.

(@mbaillif you did not correct this in c5405e2)

[2021-08-30 11:19] MarcinOrlowski opened #969 "Drop support for alternative form of HDL bracket placeholders"
Currently LineBuffer's HDL placeholders offers `{{openBracket}}` and `{{closeBracket}}` and equivalent `{{<}}`/`{{>}}`. We shall keep only one, so unity usage across strings/text blocks and remove support for deprecated placeholder.

BLOCKED_BY #968
BLOCKED_BY #952

[2021-08-30 12:16] R3dst0ne commented on #969
I'm in favor of the more descriptive placeholders (`{{openBracket}}`), the other ones could mean a lot of things.

[2021-08-30 12:36] BFH-ktt1 commented on #966
Fixed, closing

[2021-08-30 12:36] #966 closed

[2021-08-30 12:38] MarcinOrlowski commented on #969
We already have `{{=}}` so actually `{{<}}` makes sense. And since it is in-code formatting (not user exposes), it is just fine to have it anything we decide works for majority. Another thing is that I personally hate exceptions (unless there's no other way). In this case we should choose just one form and keep using it, while all alternatives should be axed.

[2021-08-30 13:46] zdimension commented on #956
I've got somewere in a box a Virtex-II Pro PowerPC-based motherboard (Xilinx ML310) and a Virtex-6 PCIe development card (PLDA XpressV6), are those too old to be considered "testworthy" or should I try using Logisim with them?

[2021-08-30 16:04] zdimension opened #971 "Use Lombok codegen features"
Java is a verbose language and prefers explicit code to syntactic sugar. Lombok provides annotations that allow generating boilerplate code for things such as member getters/setters.

It can work as a Gradle plugin and doesn't affect the build for the user.

Pros:
- less boilerplate

Cons:
- code may be less readable

Any yeas or nays?

[2021-08-30 16:05] zdimension commented on #971
ah there was already an issue

[2021-08-30 16:47] R3dst0ne commented on #969
I agree with you, consistency is important.
But I have a problem with the short placeholders:
- `{{<}}`/`{{>}}` could be comparison or bracket
- `{{=}}` could be comparison or assignment

Because of that, I'm in favor of more descriptive ones.

[2021-08-30 16:51] MarcinOrlowski commented on #969
Do agree. You cannot tell from sign itself if it is un-equal comparision or bracket substitute. For now it is `bracket substitute`. Better approach?

Nope. Comparision is `==`.

[2021-08-30 16:55] MarcinOrlowski commented on #971
There's PR adding lombok: #909 but we decided that that's not going to happen in this release. In fact we are now in code freeze stable and accept bug fixes only. Release by the end of the month and then we on track with `develop/` branch craze :)

[2021-08-30 16:58] MarcinOrlowski commented on #971
Reopening. On meeting #972 we discussed compiler plugin roughly. There is still some tension here but nonetheless, the not in the next release (which is scheduled by the end of September).

[2021-08-30 17:05] MarcinOrlowski commented on #971
There's PR #909 that shows impact of Lombok on our code base (TL;TR - LoC goes down).

There's another nice looking plugin called [manifold](http://manifold.systems/) but not yet sure about cost/benefit ration. License thing (it's not open source free project most likely). But if we can reduce LoC (esp. in the way that can be reverted really cheap)
it is still worth using it. The less LoC to maint

[2021-08-30 17:32] BFH-ktt1 commented on #962
@mbaillif and @R3dst0ne :
Maybe I'm mistaking, but the "square-shaped" symbols are IEC (so to the right in the picture), and the left are ANSI-symbols.
Furthermore, IEC is used in Europe and ANSI in the rest of the world :-)

[2021-08-30 17:48] BFH-ktt1 commented on #956
@zdimension: As long as it has a button and a led it should be perfect. The main issue is to see if the vivado/ise command generators are working (hence a button connected to a led can be downloaded to the board from logisim). The HDL-generation is independent from the FPGA, so that is already tested.

[2021-08-30 19:28] mbaillif commented on #962
The bigger it is, the less it shows :-))

I wanted to go too fast, I'm confused.

But I won't be caught again, I'll do it at the next PR.

[2021-08-30 21:17] R3dst0ne opened #975 "Problem with Xilinx boards in "Synthesize and Download""
I found a problem while working on the HDL generation for the new PRNG.
This error occurs in `Synthesize and Download`.
Up until `Map I/O resources onto board` everything works normal.
But after that, an exception is thrown when a board, that uses the Xilinx software, is selected.
[code]
Reproduce:
- Create any circuit
- go to `Syntesize and Download`
- select a board that needs the Xilinx softwar

[2021-08-31 00:54] R3dst0ne commented on #884
@maehne @BFH-ktt1 @davidhutchens @MarcinOrlowski @zdimension
We totaly forgot to discuss the "branding" topik.
How should we proceed?

[2021-08-31 04:08] InExtremaRes commented on #935
@maehne Thank you for your very detail answer. I am using a variation of the multiplexer input, similar to your advice. The case I presented was a very contrived simplification I found while playing with some components. I was very surprise with the result and couldn't find the proper section in the manual (I'm very new to all of this), so I posted it here. Your explanation makes total sense.

[2021-08-31 06:12] BFH-ktt1 commented on #975
@R3dst0ne : Are you sure you use the head in development, as I cannot reproduce this error, the file that gives you the exception is generated correctly at my side.

[2021-08-31 08:48] BFH-ktt1 commented on #965
Cannot reproduce

[2021-08-31 08:48] #965 closed

[2021-08-31 09:34] MarcinOrlowski opened #981 "Command line arguments parser"
### Discussed in https://github.com/logisim-evolution/logisim-evolution/discussions/980

<div type='discussions-op-text'>

<sup>Originally posted by **BFH-ktt1** August 31, 2021</sup>
Currently the command-line parser in "Startup.java" is really "a mess" and not intelligent. It would be nice to modernize this parser such that it would also allow for long parameters like "--version" and their short

[2021-08-31 09:54] MarcinOrlowski commented on #981
The side effect of using commons-cli is that we can have `--xxx` and `-x` options but not `-xxx` so that will be incompatible change. Still I'd go for it because `-xxx` is not standard approach anyway

[2021-08-31 10:11] maehne commented on #981
@MarcinOrlowski: IMHO, this is a duplicate of issue #963 and we should discuss your proposal there.

[2021-08-31 10:56] yaybee opened #982 "Circuit appearance is corrupted after save"
In "Edit Circuit Appearance" of V3.5.0 you can change the order of the displayed items via right click options "Raise Selection" and "Lower Selection"
This changes the order of the displayed items and determines which items are overlapping (e.g. filled rectangles).
However during the "Save" operations the XML statements in the tag <appear> seem to be sorted alphabetically, whereby the required dis

[2021-08-31 11:01] MarcinOrlowski commented on #981
#963 is related but not really a dupe. Also I already have args almost ported to commons CLI so I can take this one.

[2021-08-31 12:14] MarcinOrlowski commented on #981
#983 is early version of replacement CLI arg parsing code. Still WiP but PTAL

@BFH-ktt1 @R3dst0ne @maehne @davidhutchens

[2021-08-31 12:43] maehne commented on #982
Your description sounds like a duplicate of issue #501. It would be nice if you could build Logisim-evolution from the [develop branch](https://github.com/logisim-evolution/logisim-evolution/tree/develop) and test again. You can also download the latest nightly build from [here](https://github.com/logisim-evolution/logisim-evolution/actions/runs/1185404455).

[2021-08-31 12:45] MarcinOrlowski commented on #982
No need to build by hand - we have "nightly" build after each merge. Please see https://github.com/logisim-evolution/logisim-evolution/tree/develop#nightly-builds

[2021-08-31 13:31] maehne commented on #956
@zdimension: With your boards, you'll be able to test the Xilinx ISE flow. For Xilinx Vivado, we'll need users with more recent boards (Xilinx 7 series FPGAs or newer). The two boards, which you are listed, are not included in the list of known pre-configured boards. So you would have to create them in the FPGA Board Editor. Logisim-evolution knows the following popular boards with Xilinx FPGAs/So

[2021-08-31 13:36] yaybee commented on #804
The attributes  font-weight and font-style are not handled correctly on the <text> tag.
At this moment you have to add or remove them manually in the XML .circ file in the tag <appear> of the circuit.
It seems that the text selector does not pickup the change made by the user and keeps the old value while the edit window shows the correct new output.
To get bold and italic you have to add:  font-w

[2021-08-31 13:58] yaybee commented on #982
The latest nightly build .msi will not start on my system, so I cannot test it at the moment. I had a look at #501 and #708 and it seems the same. I will try to test it later.

[2021-08-31 14:02] maehne commented on #982
Could you give the [JAR](https://github.com/logisim-evolution/logisim-evolution/suites/3639551865/artifacts/88193938) a try?

[2021-08-31 15:13] MarcinOrlowski commented on #982
What is the problem with MSI installer?

[2021-08-31 15:25] BFH-ktt1 opened #984 "FPGA download with multiple boards attached fails in tty"
When using the gui of logisim the user will be asked (in case of an Intel FPGA and multiple attached) to which attached device to download. Using the command-line version (-test-fpga-implementation) will fail as there is no command line interface to select the board. This should be added.

[2021-08-31 15:26] BFH-ktt1 commented on #982
This has been fixed in the current head of develop and hence in V3.6.0 that will be released soon,

[2021-08-31 15:48] BFH-ktt1 commented on #956
@maehne : Done in my latest PR.

[2021-08-31 17:16] MarcinOrlowski opened #986 "Command line `--locale` should affect help text shown by using `--help`."
Command line `--locale` should affect help text shown by using `--help`. For not it only affects UI

[2021-08-31 18:28] R3dst0ne commented on #975
I just pulled the newest version ant this error still happens.
I created a circuit containing only one 1-bit input and a 1-bit output.
And used the `Annotate` function to label them.
(I have not selected the Xilinx Software and have no board connected)
I tested it with 3 Xilinx Boards(BASYS2, GECKO4LED, MICROLABTLE), and none of them works.

[2021-08-31 19:41] TChapman500 opened #987 "Move TTL, TCL, BHF, I/O Extra, and SOC Libraries to Independent JARs"
While it's good to have extra libraries for Logisim, I feel that these libraries should be as independent JAR libraries rather than built-in Libraries.  This would allow such libraries to be used with almost any version of Logisim or Logisim Evolution and would reduce the workload of resolving pull conflicts.

[2021-08-31 19:45] MarcinOrlowski commented on #987
In general it sounds like a good idea but I am against this type of changes as it brings no real benefit and is expensive to make and maintain in future. Also it may be more problematic to handle by the users.

Voting to close as `wont_fix`.

[2021-08-31 21:02] TChapman500 opened #988 "Slider Bug: 64-Bit Outputs Restrict Slider to Half of Max Range"

[2021-08-31 21:12] MarcinOrlowski commented on #987
Form me, there is no benefit from doing this change. It will improve nothing really. Also I also do not really buy the argument about "reduce the workload of resolving pull conflicts." - this is not a problem here. Again, it solves nothing.

[2021-08-31 21:13] MarcinOrlowski commented on #988
Please provide reproduction steps?

[2021-08-31 21:16] TChapman500 commented on #988
Just put a slider onto the circuit, set the bit width to 64 bits, and then try to move the slider all the way to the right.  It'll stop at exactly half way `0x7FFFFFFFFFFFFFFF`.

[2021-09-01 05:56] BFH-ktt1 commented on #987
@TChapman500 : I do not quite understand ```would reduce the workload of resolving pull conflicts```. Up to this moment I did not see any problems due to the libraries concerning pull conflicts. Also the libraries can be made "invisible" to the user by modifying the standard template. Moving the first four to a jar library should not pose any problem (also because they are quite "static" for some

[2021-09-01 10:42] maehne commented on #884
Personally, I would propose to revert the icon for the moment to the original one and decide about the new icon for version 3.7.0.

[2021-09-01 11:10] donno2048 opened #990 "Pick tick frequency in `.circ`"

[2021-09-01 11:45] maehne commented on #990
@donno2048: Thanks for your suggestion, but please be more specific with your feature request and justify it!

[2021-09-01 11:57] MarcinOrlowski commented on #884
I'd leave it as is mostly because it is already merged. There're two topics to be discussed, branding itself (which I believe we all share is good to have) and form of the branding. For now it's refreshed and mostly keeps on subject. And if at least one person asked "Which version of Logisim you use" and the answer will be like "green one", then we are home. Also as there's no million dollars in m

[2021-09-01 12:02] donno2048 commented on #990
Ok, I think it would be great to have the option to choose the tick frequency in the `.circ` file; if I shared my project, I would like the person who gets it to see it at the same speed I intended and not the frequency he already set-up in _logisim-evolution_

[2021-09-01 12:13] maehne commented on #987
@TChapman500: Please, be more specific *where* you observe pull conflicts, which cause additional workload. Do you mean pull conflicts in Logisim-evolution's source code itself, in circuit files, or somewhere else? Maybe, it is best if you describe your use case where you observe the pull conflicts.

[2021-09-01 12:15] maehne commented on #990
@donno2048: Thanks for this clarification. It makes sense.

[2021-09-01 13:56] TChapman500 commented on #987
These conflicts would be between forks that don't have these libraries (eg: Holy Cross) and this repository.  Also note that there are some differences between the additional components of the I/O library between different forks.

[2021-09-01 13:57] BFH-ktt1 commented on #988
I have been spending the last hours to "fix" the bug and rewrite the slider source (it was kind of a mess), to come to the conclusion that actually the current implementation of the slider makes no sense, rationale:
1)  The number of slider positions is fixed to 100 positions, so taking more that 7 bits for the output makes no sense as only the most significant 7-bits of the value would change.
2)

[2021-09-01 14:00] maehne commented on #987
We cannot and probably should not strive for compatibility among the diverse Logisim forks. There developments have already diverged too much even though we have tried to port back features from other forks to Logisim-evolution. However, maybe it would be feasible to only require the libraries in the .circ files, which get actually used in schematics by instantiating a component. What do you think

[2021-09-01 14:02] TChapman500 commented on #988
That does make sense.  Though I would like to request a maximum of 10 bits, simply because that's how many bits the ADC on the Arduino gives you.  That would result in a sliding region of up to 1024 pixels (not counting the buffer area around the slider).

[2021-09-01 14:03] TChapman500 commented on #987
I could go for that.

[2021-09-01 14:14] BFH-ktt1 commented on #988
I'm not against, but take note that 1024 pixels makes a very "big" component. On a screen of 1280x1024 (I know this is a low res) you would not be able to see the whole components, hence poking would be partially impossible. A resolution of 10-bits would also be possible with 2 sliders of each 5 bits.
What do you think?

[2021-09-01 14:18] BFH-ktt1 commented on #987
@maehne : Your suggestion would not solve the problem, as the libraries would still be in the "source tree", hence pulling would still pose the same problems as mentioned by @TChapman500. I would rather go for a solution where we try as much as possible to merge back the forks into evolution and than bundle resources to work on one version where everybody is happy with.

[2021-09-01 14:18] R3dst0ne commented on #987
The same topings get discussed in #690.

[2021-09-01 15:07] MarcinOrlowski commented on #988
With such huge values it pointless to offer so high precision with the slider. We should have stlider to move by groups (say. of 10/25/50, whatever) and separate buttons"+" and "-" to move by 1. That would allow to keep size at bay.

[2021-09-01 15:11] MarcinOrlowski commented on #988
@BFH-ktt1 while you will be working on the slider - can you please also fix so Hex Radix will be default and that all radix can have prefix/suffix for easy reading (i.e. for hex let's go `0x??????` for binary add "b" at the end for octal add "o" as prefix. For signed we should show "+"/"-" (with exception of 0), for float small "f" as suffix?

[2021-09-01 15:47] MarcinOrlowski opened #992 "Update source code copyrights header"
I am going to sync source code copyright header with the project + update copyright in-app scroller to match.

This means:
* I will shorten the copyright header
* I will remove list of contributors from source header
* I will sync in-app scroller content with [credits page](https://github.com/logisim-evolution/logisim-evolution/blob/develop/docs/credits.md)

Please:
* check if [credits page](https

[2021-09-01 15:57] MarcinOrlowski commented on #992
Proposed new header:

[code]

Current source header

[code]

@BFH-ktt1 @maehne @davidhutchens

[2021-09-01 16:55] maehne commented on #963
I basically agree. However, we should only add short forms for options, where it makes sense and does not potentially cause confusion. Short options should be single letter, so that they can be combined if sensible.

[2021-09-01 16:59] MarcinOrlowski commented on #963
Unless you got different implementation, may I suggest the discussion to go in #981?

[2021-09-01 17:31] maehne commented on #963
Well, I will have my comments to your PR #981, but this issue is more general about the provided command line options and their documentation. We should make sure that your PR addresses all of them.

[2021-09-01 18:02] R3dst0ne commented on #975
I pulled again the newest develop version.
It still doesn't work.
My Java version is:

OpenJDK Runtime Environment AdoptOpenJDK-16.0.1+9 (build 16.0.1+9)
OpenJDK 64-Bit Server VM AdoptOpenJDK-16.0.1+9 (build 16.0.1+9, mixed mode, sharing)

[2021-09-01 19:19] zdimension opened #999 "Add link of Discord community server"
I've created a Discord server for logisim-evolution: https://discord.gg/ggSZD6WA4z

I know GitHub already provides the Discussions system, but having a dedicated IM platform is a plus, imo.

[2021-09-01 20:44] MarcinOrlowski commented on #999
We already [have one](https://discord.gg/4ksaEmQ3) in testing, so please join

[2021-09-01 20:48] zdimension commented on #999
Indeed, wasn't aware of it. Joined it right now

[2021-09-01 20:48] #999 closed

[2021-09-01 21:04] zdimension commented on #999
Do you mind adding me the `admin` role? I asked Redstone but he doesn't have the privileges to

[2021-09-01 22:57] R3dst0ne opened #1000 "Fix library compatibility"
Libraries that worked in release 3.5.0 currently don't work with the latest development version.

Steps to reproduce:
(In current development build)
Click on `Project` > `Load Library` > `JAR Library...`.
Select a JAR Library. (E.g. [MIDIkeyboard](https://github.com/mrmcsoftware/MIDIkeyboard))

[2021-09-02 05:55] MarcinOrlowski commented on #1000
CC: @sderrien

[2021-09-02 06:41] BFH-ktt1 commented on #988
@TChapman500 : I reworked the slider in my latest PR. The number of bits (slider positions) can be selected in the top of the file. I put for the moment 8-bits as maximum, as this gives a reasonable size, but am open for more. Closing the issue.

[2021-09-02 06:41] #988 closed

[2021-09-02 07:01] BFH-ktt1 commented on #975
@R3dst0ne : I downloaded the deb installer of the latest nightly build, installed it, and tried to reproduce the error without success, the file where you get the error (line 223 in XilinxDownload.java) gets created correctly without an error thrown. As this one is packaged with a JRE, it is not dependent on the one installed on my computer. I did not try MAC and Windows yet, will do that in a mom

[2021-09-02 07:01] #975 closed

[2021-09-02 08:01] BFH-ktt1 commented on #1000
@R3dst0ne : Could you do some more testing to see if my latest PR fixes the problem?

[2021-09-02 08:43] BFH-ktt1 commented on #992
This line:

```Logisim-evolution Copyright ©2001-2021 Logism-evolution developers```

will be a head age to maintain (meaning that each year we have to update all headers).

For the rest I'm fine with shortening the headers.

[2021-09-02 08:47] MarcinOrlowski commented on #992
I think we can have years removed w/o no probems. Something like this:

[code]

[2021-09-02 09:10] yaybee commented on #982
![Capture](https://user-images.githubusercontent.com/78648895/131815068-bb0cd06a-4ec5-4abe-8adf-cbdc05a11980.JPG)

I reinstalled the nightly and it now works OK. Probably remove of old 3.5.0 was not done completely.
The tags within "appear" tag are no longer sorted, except for the "circ-port" (and "circ-anchor") tags. These always end-up at the top so the look of the build-in TTL with half hidden

[2021-09-02 09:31] BFH-ktt1 commented on #982
@yaybee : This is correct, and not related to the sorting, but to how logisim does the drawing of the ports, this is done after the shape is drawn. Here there is a choice and as ports could be completely hidden by a shape if we do draw the ports before drawing the shapes I opt for a "won't fix" label.

[2021-09-02 11:09] yaybee commented on #982
No problem, my issue was already solved, but I could not find it in the issues. In future I will try the nightly first. Thanks for the support.

[2021-09-02 11:13] BFH-ktt1 commented on #982
Your're welcome, and thanks for your issue. Closing the issue, feel free to reopen it something is still wrong.

[2021-09-02 11:13] #982 closed

[2021-09-02 11:36] BFH-ktt1 commented on #990
@donno2048 , @maehne : Would it not make more sense to store the tick-frequency in the "clock" component, as "normally" only this component is affected by the clock frequency

[2021-09-02 13:17] R3dst0ne commented on #1000
It seems to work.

[2021-09-02 13:17] #1000 closed

[2021-09-02 20:50] maehne commented on #990
@BFH-ktt1: Good question. Personally, I always set the tick frequency via the simulation menu and not via the clock component. Depending on your project, it might be wishful that the speed of the interactive simulation can be configured per circuit sheet, as one might check things on different time scales in different parts of the project.

However, we should probably distinguish two tick frequenc

[2021-09-03 07:24] BFH-ktt1 commented on #990
@maehne : makes sense, I'll think a bit about it, and modify my PR accordingly.

[2021-09-03 08:27] BFH-ktt1 opened #1010 "Command line options are not correctly parsed after #983"
All command line options work, but their parameters are not (always) correctly parsed and return a null pointer, examples:
[code]
or
[code]

[2021-09-03 09:13] BFH-ktt1 commented on #1010
@MarcinOrlowski : PR #1011 did not fix:
[code]
the option given on the command line are correct

[2021-09-03 09:18] BFH-ktt1 commented on #1010
@MarcinOrlowski : Also the help screen is now a bit "bizarre" as it seems to be limited in the number of characters each line:
[code]

[2021-09-03 09:21] MarcinOrlowski commented on #1010
This class sets line width to 74. Unfortunately it do not adapt to terminal width. I can now just set it wider (100?) and that's it because I do not think this is a serious issue worth further works to figure out proper way of getting the terminal width in crossplaftorm way,

[2021-09-03 09:22] BFH-ktt1 opened #1012 "Nightly fails on MacOS build"
I get more often an error:
[code]

[2021-09-03 09:39] MarcinOrlowski opened #1015 ""Uploading" vs "Downloading""
There's multiple use of word "download"/"downloading" in the project that are incorrectly used. The "downloading" means process of fetching remote data to your local end, while uploading "uploading" is the process of sending local data to remove end, therefore whenever we push anything to the FPGA board  it should be properly called "Uploading".

[2021-09-03 09:39] BFH-ktt1 commented on #1010
Works for me

[2021-09-03 09:51] MarcinOrlowski commented on #1012
It's seems that is about lack of JDK 16 by default. Needs to check if we need different env var or just install it. @davidhutchens could you please take a look?

[2021-09-03 15:42] R3dst0ne opened #1019 "short versions for CLI arguments"
In #983 short versions for each option get introduced.
@maehne ([here](https://github.com/logisim-evolution/logisim-evolution/pull/983#issuecomment-910488977)) and I ([here](https://github.com/logisim-evolution/logisim-evolution/pull/983#issuecomment-911596004)) are not sure if this is a good idea.
As mentioned in my comment:

Currently, there are a view where the letters don't make sense.

I prop

[2021-09-03 17:57] MarcinOrlowski commented on #1019
I am against simply because it is more work than just removing single letter which for now is completely unjustifiable.

[2021-09-03 18:44] BFH-ktt1 commented on #1019
Currently we have:
[code]
so the ones which are misleading are -b, -j, -m, -o, -r, -w, and -z.
I'm im favor of the shorts, so maybe we should adapt the "longs" to map the shorts, or adapt some shorts, e.g.:
-b could become -c, which is consistent with -f.

-j -> I'm not sure about what this option does, but I have the feeling that we can drop it

-s -> I'm not sure about what this option does, but

[2021-09-03 18:47] BFH-ktt1 commented on #1019
On another note, -p, -z, and -e are exclusive, so what happens if you specify all three of them, I think that they can be combined into one CLO.

[2021-09-03 18:52] MarcinOrlowski commented on #1019
The logic is ported as it was previously so if there was a check for this case, then it is now too. If not, commons-cli supports group of mutually exclusive options, so it's just matter or setting that up, which should be trivial. If I understand correctly one group is: `-p`, `-z`, `-e`? any other?

[2021-09-03 18:56] BFH-ktt1 commented on #1019
@MarcinOrlowski : I understand, but that is not what I wanted to say, my point was that these 3 can combined in one command line option e.g. ```--template``` where you can give as argument "empty", "plain", or "mytemplate.xml", reducing the number of CLO's

[2021-09-03 19:00] BFH-ktt1 commented on #1019
If we make it ```--user-template``` than we have directly the short ```-u```

[2021-09-03 19:02] MarcinOrlowski commented on #1019
Can you please create separate ticket for merging these options into new one? Please assign it to me and I will update the parser.

[2021-09-03 19:05] MarcinOrlowski commented on #1019
BTW: I just found pretty neat CLI parser library https://github.com/remkop/picocli/ that offers much more than commons-cli - I will check that in future as we may want to replace commons-cli with it if all the benefits I see it offers can be a reality :)

[2021-09-03 19:16] BFH-ktt1 commented on #1019
I just want to give you some insight why for a prof. using logisim the CLI is very important:
1) During the covid period my students were not able to use the real hardware, so we made a setup with hardware boards and a camera, and used the CLI to download their design to the hardware, record for 30 seconds and send them the video, without the CLI this would not be possible.
2) During a practical e

[2021-09-03 19:27] BFH-ktt1 commented on #1019
I now also understand the option -j, this checks if the source-xml-file is not manually modified by somebody after saving to "fool" plagiarism tools, so also this option we could sanatize more in the sense that we make an option that tells us "manually modified", hence returns a true or false instead of a new file

[2021-09-03 19:38] BFH-ktt1 opened #1021 "Merge exclusive command line options -p, -z, and -e"
As discussed in #1019 the command line options -p, -z, and -e are exclusive and can combined into one.

Proposal:
```--user-template``` with short ```-u``` where the options can be one of the following: "empty", "plain", or "mytemplate.xml"

[2021-09-03 19:48] BFH-ktt1 opened #1022 "Rename --test-circ-gen CLI option"
In accordance with the discussion in #1019 the ```--no-splash``` CLO can be dropped (as the splash screen does "not show" anyways on current machines). We can than replace ```--test-circ-gen``` by:
```--new-file-format``` short ```-n``` with two arguments: ```input-file``` and ```output-file``` where the functionality is following:
1) the input file is read and written by the xml-writer to the out

[2021-09-03 20:40] MarcinOrlowski commented on #1019
Ok, so first, I am glad that people use CLI more than I thought. For many ordinary terminal running `ls -l` is hacker wizardry :) And so if CLI is so important, let's take a look at what we have now and lets discuss if we can have something done better. Maybe we should better support  such features or use cases you mentioned? BTW: I once thought that we could add a feature that automatically packs

[2021-09-03 20:45] MarcinOrlowski commented on #1022
Actually that's not true - the splash can be seen but for rather short time. I wonder if we can remove it as it serves no real purpose today?

[2021-09-03 21:08] davidhutchens commented on #1012
I looked at the output from the successful and failing macOS builds. My best understanding is that OpenJDK 16.0.2 is actually the default installed Java. It appears to have been set before we set JAVA_HOME. My guess is that older ones are available through explicit setting of JAVA_HOME, but they did not provide a variable for the latest release.

I suggest removing the line to set JAVA_HOME and se

[2021-09-03 21:31] R3dst0ne commented on #1022
I would disagree with this. Not everybody has the privilege of owning a good PC.
And this is not limited to private persons. I know schools that use Logisim where 10 -15 year-old PCs are still in use.

[2021-09-03 21:34] R3dst0ne commented on #1019
#13 is about this.

[2021-09-03 22:10] R3dst0ne commented on #775
With the 3.6.0 release cumming soon, we really should try to remove the outdated version from [SourceForge](https://sourceforge.net/projects/logisimevolution/).

[2021-09-04 04:52] MarcinOrlowski commented on #775
Yes, definitely, this one needs to be gone. @TheEvilSkeleton is it something that you can take care of, please?

[2021-09-04 04:55] MarcinOrlowski commented on #1019
Also [New save file format #812](https://github.com/logisim-evolution/logisim-evolution/discussions/812) is related

[2021-09-04 04:59] MarcinOrlowski commented on #1022
Dropping --no-splash out of scope of this ticket.

[2021-09-04 05:30] MarcinOrlowski commented on #1019
As per #1024 it's now easy to make short switches optional, so if there is any valid reason why certain options should have long switch only, we can discuss this and apply now with easy.

[2021-09-04 06:00] BFH-ktt1 commented on #1022
@R3dst0ne : I agree with this point, hence I would not drop the splash-screen on startup, I was just wondering who wants to disable this with the command line option (I find this one of the options that make no sense),

[2021-09-04 06:07] MarcinOrlowski commented on #1022
Some people may do not like the filcker they experience on fastest machines as splash implementation is pretty dumb - it opens, something is being set up then it gets closed. Here it is annoying and I'd normally disable it. The other approach (which is very low-pri) would be to open spash with a delay. so if setup is done faster than the threshold, no splash will open (just to be closed). I'd leav

[2021-09-04 06:11] MarcinOrlowski commented on #1012
@davidhutchens Sure, will give it a try.

[2021-09-04 06:57] BFH-ktt1 commented on #990
@maehne , @donno2048 : The option is now in the development branch. Each circuit will save/restore the last used tick-frequency and download-frequency. #1020 is a PR to also integrate it in the up coming v3.6.0, but due to feature freeze it might not make it in there.

[2021-09-04 06:58] BFH-ktt1 commented on #992
This is merged, hence closing issue

[2021-09-04 06:58] #992 closed

[2021-09-04 07:00] BFH-ktt1 commented on #981
@MarcinOrlowski : can we close this one, as it is merged and we have other issues addressing the details?

[2021-09-04 08:20] #981 closed

[2021-09-04 09:08] BFH-ktt1 opened #1027 "Endless loop in Reporter"
I do not know for now how to reproduce with a small example, but I got an endless loop exception as following:
[code]

[2021-09-04 09:10] BFH-ktt1 opened #1028 "Netlist does not get cleaned-up correctly"
When selecting circuit A, and download it to the FPGA it works as wanted. When one than select circuit B in the same project and try to download it, the DRC will detect errors that are not there (in form of "subcircuit pin not found", etc).

[2021-09-04 12:27] TheEvilSkeleton commented on #775
@MarcinOrlowski pardon me for my lack of understanding, but what do I need to take care of?

[2021-09-04 12:55] BFH-ktt1 opened #1033 "For translations and documentation no reviewer is assigned automatically"
When a PR is made that does not contain code, no reviewer is assigned by the system, leaving the PR in block state without an active reviewer

[2021-09-04 13:27] TheEvilSkeleton commented on #776
Just an FYI, I edited a bit the Wikipedia page. Here's the diff: https://en.wikipedia.org/w/index.php?title=Draft:Logisim-evolution&diff=1042340187&oldid=1041433363&diffmode=source.

[2021-09-04 13:34] MarcinOrlowski commented on #1033
That's odd a bit because according to docs we have correct `CODEOWNERS` file in `.github` (docs linked in CODEOWNERS file) - one entry for the whole repo. Docs say that you must have codeowners meged in master branch (so maybe that's related, because it's yet not).

[2021-09-04 13:37] TheEvilSkeleton commented on #776
Just looked around in news sections of search engines, and I found some secondary sources:
1. https://www.google.ca/search?q=logisim-evolution&tbm=nws
2. https://duckduckgo.com/?q=logisim-evolution&t=hx&va=g&iar=news&ia=news

Sadly not so many.

[2021-09-04 13:38] MarcinOrlowski commented on #775
Of having logisim-evolution project removed from SourceForge. I thought that you may have some powers there too as it's also under "redsheigvd" type of user as Flakpak was

[2021-09-04 13:39] TheEvilSkeleton commented on #775
Ah, I'm only involved in packaging in Flatpak and nothing else.

[2021-09-04 14:01] MarcinOrlowski commented on #775
BTW: if that would be possible, instead of removing we may want to make SF page redirect to github? This seem to be possible and the rationale is that SF page still gets a few downloads a month so why axe working lead.

[2021-09-04 14:19] MarcinOrlowski commented on #1027
At first it loks like formatter got a string that maybe had another formatting sequence which caused that? I'd check that first.

Can I have any reproducible case? I mean steps to repro, project to repro?

[2021-09-04 15:06] BFH-ktt1 commented on #1028
Has been fixed in my latest PR, closing

[2021-09-04 15:06] #1028 closed

[2021-09-04 15:13] BFH-ktt1 commented on #1027
I have the feeling that it is a java issue,
This was the code causing the endless loop:
[code]
Basically it should add one line and exit (what it did with java 14), with java16, however, it just kept calling ```Reporter.Report.addFatalErrorFmt(``` (I put a System.out.println() in Report.addFatalErrorFmt()).
As I now fixed the netlist bug I have no reproducible case any more.

[2021-09-04 15:20] BFH-ktt1 commented on #990
It has been merged into develop and the up comming 3.6.0 version. Closing the issue, please reopen if something is missing

[2021-09-04 15:20] #990 closed

[2021-09-04 15:28] BFH-ktt1 commented on #1027
I did not see that one :-) Closing, solved

[2021-09-04 15:28] #1027 closed

[2021-09-04 15:56] BFH-ktt1 opened #1041 "Readme.md requires update"
On the devlopment branch it is still written:
[code]

This should now be Java 16 (or newer)

[2021-09-04 15:57] BFH-ktt1 commented on #1012
Has been solved with #1037. Closing issue

[2021-09-04 15:57] #1012 closed

[2021-09-04 17:09] MarcinOrlowski opened #1042 "Poly's moveHandle() always returns null"
In src/main/java/com/cburch/draw/shapes/Poly.java line 319, `moveHandle()` method reads:

[code]

my concern is return value as it is always null. And since this is consumed in other parts, I wonder if this is intentional but undocumented, or bug. Anyone knows more?

[2021-09-04 20:28] BFH-ktt1 commented on #1042
This is part of Carl Burch's original code that has been never touched. Up to this moment there was no bug report related to it, so I guess that it is okay.

[2021-09-05 07:50] BFH-ktt1 commented on #1041
done in #1044, closing

[2021-09-05 07:50] #1041 closed

[2021-09-05 08:41] BFH-ktt1 opened #1046 "Workflow icons seem broken"
The workflow icons in the README.md do not show up correctly.

[2021-09-05 10:33] #1046 closed

[2021-09-06 08:32] BFH-ktt1 opened #1050 "Feature request: Copy-paste over different logisim instances/projects"
Currently logisim allows only copy/paste/duplicate in the same project space (internal clip-board). Kevin Walsh implemented in his holy-cross version a possibility to copy-paste over different projects using the systems clipboard. This feature would be very nice to have. Back-porting of this feature might be more effort as setting it up from scratch.

[2021-09-06 10:56] MarcinOrlowski commented on #1050
If every element can be serialized for saving, we can pass that representation via clipboard.

[2021-09-06 11:13] MarcinOrlowski commented on #971
I am keeping updating the PR #909 with HEAD, so please let's have this discussed.

@davidhutchens @BFH-ktt1 @maehne

[2021-09-06 11:17] MarcinOrlowski commented on #824
I do not mind offline docs but here's my take: I'd love to have **one** source documentation from which we can **generate** anything needed, incl. in-app javahelp pages too. Even if that would not be possible too easy, we could still be able to generate i.e. offline PDF or even ZIP with HTMLs (or single HTML page (massive, but searchable easily) + ZIPed HTML pages). PDF readers + modern browsers a

[2021-09-06 11:23] MarcinOrlowski commented on #1010
@BFH-ktt1 can this ticket be closed now?

[2021-09-06 11:24] MarcinOrlowski commented on #344
Closing as `-analyze` is now removed.

[2021-09-06 11:24] #344 closed

[2021-09-06 11:25] MarcinOrlowski commented on #963
@maehne any work pending here or we can have this ticket closed?

[2021-09-06 14:31] BFH-ktt1 commented on #1010
Nope, the

[code]

still does not work, the -f option does not seem to accept false or correct input, it always throws an error

[2021-09-06 14:49] BFH-ktt1 commented on #824
My take on the issue:
1) I think that it makes sense to make a separate git repository for the documentation and to use for example Markdown for the text. This would simplify the task of "spontaneous" documentation as @mbaillif called it. For the moment, each time I go into the doc directory I get a nightmare and have to figure each time out where, what, how.
2) From the doc in point 1) we should

[2021-09-06 14:54] BFH-ktt1 commented on #971
My remarks on PR #909:
[code]
Hence I am not against lombok, but am also not jumping to get it in due to the current still "unstable" situation. We should when introducing this check each time if project lombok has updates, check with our tree and update our documentation.
Hence I wonder if the gains (a bit lesser boiler plate code) out weights the efforts it takes.

[2021-09-06 15:43] BFH-ktt1 commented on #1050
Yes, all can be serialized (as been done in xml in the .circ file) Kevin Walsh used this same format (xml) to do the copy-paste

[2021-09-06 15:45] BFH-ktt1 commented on #1050
What might be more an issue would be a copy in logisim, and for example a paste in a drawing program, than there needs to be an extra writer attached (like the one's used to do picture export in the different formats)

[2021-09-06 16:00] BFH-ktt1 commented on #1015
You are right and not, as it is always from which side you look at it. You "upload" it from logisim, and you "download" it into the FPGA. Unfortunately these two words (as many others) are very often mangled as person A looks at it from point X, while person B interprets it from point Y, where the data goes from X -> Y. Hence in this sense "uploading" may also be wrong and it should be more verbos

[2021-09-06 16:20] MarcinOrlowski commented on #1050
We should export SVG. That'd be be the best option.

[2021-09-06 16:23] MarcinOrlowski commented on #824
Yep, that should suffice. We will loose contextual help but the benefits are far bigger than this loss.

So before we move on, let's see how we want the separation to look like and what is "documentation language/system" of choice. Will markdown suffice? If so, this can be converted to PDF and HTML with ease.

[2021-09-06 16:24] MarcinOrlowski commented on #971
The "unstable" version is since I know this project. Yes, that's silly. Would they number it 2.17, you'd have no objections ;)

[2021-09-06 16:29] BFH-ktt1 commented on #971
Nope, would the "normal install" work (hence as in their documentation) I would have lesser objections. All their official installers install 1.18.20. Only the fix in the indicated link installs 1.18.21 which announces itself as 1.18.20.

[2021-09-06 16:46] MarcinOrlowski commented on #824
We also need to think about multiple language versions. Do we want them in sync (i.e. filenames must be the same etc)

[2021-09-06 16:48] MarcinOrlowski commented on #824
As for Latex - it's complicated for what we have. Markdown is sufficient. You got basic structure, basic elements, links and images. Do we need more?

[2021-09-06 16:50] jxu commented on #824
LaTeX in my experience is good for typesetting whole manuals or math/engineering papers. For code documentation which probably won't have much math, Markdown is sufficient and lighter weight.

[2021-09-06 16:53] MarcinOrlowski commented on #1015
None the less we should use only one form, not both because that's makes this all quite confusing, as reader do not have have any context to know more. But as in almost any app "downloads" means receiving data on the computer (app) and "upload" is sending out data from the computer/app elsewhere, I suggest to stick to that to for better UX.

[2021-09-06 17:02] BFH-ktt1 commented on #824
I think the format we choose should be the "simplest" that suite "our purposes", so if it is Markdown it's fine by me.
As for the multiple language version, I think that this is one of the "strong" points of logisim. It is just that we have to find "native speakers" that are willing to join this effort. For English, French, German, Polish, and Dutch (maybe Portuguese) we already have them, what ab

[2021-09-06 17:08] BFH-ktt1 commented on #824
@jxu: We are not talking about the documentation of the source code, but about the "user guide" (documentation), like "how to become a logisim user". I got the feeling that you think we talk about the documentation that tells how the source-code is build up, which is in fact something that we also have to discuss, as it is not "really" present.

[2021-09-06 17:11] jxu commented on #824
I am more of a fan of online HTML docs (like that of plotly or tidyverse or MDN) than a PDF guide. For that case Markdown should suffice. I guess if we really wanted to go in-depth with the program, there could be a whole MediaWiki on it :)

[2021-09-06 17:21] MarcinOrlowski commented on #824
I renamed thw thread to make it more clear. Source code docs or architecture docs - this is different story

[2021-09-06 17:29] MarcinOrlowski commented on #824
From other sie I noticed some element in docs are separately emphasized using html/css. We will loose that with markdown. Is it a problem? Or maybe there's extended markdown we clld use?

[2021-09-06 17:32] jxu commented on #824
Nah, there are tools that convert Markdown to HTML like pandoc. Then you can style CSS from there.

[2021-09-06 18:19] MarcinOrlowski commented on #824
But how? If manually - forget it. We must have just one file we edit. No manual postprocessing

I just realized that you are allowed to put HTML markup in markdown file so you can still have `<em>` or `<span>` if needed I think.

[2021-09-06 18:30] jxu commented on #824
Not sure what you mean by manually. You can use a premade reasonable CSS or tweak your own

[2021-09-06 18:44] MarcinOrlowski commented on #824
I mean that any information (markup-ish) must be in the source file. CSS (as part of presentation layer) can be edited separately (even manually) but you must be able to generate final version of certain type of document directly from sources co content must be self-contained. Any further changes or post-processing are fine if needed, but that must be fully automated process. But it'd be good to b

[2021-09-06 19:35] jxu commented on #824
Of course. The CSS is styled independently from the markup content.

[2021-09-06 19:45] MarcinOrlowski commented on #971
I will update dev docs to mention that issue with Eclipse

[2021-09-06 20:08] R3dst0ne commented on #1015
I agree that we should be consistent with how we call/describe this.

This is true for most pieces of software, but in this special case it is not that clear. I regulary read "download on FPGA" in specific programs or literature.

[2021-09-06 20:10] #963 closed

[2021-09-06 21:10] R3dst0ne commented on #824
Changing to something simpler than HTML sounds like a good idea.
To be honest, every time I thought about changing something in the documentation, I got scared off. And I'm surely not the only one.

Markdown has the advantages that it is easy to read, edit and learn. And it can be converted to almost all other formats. The only disadvantage I can see is that basic markdown is very limited in some

[2021-09-06 21:16] R3dst0ne commented on #1050
Is this a duplicate of #56?

[2021-09-06 22:42] Noobie2014 opened #1054 "TTL library item 74163 not clearing output on high to low transition of CLR pin."
I used a circuit goofing around and it locks up because the NAND gate that triggers the clr pin doesn't get turn back on when its inputs from the outputs of the counter aren't reset to 0. I suspect if you do put in propagation delay this kind of locking will not happen.

[2021-09-07 04:53] MarcinOrlowski commented on #1054
@BFH-ktt1 can you take a look? You touched these components recently?

[2021-09-07 05:23] BFH-ktt1 commented on #969
Okay, I think that we have to drop ```{{openBracket}}``` and ```{{closeBracket}}``` for the reason that they are "long". As ```{{<}}``` and ```{{>}}``` are apparently dubious, what about:

1) ```{{(}}``` and ```{{)}}```

or

2) ```{{[}}``` and ```{{]}}```

[2021-09-07 05:29] BFH-ktt1 commented on #1054
The 74163 has an synchronous clear, the 74161 has an asynchronous clear. Meaning that the 74163 will only reset the outputs when the clear is low and there is a positive edge on the clock input. Hence it is a correct behavior.

[2021-09-07 05:30] BFH-ktt1 commented on #1050
Yes this is correct. Closing #56 as we have a link here

[2021-09-07 05:31] BFH-ktt1 commented on #56
Closing as retaken in #1050

[2021-09-07 05:31] #56 closed

[2021-09-07 06:43] maehne commented on #969
I agree that the spelled out form is probably too long and may render the templates less readable and that the short forms `{{<}}`,  `{{>}}` may be misinterpreted depending on the context. However, to make a good decision, could we please state here clearly in what context these placeholders are used and what semantics do they have? One aspect, we may also consider to take into account is how mode

[2021-09-07 06:48] maehne commented on #1054
@BFH-ktt1: So this issue can be closed?
@Noobie2014: If you disagree, please attach a ZIP file with the circuit showing the issue and explain observed and expected behaviour.

[2021-09-07 08:41] MarcinOrlowski commented on #969
Actually I think `<`/`>` is best bracket we can use, simply because of readability. Please compare:

[code]

[2021-09-07 08:41] MarcinOrlowski commented on #969
Wouldn't bother much.

[2021-09-07 08:48] MarcinOrlowski commented on #969
This is equvalent of `HDL.*()` calls you would have to otherwise do by hand for concatenation or placeholder values. Now this is built-in into LineBuffer, so in code you just need `addHdlPairs()` and you good to go.

[code]

[2021-09-07 08:52] MarcinOrlowski commented on #987
Closing as `wont_fix`

[2021-09-07 08:52] #987 closed

[2021-09-07 12:37] MarcinOrlowski commented on #1021
What the benefit of merge?

[2021-09-07 18:52] MarcinOrlowski commented on #824
I just discovered people use AsciiDoc. Got no experience with it, but maybe it is worth evaluating?

https://en.wikipedia.org/wiki/AsciiDoc
https://asciidoc.org/

[2021-09-07 18:57] jxu commented on #824
From the Wikipedia page it looks like Markdown

[2021-09-07 19:12] MarcinOrlowski commented on #824
Syntax is similar but it can do more than ehat just plain markdown could. I've read that it has features useful for writing technical documentation too, so I'll take a look.

[2021-09-07 21:30] Noobie2014 commented on #1054
yeah i understand the clock on its next rise will reset but it never gets detected because my nand hook up brings the clr low and it doeasn't seem to propogate to the clear part?

[2021-09-08 00:52] R3dst0ne commented on #969
Every thing has its downside.
`{{openBracket}}` is too long.
`{{{}}`, `{{(}}` and `{{[}}` are nearly unreadable.
`{{<}}` can be interpreted as something else.

If I'm not mistaken, those brackets get only used for splicing. So they could get removed as a hole and be replaced with a function like `splitVector()` as in #1057.
Overall
[code]
is still shorter than
[code]
.
If something like `{{:}}` ge

[2021-09-08 06:21] BFH-ktt1 commented on #1054
There are some small problems in your circuit:

1) At simulation reset, the outputs of your three 74163's are undefined (blue lines), hence you should do a clear at startup.

2) The pull-up on the clear line is redundant, as the nand-gate connected to ```HBackPorch``` is push-pull.

3) The clear functionality of the 74163 is working correctly as the right-most 74163 is correctly resetted (as it ha

[2021-09-08 06:21] #1054 closed

[2021-09-08 06:37] BFH-ktt1 commented on #1010
There are still two small problems:

1) The correct command-line options are not displayed:
[code]

2) The help text still contains the [map_input] entry:
[code]

3) When providing a wrong argument the command get's executed, which it should not:
[code]

reopening
[code]

[2021-09-08 06:51] BFH-ktt1 commented on #1021
Lesser command line options and having only one for the given functionality.

[2021-09-08 08:23] MarcinOrlowski commented on #969
For clarification - what `addHdlPairs()` adds is absolute minimum needed to "port" our HDL templates. It does NOT cover all the possibilities - only these needed for the conversion. Now, once @R3dst0ne added more helper methods the options are like this:

1. shall `addHdlPairs()` add them all "just in case we needed it"?
2. shall we keep it as is and only add new pairs to `addHdlPairs()` when ther

[2021-09-08 09:19] R3dst0ne commented on #969
Placeholders don't really work here because those operators need parameters (typecasting is needed).

I did propose to use something like
`"signal" + HDL.splitVector(num, 0)`
instead of
`"signal{{<}}{{num}}{{:}}0{{>}}"`
because it nearly has the same length and is way easier to read and understand.

[2021-09-08 09:22] MarcinOrlowski commented on #969
But please drop the concatenation:

[code]

[2021-09-08 09:23] MarcinOrlowski commented on #971
Ping. Can we make a decision?

@BFH-ktt1 @davidhutchens

[2021-09-08 09:38] BFH-ktt1 commented on #1010
Unfortunately still not completely fixed:
[code]
This has nothing to do with the tick-frequency :-)

and point 1) above did not change

[2021-09-08 11:51] MarcinOrlowski commented on #1010
It does not but as 4th and 5th elements can be literally swapped, then code checks if value is literal `HDLONLY` (it is not, because of `$`, then it tries to parse int to get tick freq. This step fails for obvious reason, hence the message. I'd leave as is.

[2021-09-08 11:52] MarcinOrlowski commented on #1010
or I know how I can easily  improve this. Will send new PR

[2021-09-08 13:37] BFH-ktt1 opened #1060 "Strange behavior of LineBuffer (brackets get always appended)"
I have rewritten the function getNetName(...) as following:
[code]

And I expect to get a reponse in the form (VHDL):

```s_LOGISIM_BUS_1(3)``` or ```s_LOGISIM_NET_6``` or ```'0'```

instead i get

```[s_LOGISIM_BUS_1(3)]``` or ```[s_LOGISIM_NET_6]``` or ```['0']```

so consistently the expected values in square brackets.

Maybe I do something wrong, did not understand yet the details, or maybe it

[2021-09-08 13:41] BFH-ktt1 commented on #1060
My fault, should be contents.get(0), closing

[2021-09-08 13:41] #1060 closed

[2021-09-08 14:58] MarcinOrlowski commented on #1022
Do we have comparator already? If not, what means "identical" more precisely?

[2021-09-08 16:56] Noobie2014 commented on #1054
Thank you :) I was trying to use the clock on all clk inputs but i just didn't understand the counters. Is there anyway to get local datasheets in the application instead of hunting around on internet? I like your application its very easy to learn and use.

[2021-09-08 20:36] BFH-ktt1 opened #1065 "PortIO bugs"
1) The HDL-generator of the PortIo component generates incorrect HDL.
2) The symbol on the PortIo is incorrectly drawn for an impair number of pins.

[2021-09-09 03:27] Noobie2014 commented on #1054
Thank you and of course you are correct. I am sorry for the stupid mistake, Take care.

    On Wednesday, September 8, 2021, 12:21:45 AM MDT, Prof. Dr. Theo Kluter ***@***.***> wrote:

There are some small problems in your circuit:

   -
At simulation reset, the outputs of your three 74163's are undefined (blue lines), hence you should do a clear at startup.

   -
The pull-up on the clear line is

[2021-09-09 03:51] #254 closed

[2021-09-09 03:56] MarcinOrlowski commented on #1021
These: "empty", "plain", or "mytemplate.xml" are literals? Esp. the last one?

[2021-09-09 09:21] MarcinOrlowski opened #1067 "Update repo/org configs"
@BFH-ktt1 can you please update both organization and repo config to use consistent graphics:

* repo settings -> Options -> Social preview (upload 1280x640 rendition of main logo)
* organization profile icon (use one of hi-res PNGs images from set of [in-app icons](..src/main/resources/resources/logisim/img/)).

Attached 1280x640 px rendition for repo Social preview -> [lse-1280x640.zip](https://

[2021-09-09 11:35] maehne commented on #969
I think @R3dst0ne's arguments are sound. Dropping the concatenation as suggested by @MarcinOrlowski is fine with me, too.

[2021-09-09 14:57] R3dst0ne commented on #1021
`empty` and `plain` are two constants strings that can be detected (if the parameter matches one of them, this option should behave like `-e`/`-p`).
If none of them matches, the argument should be seen as path (like `-z <path>`).

[2021-09-09 17:53] maehne commented on #1021
I am in favour merging the three options. Personally, I like just `--template` best and `-t` would then be a nice short name. In the Logisim-evolution preferences, the option is called "Custom template", so `--user-template` is counter-intuitive. Maybe "circuit template" or "schematic template" would be more descriptive alternatives if a longer name is preferable?

By the way, I noted that the fil

[2021-09-09 17:59] MarcinOrlowski commented on #1021
I do not like the idea of this merge. These options can be mutually exclusive but that it. First, merge of `-e`/`-p` solves nothing. It makes things worse as you need to remember switch value too. And the idea of argument being filename of option is wrong too. What if I want my file to be named `empty` or `plain`?

I vote to close this ticket as `wontfix` and create discussion instead to so anyone

[2021-09-09 18:01] maehne commented on #1015
Maybe, @davidhutchens could comment on this as a native speaker. Maybe, we could also side-step the issue by speaking of "Loading/Programming the bit stream into the FPGA device"

[2021-09-09 18:32] davidhutchens commented on #1015
Since you asked, I'll comment. According to the dictionary on my computer:

upload: computing. verb. transfer (data) from one computer to another, typically to one that is larger or remote from the user or functioning as a server: you can upload your prepared text | software is uploaded and downloaded. Compare with download.

Merriam-Webster dictionary defines download as: an act or instance of tr

[2021-09-09 21:34] maehne commented on #1015
Thanks a lot for your input @davidhutchens!

[2021-09-09 21:51] maehne commented on #1054
@Noobie2014 wrote:

This is a documentation issue. Unfortunately, the TTL library is so far not at all documented. If it were the case, we could probably reference the datasheets. Pull requests are welcome!

[2021-09-10 05:51] MarcinOrlowski commented on #1015
My understanding + common use case is that "downloading" is action of transferring data to the device that **initiated** the transfer and that simply drives it (and the size of computer should not matter since 1990 :) So if we have PC and FPGA board and if you run LSe on said PC then in case you are sending data from PC to FPGA then, if the whole process is controlled by PC (so FPGA is accepting d

[2021-09-10 06:11] MarcinOrlowski commented on #824
I'd like to drive the separation more aggressively, so first thing we (I believe) already agreed on, is that separation can happen as long as we are able to generate downloadable form (PDF etc) of the documentation for off-line use (Java help is dead we do not need to care it really).

Second thing is what to use for  the documentation:
* [markdown](https://www.markdownguide.org/)
* [asciidoc](htt

[2021-09-10 07:28] MarcinOrlowski opened #1069 "Simplifying LineBuffer format placeholder syntax"
Currently LineBuffer format placeholder syntax uses two opening and two closing braces (i.e. `{{foo}}`). I am evaluating if we can safely drop one pair just to have `{foo}`. As we use it mainly for HDL, is there any HDL syntax I miss that could make this tricky and confusing for parser?

[2021-09-10 12:09] MarcinOrlowski opened #1073 "Issues with nightly builds"
Nightly builder seem to not build as expected but I am unable to debug without additional information. @BFH-ktt1 can we have debug logs enabled by going to repo `Settings` -> `Secrets` and adding `ACTIONS_STEP_DEBUG` with value `TRUE`?

[2021-09-10 14:53] BFH-ktt1 commented on #1073
Done

[2021-09-10 14:56] BFH-ktt1 commented on #1069
As far as I know the ```{``` and ```}``` are not part of either the Verilog and the VHDL language. However, maybe we should take a moment and think if it makes sense to drop the double ```{{```, as I think it makes sense. Also for the readability it is more clear as a single ```{```. And in many editors you can define coloring macros based on the double which might be less obvious for the single.

[2021-09-10 15:02] BFH-ktt1 commented on #1067
Not yet, as long as the branding and icon discussion has not been resolved and voted on. I do not want to make a decision on this topic without the support of all.

[2021-09-10 15:10] BFH-ktt1 commented on #1021
Then it is correct, as the file would exist, and have an ```.xml``` extension. Hence a simple ```file.exists()``` could distinguish between the ```plain``` as internal template or ```plain.xml``` as external template.

I think the benefits of having lesser exclusive command-line option out weight  the extra intelligence we have to build in.

@maehne : As the template not only includes parts for th

[2021-09-10 15:55] davidhutchens commented on #1069
On page 66 of The Verilog Golden Reference Guide by DOULOS "{}" is defined as concatenation and replication. I have used it for bit string concatenations and replications. Notice that it is even possible to have two together "{{" or "}}" as the spaces are not required. I'm not sure how this should be reflected here. I just wanted to make everyone aware.

<img width="616" alt="p66VerilogRefGuide" s

[2021-09-10 20:55] R3dst0ne commented on #1015
I don't want to question your English knowledge/skills. But "your understanding" is not important when there are clear definitions.
Additionally, "download to" is commonly used when talking about such things.

Before we start a discussion, I propose that we make a quick poll.
👍🏼: change to upload
👎🏼: keep download
If one side wins clearly, we can skip the discussion and change it or leave it is as

[2021-09-11 00:40] MarcinOrlowski commented on #1067
That's fine but can we proceed with the design discussion then and either decide anything or at least say that "nostalgia" is B/S and not an valid argument?

[2021-09-11 00:52] MarcinOrlowski commented on #1015
Why? I would. It's not a hard task. Also -> "Question authority" (Socrates).

Clear definitions by who?

Great. As it is commonly used, could you please provide explicit example where fetching data is called "uploading"?

[2021-09-11 01:47] MarcinOrlowski commented on #1069
Thanks for the feedback. Double brackets stay with this engine then.

[2021-09-11 05:59] BFH-ktt1 commented on #1067
I would suggest to rename the issue to something like ```Update repo icon and preview update descission``` and pin it.
Than ask the community to do a :+1:  or :-1:

[2021-09-11 11:58] R3dst0ne commented on #1015
For FPGAs:
- "Select a bitstream programming file and download it to your hardware device." (Vivado)
- "Downloading Bitstream onto the target board." (XPS)
- "Completed downloading core to device." (iMPACT)
- "Configuration data download to FPGA was not successful." (iMPACT)
- "This custom bitstream is then downloaded to the FPGA." ([MathWorks](https://www.mathworks.com/help/supportpkg/xilinxzynqb

[2021-09-11 12:07] fpfrimer opened #1074 "DE10 - Lite support"
Greetings, logisim evolution is a great contribution to the teaching of digital systems at my university. However, I wasn't able to understand how to add support for other cards. I didn't find this in the help topics. Is there any tutorial? I want to add terasic's [DE10 lite board](https://www.terasic.com.tw/cgi-bin/page/archive.pl?Language=English&No=1021)

[2021-09-11 12:39] #1074 closed

[2021-09-11 12:41] BFH-ktt1 commented on #1069
@MarcinOrlowski , can we close the issue than?

[2021-09-11 12:43] #1069 closed

[2021-09-11 15:15] #1015 closed

[2021-09-11 19:37] BFH-ktt1 opened #1078 "Issues with dos2unix in linter"
In the linter report there are a lot of lines with:
[code]

[2021-09-11 21:29] #1078 closed

[2021-09-12 12:02] #1065 closed

[2021-09-13 06:56] maehne commented on #1065
@BFH-ktt1: Which PR(s) resolved this issue?

[2021-09-13 08:06] #1022 closed

[2021-09-13 08:06] #1021 closed

[2021-09-13 08:11] BFH-ktt1 commented on #1019
Can we close this issue? The project export related option is already covered in #13 and #812 .

[2021-09-13 08:39] MarcinOrlowski commented on #1019
Oh sorry, I thought I created this ticket.

[2021-09-13 09:43] #969 closed

[2021-09-13 16:06] R3dst0ne commented on #1019
After the recent changes, the only improvement I can think of, is changing the short option for `--clear-prefs` from `-r` to `-c`.

[2021-09-13 16:13] R3dst0ne commented on #824
In my understanding, we agreed that separation is a good thing, as long as we can have an offline version that ships with LSe.
If I remember correctly, the two options were either a PDF or offline webpages( that can be viewed from inside LSe).

What about [LaTeX](https://www.latex-project.org/)?

This and way more can easily be done with it.

[2021-09-13 16:19] #1010 closed

[2021-09-13 16:25] BFH-ktt1 commented on #1073
@MarcinOrlowski : Is there some progress on this one, I see that the latest nightly builds are skipped

[2021-09-13 16:25] MarcinOrlowski commented on #1019
I'd not touch `--clear-prefs` at all. Maybe even remove short form completely. Unless I miss anything this is kind of "recovery" action so it won;t be used too often + you do not want to trigger it accidentally, which is far easier with short form.

I addressed that in #1088

* #1088

[2021-09-13 16:29] MarcinOrlowski commented on #1073
No, I am ATM unable to tell why this happens. I did some research on the subject (people experience imprecise schedule but rather minutes, rarely 1 hour). I also went thru the docs but I failed to find why nightly get it skipped completely.  I think I will restore previous behavior where we had nighly building after each merge. It's not the best solution but I got no better idea ATM.

[2021-09-13 16:47] MarcinOrlowski commented on #824
LaTeX is too complex for our needs and it will make contributing harder. I believe that we should be pretty OK even with plain markdown, but asciidoc or re can offer more features we might want to use to make docs look nicer.

Static HTML and PDF can be created easily from anything.

We should try to create one example page featuring everything that we may now need (headers, bold/italic, tables, e

[2021-09-13 16:52] R3dst0ne commented on #1019
After `--clear-pref` was adressed in #1088 is there a reason to keep this issue open, or can it be closed?

[2021-09-13 16:53] BFH-ktt1 commented on #1019
It can be closed I think

[2021-09-13 16:53] #1019 closed

[2021-09-13 16:55] BFH-ktt1 commented on #1073
Now the windows-build fails.....

[2021-09-13 17:16] MarcinOrlowski commented on #1073
Seems it does not like current version string which is probably because of `-dev` suffix. Fixing

[2021-09-13 17:27] R3dst0ne commented on #824
The setup is indeed harder, but editing/contributing is very easy to. The design has to be defined once and is then independent of the content, which is edited by the contributors. In some sense, it is even simpler. Its tags are more descriptive and things the other languages struggle with are very easy to implement.

LaTeX on an advanced level can be confusing to beginners, but these kinds of fun

[2021-09-13 17:53] davidhutchens commented on #1073
It claims to have worked with a green check after @MarcinOrlowski fixed it. But no packages were actually found and made available. The problem is that it is looking for "3.7.0-dev" rather than "3.7.0dev".

Note that the Windows version will now not have the "dev" at all.

[2021-09-13 17:59] BFH-ktt1 commented on #824
I might partially agree, but for me this is not a reason to exclude it. I think that we should keep it in the list of options

[2021-09-13 18:06] MarcinOrlowski commented on #1073
Indeed, I already noticed that dash is not present i jar name but apparently manged to not fix it. Will do one more take

[2021-09-13 18:17] BFH-ktt1 commented on #971
@davidhutchens : Could you also please give your take on this one?

[2021-09-13 18:18] MarcinOrlowski commented on #824
As I said, the best (IMHO) approach now is to list all features we require, then create one page will all these features included using all the systems. Then we can see which one fits best and check PDF/HTML conversion tools. Then we decide.

[2021-09-13 18:30] oetzy opened #1092 "74161/74163 cascading issues"
The datasheet for the 74161/74163 specifies that TC/RC0 is high only when EnT is also high. In Logisim it stays high as EnT gets low. When set to 1111 via the input lines, TC/RC0 is only set if EnT was already high from previous clock cycle.

[2021-09-13 18:33] jxu commented on #824
Markdown is even easier to use and more well known. Github READMEs and this comment section use it.

[2021-09-13 21:16] R3dst0ne commented on #824
@jxu
You missed the point, this addition was not about ease of use and user base.
Markdown only became well known over the last view years (maybe a decade). And this is reflected in its robustness. There are multiple competitors that implement nearly the same but have small differences so that they are not compatible. (What is considered the best changes yearly.) Markdown itself comes in a lot of

[2021-09-14 06:13] BFH-ktt1 commented on #1092
Should be fixed in my latest PR, closing. Please reopen if the problem persists.

[2021-09-14 06:13] #1092 closed

[2021-09-14 14:59] R3dst0ne opened #1097 "LineBuffer.format() can't handle "$""
When trying to insert "$" with the help of `LineBuffer.format()` the following exception gets thrown.

        at java.base/java.util.regex.Matcher.appendExpandedReplacement(Matcher.java:1029)
        at java.base/java.util.regex.Matcher.appendReplacement(Matcher.java:997)
        at java.base/java.util.regex.Matcher.replaceAll(Matcher.java:1181)
        at java.base/java.lang.String.replaceAll(St

[2021-09-14 15:43] MarcinOrlowski commented on #1097
@R3dst0ne fixed in #1098

[2021-09-14 17:03] MarcinOrlowski opened #1101 "IllegalArgumentException while starting LSe"
### Discussed in https://github.com/logisim-evolution/logisim-evolution/discussions/1095

<div type='discussions-op-text'>

<sup>Originally posted by **marpol1992** September 14, 2021</sup>
I have a problem starting the application version 3.6.0. I have jdk-16.0.2 and jre1.8.0_301 installed, but it returns an error at startup "Failed to launch JVM" </div>

[2021-09-14 17:23] davidhutchens commented on #971
Today, Java 17 GA was officially released. Java 17 is an LTS release. It will hit the normal distribution sites soon. That is relevant to this discussion since the evaluation of the risk associated with Lombok rests, in part, on how up-to-date they maintain their releases.

There are open issues and an open Lombok PR <https://github.com/projectlombok/lombok/pull/2936> related to Java 17. I grabbed

[2021-09-15 09:16] MarcinOrlowski commented on #971
So I closed Lombok PR - let's see how the Eclipse support will proceed. I do agree that we may want to wait for them to stabilize the code. Let's see in a month or two and see if anything changed.

[2021-09-15 09:34] MarcinOrlowski commented on #1101
For a record, this affects only users with system locale set to Polish.

[2021-09-15 09:44] BFH-ktt1 commented on #1101
I think that we should maybe plan the roll-out of v3.7.0 soon, and not to try to back port it in v3.6.0, What do you think?

[2021-09-15 09:49] MarcinOrlowski commented on #1101
I am fine with 3.7.0 release. So let's set release date, freeze date and then let's go with [procedure](https://github.com/logisim-evolution/logisim-evolution/discussions/1004).

* #1004

[2021-09-15 09:49] MarcinOrlowski commented on #1101
Closing ticket as fixed.

[2021-09-15 09:49] #1101 closed

[2021-09-15 16:44] #1097 closed

[2021-09-15 21:46] BFH-ktt1 opened #1108 "Introducing 64-bits for the components introduced severe bugs in the HDL-generator"
Currently I am trying to get the HDL.generator more intelligent, and I discovered several bugs in the HDL-generator related to the extention of the nrOfBits from 32->64. As all HDL-generators use generics, Integers are used parameter maps for VHDL (only 32 bits), for Verilog I have still to check the documentation concerning the parameter maps.
However, many components will not work correctly usin

[2021-09-15 22:03] BFH-ktt1 commented on #1108
The same holds for the invering "bubbles" at the input of the gates

[2021-09-15 22:43] R3dst0ne commented on #1108
This was one of my main struggles while working on the new Random generator. I pause my work on it until most changes to the HDL generation get introduced.

[2021-09-16 15:14] BFH-ktt1 opened #1109 "The Bitselector HDL generator is disabled for the moment, needs massive rework"
Currently I disabled the HDL-generator for the bit selector.

[2021-09-16 15:59] BFH-ktt1 commented on #1108
PR #1103 fixes these issues

[2021-09-17 10:07] BFH-ktt1 commented on #1109
Fixed in #1103

[2021-09-17 10:07] #1109 closed

[2021-09-21 12:11] R3dst0ne commented on #775
The version number needs to be updated again in:
- [ ] [Wikipesia FR](https://fr.wikipedia.org/wiki/Logisim)
- [ ] [Wikipesia DE](https://de.wikipedia.org/wiki/Logisim)

[2021-09-23 04:20] MonAaraj opened #1117 "Auto-updater unable to fetch data resulting in a white window in Arch Linux"
After installing and running the logisim-evolution-bin AUR package, I see this window flash:
![An image of logisim's auto-updater window](https://user-images.githubusercontent.com/46468162/134453813-7043528c-ed86-4177-a74c-30ec6027c171.png)
Then, this as well:
![An image of the logisim splash screen window](https://user-images.githubusercontent.com/46468162/134453934-5d93716d-9c87-4596-b287-c63c3c

[2021-09-23 05:15] MarcinOrlowski commented on #1117
Please install recent version of LSe which is v3.6.0: https://github.com/logisim-evolution/logisim-evolution#download

[2021-09-23 05:15] #1117 closed

[2021-09-23 09:57] BFH-ktt1 commented on #1108
Closing as fixed by #1103

[2021-09-23 09:57] #1108 closed

[2021-09-24 14:51] GlowingUmbreon opened #1121 "Line 17: Invalid variable name '|'."
When trying to import a table I get the following error.
![image](https://user-images.githubusercontent.com/37640997/134694945-add08c5b-af4e-4111-a451-85339af3b03c.png)
This seems to happen on every table you import even ones you exported, here is a table that will cause the error:
[code]

[2021-09-24 16:07] MarcinOrlowski commented on #1121
Can you please attach the raw file? You may need to ZIP it first though

[2021-09-24 18:46] GlowingUmbreon commented on #1121
[nom.txt](https://github.com/logisim-evolution/logisim-evolution/files/7227842/nom.txt)

[2021-09-25 08:50] yaybee opened #1123 "Cannot use "don't care" character "x" on inputs of the vector test function"
Cannot use "don't care" character "x" on inputs of the vector test function

The vector test function on logical gates behaves strangely with "don't care" character "x" on inputs.
The documentation says:
	For hex, octal, and binary values, a digit of 'x' specifies four, three, or one "don't care" bits.

For me this means: x can be either 0 or 1, but the vector testing is using "undefined" at least

[2021-09-25 08:55] yaybee commented on #1121
I just opened a new issue for vector tests, but I notice as well, that the Hints and Notes on test vectors are not correct.
Next to the character | also ~ is not allowed as ignored input and - can not be used for "don't care".

[2021-09-26 11:39] BFH-ktt1 commented on #1121
I confirm the bug, the csv-format does the correct thing, the .txt file doesn't.

[2021-09-26 12:06] BFH-ktt1 commented on #1123
The test-vector feature does not support don't cares for the input pins for the moment

[2021-09-26 13:11] BFH-ktt1 commented on #1121
Fixed in PR #1126, please reopen if the problem persists

[2021-09-26 13:11] #1121 closed

[2021-09-26 17:30] MarcinOrlowski commented on #147
Closing as this is already addressed by #885

* #885

[2021-09-26 17:30] #147 closed

[2021-09-27 07:20] MarcinOrlowski opened #1136 "Not all code uses logger for error reporting"
Some classes are using `System.out.print*()` for error reporting instead of existing logger instance

[2021-09-27 18:38] BFH-ktt1 opened #1139 "HDL-generated code identation needs attention"
Since the introduction of the LineBuffer the indentation of some of the generated HDL-code got kind-of screwed up, example:
[code]

[2021-09-27 19:32] Paliak opened #1140 "Crash on starup with Polish localization"
Basically #477 but seems like it's broken again in 3.6.1 release.

Using the windows installer results in failed to launch jvm popup when logisim-evolution.exe is ran.

Running the jar with openjdk downloaded from https://jdk.java.net/16/ gives:

[code]

The fix as mentioned in #477 is to change the "dateFormat" parameter in logisim-evolution-3.6.1-all.jar\resources\logisim\strings\util\util_pl.pr

[2021-09-27 22:32] MarcinOrlowski commented on #1140
Most likely it is because v3.6.1 is based on 3.6.0 code which still have this problem and @BFH-ktt1 only included specific fix for FPGA board he had problems with. Localization issue was fixed `develop` branch only and we did not back-port it to `master` since then. @Paliak how crucial is this issue for you? Can you use nightly instead of official stable build?

[2021-09-28 05:00] BFH-ktt1 commented on #1139
I could think of a method, for example ```setIndentLevel(int level)``` that is applied to all ```.add( )``` methods afterwards.
also a method like ```increaseIdentLevel()``` and ```decreaseIdentLevel()``` might be usefull. This of course means that we have to go through all HDL-generators, but this is a one-time effort. What do you think?

[2021-09-28 05:05] BFH-ktt1 commented on #1139
Also a handle like ```addAllign("SIGNAL s_clock : std_logic;" , ':');``` could be very usefull for HDL for the Generics, Ports and Signals. Where we can align automatically a block of signals by the one with the largest name and the separation symbol.

[2021-09-28 05:26] Noobie2014 opened #1142 "The 74163 parallel load is broken"
I last sent an erroneous issue and am sorry for the mistake but this time i think i found one. I am sending this circuit for you to debug the issue. I have a 74161 and a 74163 wired the same and I can get the 74161 to load a parallel input but for the life of me I can't get the 74163 to load one. The chips are identical all except the clear input for one is asynchronous and the other synchronous.

[2021-09-28 05:49] BFH-ktt1 commented on #1142
Thanks for your Issue!

[2021-09-28 06:45] BFH-ktt1 opened #1144 "HDL-generators contain still a lot of hard coded Strings that are not localized"
In many of the HDL-generators errors and warnings are still hard coded with English strings. These should be localized.

[2021-09-28 06:59] MarcinOrlowski commented on #1142
No worries @Noobie2014. This is nothing unusual. Thanks for spending the time to file the ticket (regardless of the final outcome).

[2021-09-28 07:28] MarcinOrlowski commented on #1144
I suggest (which is what I am personally doing) to mark all these places with

    // FIXME: hardcoded string

comment, so when time come, it will be much easier to deal with it.

[2021-09-28 09:47] MarcinOrlowski opened #1147 "Checkstyle GHA is currently unable to handle the case where PR removes files only."
Checkstyle GHA is currently unable to handle the case where PR removes files only. This makes it detect *.java were changed as part of the PR but when it then tries to lint, there' no file really. I will fix that later.

_Originally posted by @MarcinOrlowski in https://github.com/logisim-evolution/logisim-evolution/issues/1146#issuecomment-929030993_

[2021-09-28 14:44] Paliak commented on #1140
Ahh. Took me a good bit of debugging to fix it so i thought i'd post my findings and right before creating a new issue i found #447. Saw that it was from January so i assumed it'd be implemented in master by now but didn't actually check (debugging was a bit of a headache, took me a while to figure out that the issue was with localization), sorry.

Not a huge deal for me. The modified jar works fi

[2021-09-28 14:47] MarcinOrlowski commented on #1140
We either release 3.7.0 (which includes this fix) or if for any reason 3.7.0 will still need some time to bake, 3.6.2 will be out fixing that.

[2021-09-28 14:50] MarcinOrlowski opened #1150 "Backport of Polish localization-based crash for 3.6.2"
@BFH-ktt1 If we are not going to have 3.7.0 in say a week, could you please backport PR #479 and release 3.6.2 as this bug apparently plagues more users that we formerly believed.

* #477
* #1140

[2021-09-28 14:51] MarcinOrlowski commented on #1140
I filled #1150 to have this addressed either way.

[2021-09-28 14:53] MarcinOrlowski commented on #1142
Closing as fixed (please grab nightly and try). Please reopen if needed.

[2021-09-28 14:53] #1142 closed

[2021-09-28 14:55] MarcinOrlowski commented on #1073
Closing, as I believe we have all issues addressed.

BTW: Github now warns:

is there anything to bother? @davidhutchens @maehne