[2019-12-02 15:17] Caellian commented on #291
@maehne Didn't see the wiki. [Plugin by Jörg Prante](https://github.com/jprante/gradle-plugin-jflex) seems more up-to-date. It's written in Groovy but I think (not 100% sure, input on this is welcome) there's no performance penalty as it's compiled Groovy.
Either way, problem with having to modify generated sources (as described [here](https://github.com/bobbylight/RSyntaxTextArea/wiki/Adding-Synt

[2019-12-02 15:27] Caellian commented on #199
JSON has the smallest memory footprint with GSON taking up ~240KB, YAML (Jackson + YAML format support) takes up ~390KB.
Whichever is chosen I suggest FPGA Commander should also use the same format and if necessary files can be further compressed using zip format support which is part of JRE. XML apart from being hard to read is also the bulkiest of them as it requires many extra characters per en

[2019-12-03 07:58] maehne commented on #291
Looking at the [source code for syntax highlighting](https://github.com/bobbylight/RSyntaxTextArea/tree/master/RSyntaxTextArea/src/main/java/org/fife/ui/rsyntaxtextarea/modes) in [`RSyntaxTextArea`](https://github.com/bobbylight/RSyntaxTextArea),
I don't think that it is a good idea to invest effort into developing a BNF library for this single purpose. All syntax highlighters are there implemente

[2019-12-03 09:34] BFH-ktt1 commented on #291
Hi all,
Before starting work on this issue some background information from me:
1) The RSyntaxTextArea used in the SOC-library uses an automatically generated TokenMaker that depends on the CPU used, hence here there is no JFlex is involved. Moreover, the results of the TokenMaker are used in the Assembler to do syntax checking and assembly. Hence here we should in line with the BNF library, unles

[2019-12-03 20:19] Caellian commented on #291
@maehne I wanted to create BNF library as it would also be useful later for another project I'm working on (which requires Java, Kotlin & Scala highlighting and JavaFX component for editing code). If it's not required to remove other languages I agree patching isn't required although it would be nice if RSTA was modular like [Jackson](https://search.maven.org/search?q=g:com.fasterxml.jackson.dataf

[2019-12-05 19:27] jennselby commented on #119
I ran into the same problem when using this in a class in which I was teaching students how to build a CPU.

Unfortunately, those suggestions from BFH-ktt1 do not get the functionality we need, because we still need the writes to be edge triggered. It is only the read that we want to be asynchronous. The trigger can only be set for both.

We are using software workarounds, making sure to use two c

[2019-12-10 10:39] emrankb commented on #255
@maehne done!

[2019-12-10 21:19] emrankb commented on #255
@maehne Hello, Are you going to close the issue? :)

[2019-12-10 23:32] davidhutchens commented on #255
Thank you @emrankb for the fix. My testing shows that the fix works for dragging an existing object. However, unless I am doing something wrong, it did not work for placing new objects.

[2019-12-11 09:52] maehne commented on #255
@emrankb: Thanks a lot for this fix. It works well for moving already placed objects and drawing new wires. I can confirm @davidhutchens observation that it does not yet work for placing new objects. It seems like there is some special handling allowing to move the mouse in the library/properties panel. However, I think the more consistent behaviour would be to have the auto-pan behaviour also whe

[2019-12-17 18:12] BFH-ktt1 opened #300 "Profiling support in SOC library"
It would be nice to have some means to profile a program in the SOC-library to be able to make some pie charts on where the most cycles are "burned" (SW-HW-co-design)

[2019-12-17 18:15] BFH-ktt1 opened #301 "C-programm -> assembly"
It would be nice to see the c-program next to the assembly code in the SOC-library; to mark some stuff in the c-programm to do either profiling or other manipulations in the SOC-library

[2019-12-17 18:19] BFH-ktt1 opened #302 "DFG,CG support in SOC library"
It would be nice to have a DFG (Data Flow Graph), and/or (CG) Call Graph available in the SOC-library in combination with #301  and #300 to make some interesting choices on HW-SW-co-design.
I know that java/eclipse has some libraries available (CDT).

[2019-12-17 18:35] BFH-ktt1 opened #303 "Documentation"
Hmmm, I also have to blame myself, but the current help system is out of date and needs some handling. Maybe a first step could be to first attack on the English version and than go to the other  languages. Many new features are not/partly documented and make the use of logisim a lot easier to the targeted public, when documented. It would be great if we could maintain Carl Burch's standard of doc

[2019-12-17 22:19] maehne opened #304 "FPGA Commander should check for duplicate identifiers"
Synthesis might fail in FPGA Commander with "Fatal Error found in stage Optimizing Altera Project" even if all FPGA Commander warnings have been fixed previously. The cause in the case reported by one of our students (cf. to [Moodle Forum](https://moodle.bfh.ch/mod/forum/discuss.php?d=69303)) is the use of `Carry` as name for a circuit sheet and the use of `carry` to name the output port in the sa

[2019-12-19 12:33] rkoe opened #306 "Avoid duplicate names on duplicate"
When duplicating, for instance, a LED, the copied element has the same name as the source. This must be avoided, eventually by adding a suffix to the name.

This was solved for "copying" (see #55), but  not for "duplicating".

[2019-12-19 12:44] BFH-ktt1 commented on #306
Dear @rkoe , which version of logisim are you using?
In the current development version 3.2.0 this issue should be fixed.

[2019-12-19 12:46] rkoe commented on #165
It's not quite complete: It does not check for a label ending with an underscore.
Instead, a label ending in an underscore is accepted; but when loading the file again, the label is modified (see #62). So, labels ending in underscores should be prevented, too (as long as HDL-compatible labels are required).

Tested version: v2.15.0
So, please reopen.

[2019-12-19 12:46] maehne commented on #306
I cannot reproduce your issue with Logisim-evolution 3.2.0 built from the develop branch. With that version, the label gets cleared on duplicated or pasted objects.

[2019-12-19 12:53] rkoe commented on #306
I've tested the lastest release (2.15.0).

[2019-12-19 13:08] rkoe commented on #306
Ok, I can confirm that this seems to be fixed in 3.2.0.
(And also, 3.2.0 now does not clear the labels if the element is copied to an other logisim-file, which 2.15.0 unfortunately did.)

It would be nice, though, if there would be an already-compiled 3.x version to download.

[2019-12-19 13:08] #306 closed

[2019-12-19 13:09] rkoe commented on #165
This seems to be fixed in the development branch; at least I cannot reproduce it on 3.2.0.

[2019-12-19 13:16] BFH-ktt1 commented on #306
I will very shortly put a release 3.0,3.1, and 3.2

[2019-12-19 14:52] rkoe opened #307 "RAM/ROM "edit contents" broken"
In 3.2.0, editing RAM/ROM is broken.
When I click on "Contents (click to edit)" or right-click on the RAM/ROM and select "Edit Contents...",
nothing happens.
This worked in 2.14.6 and 2.15.

[2019-12-19 14:59] maehne commented on #307
Thanks for the report! I can confirm this problem.

[2019-12-19 17:37] rkoe commented on #119
Wouldn't it be sensible to use **separate triggers** for read and write?
i.e.: Read RAM at rising edge, write at falling edge?

It would be great if this could be implemented.

I know that I could add some external gates to achieve [*] this (and also what @jennselby needs), but it would be much nicer if the RAM would already support this.

[*] e.g. for read-at-rising-edge, write-at-falling edge:
-

[2019-12-19 22:14] BFH-ktt1 commented on #307
I tracked down the issue and figured out that due to the fact that a stopped at a certain moment with merging Kevin Walsh's additions to logisim, the hex-editor got in broken state due to changes to the menu structure (of course the holy-cross version does not have this issue, evolution has it as I did not merge all changes made by Kevin). I will look into it as soon as I have the bandwidth, but u

[2019-12-20 19:04] mbaillif opened #308 "Bug in version 3.2.0"
If in place a free text on a schema, even just one.
There's this message when you're save the circuit.
"Text component not found."
3.2.0 from Branch develop

[2019-12-20 19:19] BFH-ktt1 commented on #308
I can reproduce, thanks for the catch!

[2019-12-23 10:23] rkoe opened #309 "rotate/mirror for all elements?"
Some circuits can be drawn much cleaner, when some elements are rotated/mirrored (e.g. a mirrored adder, feeding its result back to a register).

The gates can be rotated, but unfortunately, many other elements cannot. So, I think it would be useful if more elements could be mirrored (e.g. arithmetic) and/or rotated.

(As workaround, I can of course create a mirrored/rotated element by creating a

[2019-12-29 14:12] BFH-ktt1 commented on #277
It is even worst, the programmable generator is broken in evolution

[2019-12-29 14:15] BFH-ktt1 commented on #238
Should be fixed in 3.2.0, please reopen if you re-encounter the problem

[2019-12-29 14:15] #238 closed

[2019-12-29 14:25] BFH-ktt1 commented on #308
Fixed in my latest push, closing the issue, please reopen if the problem is not solved.

[2019-12-29 14:25] #308 closed

[2019-12-29 16:25] BFH-ktt1 commented on #304
Should be fixed in my latest push, please reopen if the issue still persists.

[2019-12-29 16:25] #304 closed

[2020-01-02 08:50] BFH-ktt1 opened #312 "RAM/ROM components in logisim"
Dear all,
I am looking into especially #307 to fix the current broken RAM/ROM components, however I face some choices to be made and need your help.
The first issue is that in evolution the RAM components use "byte-enables", whilst holycross went with "line-enables" (single dual quad). To be able to be backward compatible to both versions I can:
a) Use the holycross behavior for the clasic and hol

[2020-01-03 00:46] rpedroni commented on #303
Hi @BFH-ktt1 ! I'm a professor from Brazil and have been using the original Logisim for quite a while now in my classes but feel its lack of evolution stagnated what I can do with it. I'd love to help with this documentation, but I would like to get to understand better logisim-evolution more, since I've never used it before. If you can give me any starting point, that'd be great and hopefully I c

[2020-01-04 02:44] davidhutchens commented on #312
I believe the first point under Furthermore should reference #252.

[2020-01-04 22:11] mbaillif opened #314 "bug in component RAM ROM"
The content editor does not work
Version 3.2 branch develop
tested under windows

[2020-01-04 23:25] maehne commented on #314
This is a duplicate of issue #307, which is currently under investigation. Additionally, feedback is requested in issue #312 regarding the RAM/ROM components.

@BFH-ktt1: I suggest to close this issue.

[2020-01-04 23:46] maehne commented on #303
@rpedroni: Thanks for your offer to help! Contributions to the documentation are highly appreciated! Another user, @mbaillif, has started to work on updating the documentation for Logisim-evolution 3.2. You can see his contribution in PR #313. Once you know better Logisim-evolution and have ideas on which areas you would like to work, it would be good if you could let us and @mbaillif know, so tha

[2020-01-04 23:47] maehne commented on #312
@kevinawalsh: Maybe, you would like to comment on this issue?

[2020-01-04 23:51] maehne commented on #303
Another, currently stalled activity (due to lack of time) is the integration of the FSM editor developed by @sderrien. You can find the current state in PR #217. It needs to be rebased on the current develop HEAD and conflicts and build issues (due to our switch from Ant to Gradle) need to get resolved.

[2020-01-04 23:55] BFH-ktt1 commented on #312
@davidhutchens : Thanks, updated the reference

[2020-01-04 23:56] BFH-ktt1 commented on #314
@mbaillif : I will close this issue as it is a duplicate of #307, currently working on it and hope to have a solution soon.

[2020-01-04 23:56] #314 closed

[2020-01-05 18:55] mbaillif commented on #303
Hello everyone.

On this temporary link www.baillifard.com/logisim you can observe the state of progress of the documentation.
I have not yet approached the library part.

In general, everything should be checked, especially the boxes with V and M
There's still 1,000 and 1 mistake left. Obviously the red boxes have to be translated.

I'm gonna keep moving forward a little bit every day.

Text in h

[2020-01-07 01:53] rpedroni commented on #303
Hey guys, thanks for the response! Even though I'm an EE and teach EE, my main focus (for reasons to long to list here) has been web and mobile development. That being said, I was imagining we could use some of the documentation tools/frameworks already ou there (I really like [Docusaurus](docusaurus.io)).
If I tried following a path to fit the documentation in some framework like this, does that

[2020-01-07 02:20] rpedroni commented on #303
@mbaillif by the way, I translated the "About the program Logisim-evolution" to PT. Do you have an e-mail I can send you this specifically? Thanks!

[2020-01-07 15:10] BFH-ktt1 commented on #312
Many issues solved, but still #79 and #33 are open, so I keep this issue open.

[2020-01-07 15:11] BFH-ktt1 commented on #307
Should be fixed in my latest push, if still problems persist, please reopen the issue.

[2020-01-07 15:11] #307 closed

[2020-01-07 15:12] BFH-ktt1 commented on #252
Implemented in my latest push

[2020-01-07 15:12] #252 closed

[2020-01-07 15:12] BFH-ktt1 commented on #119
Implemented in my latest push

[2020-01-07 15:12] #119 closed

[2020-01-07 17:31] NulAsh opened #316 "Sequential circuits built from gates"
Will it ever be possible to simulate such circuits?
![image](https://user-images.githubusercontent.com/32499449/71915311-1f5f3a00-3184-11ea-9235-2e72663e441e.png)

[2020-01-08 16:44] davidhutchens commented on #312
Nice work, @BFH-ktt1. While I was playing with the updated RAM, I noticed a couple of minor things.

The clear pin does not have a label. It took some looking around to find it. There isn't much room in the image for a label, so perhaps you thought about a label but were not sure where to put it.

The tool tip on the clear pin doesn't match the comments on reset for Registers regarding asynchronou

[2020-01-08 19:54] mbaillif commented on #316
![d](https://user-images.githubusercontent.com/42096681/72010795-d2996300-3258-11ea-8eba-9327ad88248c.png)

Here is a solution for the first circuit

[2020-01-08 22:49] BFH-ktt1 commented on #312
@davidhutchens : Thanks!
About your points, I fully agree!
Some of my reasoning:
The clear pin is in general (FPGA-memories, ASIC-memories) not present and has to be implemented by a FSM that clears one position after the other; however, as the community liked this feature I reintroduced it "quickly" (without thinking of a nice way to do it).
I am open for suggestions how everyone would like to ha

[2020-01-09 21:00] mbaillif opened #320 "Timetable windows"
Studying the chronogram part of the 3.2 develop version.
for the documentation
I notice that the "Timetable windows" part is no longer available.
My questions :
- Has it been moved?
- will it come back?
- An alternative?

[2020-01-09 21:43] BFH-ktt1 commented on #320
Dear @mbaillif,
Please do not do documentation on the chronogram part in evolution 3.2 yet, as:
1) Kevin Walsh did a very nice job on improving the chronogram in his holy cross version
2) This will be the next part that I will attack in my merging effort of synchronizing evolution with holy cross.
If you want to continue on the documentation of the chronogram please checkout the latest version of

[2020-01-09 21:54] BFH-ktt1 commented on #320
Dear @mbaillif ,
Also important, could you please send me your credentials such that I can add you as contributor to the documentation effort?
Thanks in advance!

[2020-01-09 22:39] BFH-ktt1 opened #321 "Evolution still uses jar libraries that might be outdated and are available in maven"
I had a small moment to look into the lib directory of evolution, and noticed that evolution uses libraries made by other persons. The issues that I see here is:
1) Unfortunately we do not mention the persons/projects we depend upon in evolution.
2) We might profit from developments in those projects.
3) Due to switching to gradle we might include those libraries by use of maven
Unfortunately I ha

[2020-01-17 04:04] edsonacordi opened #324 "Diode"
It would be nice if it were possible to use diodes to implement logical ports.

[2020-01-17 15:04] maehne commented on #324
Do I understand you correctly that you would like to illustrate the functioning of simple diode logic gates as, e.g., described in [this Wikipedia article](https://en.wikipedia.org/wiki/Diode_logic)? You can fake already this behaviour using a PMOS with its gate connected to GND for the diode connecting the input to the pull-down resistor and an NMOS with its gate connected to VDD for the diode co

[2020-01-18 04:25] edsonacordi commented on #324
Hello maehne, thank you for your reply.
Indeed, using a subcircuit to hide the transistor, your solution is satisfactory. I use LTspice and Qucs for simulations involving analog electronics. Thanks for sharing!

[2020-01-20 16:23] edson-acordi opened #326 "r0the => logi7400"
Hi, I tried to load the libraries from https://github.com/r0the/logi7400 into logisim-evolution 3.3.0 and received the message:

"ogi7400dip: XML formatting error: org.xml.sax.SAXParseException; lineNumber: 45; columnNumber: 89; Attribute name "data-pjax-transient" associated with an element type "meta" must be followed by the ' = ' character."

It would be nice if this library (r0the/logi7400) co

[2020-01-20 20:58] mkayaalp commented on #194
See #327. It increases the limit to 64 bits.

[2020-01-22 04:32] edson-acordi commented on #326
I just downloaded the logi7400 library again and it is working!
I think it was some problem with the other download I did.

[2020-01-22 04:33] #326 closed

[2020-01-23 02:15] davidhutchens commented on #321
I was planning to have a look at the deprecated Java features that currently generates warnings on compiling. To do that, I tried to import logisim-evolution into a recent version of Eclipse. That failed. After some research I determined I needed to update Gradle to version 6.0.1. I did that and succeeded in importing it. So it looks like an update to Gradle is also needed.

I too have little expe

[2020-01-29 12:19] maehne commented on #321
@davidhutchens: Thanks for offering your help in this area! It is well appreciated! Fixing the deprecation warnings and removing dependency on these old JARs will help to improve code quality. Currently, @BFH-ktt1 and myself have little bandwidth to spend on Logisim-evolution due to the exam period and preparation of a new course for the next semester.

One additional thing to investigate in the a

[2020-01-29 21:49] BFH-ktt1 opened #334 "Importing original logisim files before evolution as circuit or library does not always preserve correct appearance"
I discovered that when importing the TTL-circuit library as circuit the flipflop-appearance are taken as the default set in evolution (in my case logisim-evolution). This causes problems as they should have classic-logisim.
Furthermore, when importing the TTL-circuit library as library, the sub-circuit shapes are lost (the sub-circuit should retain the appearance "custom" instead of the default se

[2020-01-29 22:04] BFH-ktt1 commented on #291
Although we now use the maven import (thanks @davidhutchens), there are still very important and interesting points left in this discussion. So I will leave it open.

[2020-02-01 02:33] pr33ch opened #337 "Critical path delay analysis"
Hi everyone :) I am a student who is using logisim and had an idea for a feature. It would be pretty useful if there were a tool that could automatically find and highlight the critical path in the circuit while outputting an estimated delay based on delay models.

I am interested in implementing this feature and would love to learn the fastest way to get myself acquainted with the code base for d

[2020-02-02 13:57] #281 closed

[2020-02-06 08:31] Timshoo opened #339 "OR gate and button into AND gate not working correctly"
I have 2 comparators connected to an OR gate that feeds an AND gate with a button. The output of the AND gate clocks data int a register. My problem is that data clocks into the register regardless of the states of the OR or the AND gate whenever the button is pressed.
  It's not a very big circuit, just running a counter. When the button is pressed, the counter value shifts into Areg while the va

[2020-02-06 08:53] BFH-ktt1 commented on #339
Dear @Timshoo,
The problem here is not related to logisim, but to your design strategy. You use a method which is know as gated clock, hence combinational logic that is creating a clock signal. This would work if the gates were ideal; however, gates have gate delay's (also simplified modeled in logisim), that can cause hazards (hence changes from 0->1 or 1->0 that in theory do not exist) causing t

[2020-02-06 08:53] #339 closed

[2020-02-06 09:49] Timshoo commented on #339
A lot of stuff just clicked with that explanation. I replaced the wire to the clock input on the Shortest_interval register with a direct clock signal.

Thanks

[2020-02-10 12:20] eddiewastaken opened #340 "A workaround for bidirectional/inout pins"
Here's an implemention I made of the [74LS245 (Bus Transceivers)](https://www.ti.com/lit/ds/symlink/sn54ls245-sp.pdf). The direction control makes it easy to reverse the direction without conflicting signals. Obviously in AND out pins had to be used, but this is the neatest solution I could manage for now:

![bidirect](https://user-images.githubusercontent.com/45104634/74149241-39ff5580-4bff-11ea-

[2020-02-12 14:33] mbaillif opened #342 "Bug V3.3 option -tty"
Version 3.3 has a bug in the command line execution with the -tty option.
-tty -load m1.hex
-tty -table

No matter the circuit

![image](https://user-images.githubusercontent.com/42096681/74344515-0bbf7880-4dad-11ea-9bef-83d7945e83fc.png)

[2020-02-12 14:37] mbaillif opened #343 "Small problem with the "Combinational analysis" window. V3.3"
Small problem with the "Combinational analysis" window.

The window is too narrow in some languages Example:de
And buttons no longer appear spontaneously

[2020-02-12 14:41] mbaillif opened #344 "obsolete command line option"
The command line -analyze option seems to become useless.
Can't we propose the genre of -analysis off -analysis on

[2020-02-12 15:13] maehne commented on #343
@mbaillif: Thanks for the bug report!

Could you provide a screenshot illustrating the issue?

What do you mean with "buttons no longer appear spontaneously"?

[2020-02-12 15:15] maehne commented on #344
Ideally, the default setting whether the analyze feature is on or off should be configurable at build time. The comman line option should only override this default.

[2020-02-13 02:50] FamiliarBreakfast commented on #324
Surely a [buffer](https://i.imgur.com/ZS7YbLy.png) would do the trick? As if I understand it correctly, you're using it for one way flow, and it's much smaller than the above solution.

[2020-02-13 03:03] FamiliarBreakfast opened #345 "Error when connecting register to itself"
Yes, I know how stupid that sounds, but hear me out.

I was designing a bus for a computer model I was working on, and as part of the bus control, I had a single register for preserving the last non-zero value of the bus, if I ever needed it (I realize now I didn't need it, but whatever). The way I set it up, I had a system to check if the bus was a non-zero value. If so, it would bring the write-

[2020-02-13 07:34] maehne commented on #345
Without any circuit file allowing us to reproduce your issue, it is hard to diagnose the cause of your problem. If the bus lines turned red, you have multiple sources driving your bus. In that case, you need to check your control circuits for your tristate buffers. If simulation stopped with an error message, you probably introduced inadvertently a combinatoric loop into your circuit. Such loops a

[2020-02-13 07:45] maehne commented on #337
Yes, it would be a nice feature. However, this would mean that Logisim-evolution must be extended to allow specifying gate delays. This may be difficult as to my knowledge Logisim-evolution does not fully implement the concept of discrete time and event-driven simulation as HDL simulators such as ghdl or ModelSim do, but a more simplified one based purely on the events produced by the clock signal

[2020-02-13 19:03] mbaillif commented on #343
After that, I think I'm a bit of a maniac. :-))

In fact that only happens in certain rather rare situations.
If you open the program in a language Example:en, open the "Combinational analysis" screen and then change the language Example:de screen does not resize.
![image](https://user-images.githubusercontent.com/42096681/74468682-85ce2b00-4e9b-11ea-83d6-0b45f87d967c.png)

and some buttons are mi

[2020-02-13 19:06] mbaillif commented on #344
Okay, I keep in the documentation

[2020-02-13 19:17] mbaillif opened #346 "memory file panel and international"
I notice that the memory file panel is not internationalized.
Is it possible to modify it to be able to present it in other languages ?

[2020-02-13 19:27] mbaillif opened #347 "I need a little help for doc"
I need a little help.

Can someone who develops in logisim confirm that the "JAR Libraries" part of the documentation is still up to date with the current state of the code.

Eventually, communicate corrections to me.

[2020-02-13 19:56] BFH-ktt1 commented on #346
Yes of course, and I agree that there are more parts, where only Englisch is available (for example FPGA-commander, some preferences, etc.). I'll put it as todo's, thanks for reporting them.

[2020-02-13 19:59] BFH-ktt1 commented on #347
Unfortenately I cannot help in this issue, as this part of the code I never investigated/worked on, maybe @kevinawalsh has some more info here, as I remember he had some pushes in his holycross version related to "JAR Libraries"

[2020-02-13 20:06] BFH-ktt1 commented on #343
I'm not sure exactly, but it could also be related to the Java Version. Note that the size of the window will not change when changing a language, only the "labels" on the button(s), Tabs, etc. will change; it is well possible that this might force some buttons to disappear; however, this is not likely related to logisim I think, but more to how java is handling labels being larger as the button/t

[2020-02-13 20:44] FamiliarBreakfast commented on #345
I can get you a test file in time

[2020-02-14 01:46] kevinawalsh commented on #347
The text looks fine. The code examples are almost certainly out of date, as various APIs have changed over the years, but you can get a fresh copy from the src directory that is probably working. You can compile the gray code library to test it -- I believe that code still works fine.

There are two large gaps in the documentation though: instructions for building Jar libraries (specific versions

[2020-02-14 07:32] maehne commented on #344
Another option we could discuss is whether the availability of the analysis feature should be only configurable at build time. In that case the command line option and its documentation could be completely removed.

[2020-02-14 08:04] maehne commented on #324
Feel free to provide a circuit demonstrating how you would use a buffer to model the above diode logic gates. The tricky thing is that the output of the diode needs to be either '1' or 'Z' for the OR case or '0' or 'Z' for the AND case. I don't see a way to achieve this behaviour with a buffer.

[2020-02-19 07:40] h1s0k429a commented on #316
Im trying to create D / T Flip Flops but the software keeps crashing on me or gives me error.
When I try to create the flip flips in online gate simulator tools, it works. please fix this ;(

[2020-02-19 22:21] Caellian commented on #199
I was stuck for a long while not being able to progress on this issue.

[2020-02-22 08:00] klenin commented on #342
I have just downloaded logsim-evolution as a potential replacement for logisim and encountered this bug.
Brief analysis suggests that it is due to the fact that `WIDTH_ERROR_COLOR` is not initialized in tty mode, which causes `darker()` call to fail.
Possible fixes may be either to move global colors' initialization form `Value.getColor` to static initializer, or, conversely, replace static initia

[2020-02-22 12:42] klenin opened #352 "exitAfterStartup and tty"
When running with `-tty table` option, Logisim hangs after displaying the table.
It can be trivially fixed by replacing `return` with `System.exit(0)` in `Startup.run`
after the call to `TtyInterface.run`.
However, I am quite confused about why this whole mess with `exitAfterStartup`
and multiple direct exits from e.g. `parseArgs` is needed at all.
Can somebody please enlighten me?
For a quick fix

[2020-02-22 19:50] mbaillif commented on #316
This time Loigisim is rather right.
In the help chapter "Value propagation" and "Shortcomings" the limits of logisim in this field are presented.

This circuit is particularly unstable, even in the real world.
The one I built to see, oscillated at 16mhz with 74 series gates.

If you use this circuit it will work.
It's the same schematic, designed a little differently.

![image](https://user-images

[2020-02-23 11:44] Timshoo opened #353 "Rotary encoder Input?"
Has anybody made a rotary encoder as an input? Like a quadrature or even multi-bit absolute.

[2020-02-23 16:26] BFH-ktt1 commented on #352
I know that the -tty is still very broken, whilst merging the holycross additions I skipped some steps related to the headless execution of logisim. This is on my todo list, and as soon as I have again a bit time (currently I am very busy preparing two new courses) I will again look into this issue, please have a tad of patience

[2020-02-24 05:38] klenin commented on #352
Same :)
This semester I hope to upgrade my course from plain Logisim to Evolution.

Meanwhile then, please apply referenced PR -- it fixes the problem for now,
should be good enough until you have time for a proper refactoring.

[2020-02-25 13:21] binarycow opened #355 "Annotation of active low pins"
Requesting a feature to add annotation of an active low pin.

For example, suppose I have a subcircuit, which has an input which is active low.  On the outer circuit, I simply see the pin name.  On schematic diagrams, it is often drawn with an overbar on the pin name.

In [KiCad](https://kicad-pcb.org/), prefacing a pin name with a tilde (`~`) will render that pin's name with an overbar over it.

[2020-02-25 13:35] binarycow opened #356 "Identify a "display" for use in sub-circuit appearance"
Requesting a feature to add a 'display' of some form, that can be used in the sub-circuit appearance, to give an indication of the inner-workings of the sub-circuit from the outer circuit.  This can be useful when a sub-circuit uses a tri-state output - its "value" is not always seen on the output bus, but it can be useful to see what its current value is when debugging.

Multiple memory-type sub-

[2020-02-27 03:10] joseatienzapiedra opened #357 "V3.3: Error: a JNI error has ocurred, please check your installation and try again"
Hello!

I have been using Logisim evolution 2.15 for the last months and everything has been great. I recently tried to run the new 3.3 version but it crashes when I try it.

I use Windows 10 64 bits. I have tried in different computers, with the last version of java and with older versions of java and I have also tried in Windows 7. I Always get the same error:

Error: a JNI error has ocurred, pl

[2020-02-27 08:01] maehne commented on #355
In my opinion, this is primarily a question of naming convention. The KiCAD convention, which you suggest, is not suitable, as the resulting port name would not be a valid identifier in VHDL and Verilog. In HDL-based designs, the suffixes `_b` and `_n` are common to denote low-active signals. We use this convention for naming signals in Logisim projects, which are done as part of our digital desig

[2020-02-27 08:18] maehne commented on #356
One simple workaround we use frequently is to create additional output pins for debugging the internal state of a block. We then create a custom symbol, in which we move these debug outputs inside the symbol itself and label them appropriately. When we place instances of these blocks, we directly connect LEDs with these debug outputs. You can even do something similar with bus signals by using, e.

[2020-02-27 08:31] maehne commented on #353
You can build it yourself with reasonable effort. E.g., [Wikipedia] gives you some nice hints how to do it. This is a typical design task for introductory digital design classes, in which Logisim-evolution is primarily used.

[2020-02-27 09:02] maehne commented on #357
What does `java -version` return in the command shell from which you launch the `logisim-evolution-3.3.0-all.jar` file available from the [Releases page](https://github.com/reds-heig/logisim-evolution/releases/tag/v3.3.0) using `java -jar logisim-evolution-3.3.0-all.jar`? On my Windows 10 64-bit machine it returns:
[code]

I suspect that you have several JDK versions installed in parallel on you W

[2020-02-27 09:56] maehne commented on #352
I guess with PR #354 being merged, this issue can be closed now, as there is still the issue #342 regarding additional problems with the `-tty` option.

[2020-02-27 14:22] klenin commented on #352
IMHO it is the other way around.
Issue #342 is fully understood and fixed. Perhaps there is a slightly better way, but the difference is quite minor.
This issue, however, is patched up, but I really do not understand why the code is structured the way it is, and 90% sure it should be reorganized.
Multiple calls to `System.exit` from non top-level code make me uncomfortable :)

[2020-02-28 17:04] Holeryn opened #358 "Exception in thread "main""
After git cloned the repo and did :
`./gradelw run`
I receive this:

[code]
Instead if i try to start the pre compiled build with:
`java -jar logisim-evolution.jar `
I receive this:
[code]

[2020-03-01 10:01] Holeryn commented on #358
I did :
[code]
and after installed this packages, in could execute logisim

[2020-03-01 10:01] #358 closed

[2020-03-04 10:46] Banyc commented on #64
Consider using [yosys](https://github.com/YosysHQ/yosys) to synthesize Verilog?

[2020-03-07 12:50] klenin opened #363 "README: Broken link to a book"
It seems that the book does not exist any more:
http://www.lulu.com/shop/george-self/exploring-digital-logic-with-logisim-ebook/ebook/product-21118223.html

[2020-03-08 00:04] binarycow commented on #355
I agree, it should be fairly easy to draw the overbar...  I would totally do a pull request, but my Java skills are basically nil... :(  Maybe eventually I'll figure it out!

[2020-03-08 00:06] binarycow commented on #356
I hadn't thought of that!  I just checked out the BFH seven segment stuff, and that would work great!

[2020-03-08 16:28] maehne commented on #363
Thanks for reporting the broken link! This is unfortunately a duplicate of the old open issue #96, we overlooked to resolve, when @grself was so kind to provide an updated version of that old document.

@grself now maintains the documents in two GitHub repositories ([Digital Logic Text](https://github.com/grself/CIS221_Text) and [Logisim-evolution Lab Manual](https://github.com/grself/CIS221_Lab_M

[2020-03-08 16:49] BFH-ktt1 commented on #363
Should be fixed now, closing issue

[2020-03-08 16:49] #363 closed

[2020-03-08 16:49] BFH-ktt1 commented on #96
Should be fixed, closing issue

[2020-03-08 16:49] #96 closed

[2020-03-17 22:45] edson-acordi opened #365 "Hex Digit Display: Improve visualisation of High-Z input value"
Doing some tests with Hex digit display, I noted that if the data (4 bit) is in High-Z, display shows "H" instead of stay in adjusted "Off Color". It would be good if the Hex digit display works like the 7-segment display. Moreover, it would be nice to have the option "Active On High?" as the 7-segment display has.

[2020-03-21 08:32] BFH-ktt1 commented on #250
Fixed in my latest push, please re-open if it doesnt solve the problem

[2020-03-21 08:32] #250 closed

[2020-03-21 16:39] BFH-ktt1 commented on #257
fixed in my latest push, please reopen if the problem reappears.

[2020-03-21 16:39] #257 closed

[2020-03-22 15:12] Banyc commented on #63
I prefer the subfolder idea. If there is already a bunch of custom circuits exist in one logisim-file, no way to export it as an external library.

Besides, a simple copy-and-paste could not perfectly move a circuit since it will lose its labels.

Also, to build a new logisim-file right next to the existing one is painful because you could not copy-and-paste the file path to save, rather it needs

[2020-03-25 21:41] BFH-ktt1 opened #370 "Netlist generation with splitters causes bugs"
I have been playing around with some "fancy" splitter circuits. In most cases hdl-generation is okay, but this evening I was able to generate more and more cases where hdl-generation is incorrect. Example: take the circuit below. This generates:
[code]

That is clearly incorrect; the assignments should be:
[code]
If you have such cases, please add them to this issue, such that I can try to fix it

[2020-03-25 22:04] BFH-ktt1 commented on #370
This one for example generates the correct HDL, but gives warnings:
![bug](https://user-images.githubusercontent.com/13875618/77589852-bff40900-6eec-11ea-8603-d36317733529.jpg)

`--==============================================================================
--== Logisim goes FPGA automatic generated VHDL code                          ==
--==

[2020-03-28 16:32] BFH-ktt1 commented on #370
All fixed with my latest push (hopefully)

[2020-03-28 16:32] #370 closed

[2020-03-29 00:27] edson-acordi commented on #365
It is ok with the display showing "H". But the documentation explains that a floating or error signal, will display a dash ('-') instead of "H", but this is not relevant.

[2020-03-29 08:46] maehne commented on #365
@edson-acordi: If there is an inconsistency between the implementation and documentation, then please leave this issue open so that it can be fixed.

[2020-03-30 12:37] edson-acordi commented on #365
Hi Maehne, issue reopened to be fixed! Thank you!

[2020-03-30 16:47] maehne commented on #365
@BFH-ktt1, @kevinawalsh, and @mbaillif: I confirm the inconsistency reported by @edson-acordi between implementation and documentation of the Hex Digit Display component. I guess fixing it in the implementation is least effort, but maybe displaying "H" instead of "-" is preferable? For me, "-" means Don't Care, but under certain conditions it might be mistaken to be a minus sign in front of a valu

[2020-03-30 17:33] maehne commented on #357
@BFH-ktt1, there has been no reaction by @joseatienzapiedra to my reply. Therefore, I suggest to close this issue assuming that my hints helped him to resolve the JNI error. If not, @joseatienzapiedra can re-open the issue with additional information.

[2020-03-31 23:11] paoloSantinelli opened #375 "TCL_Generic"
Hi,
I am Paolo, I am a teacher and I use Logisim to teach digital design in my courses.  I am trying to create a TCL_Generic block to access to the serial port of the PC in order the simulated circuit can be able to communicate with external devices.

Please, could somebody give me some help about how to write a simple TCL script to link with the  TCL_Generic block just to do very basic task? I ha

[2020-04-01 07:07] BFH-ktt1 opened #376 "Board editor documentation"
As I do not have the time for the moment to make a proper documentation I just put quickly the board-editor features here before I forget the details:
1) To start do one of the following:
a) Load a png-image by clicking in the board-editor with a size of minimal 740x480; the board editor will resize the image to this size.
b) Load an existing board description file from disk by pressing the button

[2020-04-01 11:16] maehne commented on #375
I am afraid that your request can be only be answered by a member from the REDS institute of HEIG-VD in Yverdon (e.g., @reds-heig, @reds-kgs). To my knowledge, they are the only users of the two components TCL REDS console and TCL generic. I hope that they can provide you with some guidance. We primarily synthesize our design directly on Xilinx or Altera/Intel FPGA boards using the FPGA commander

[2020-04-01 12:09] paoloSantinelli commented on #375
Thank you very much for the tips, I have already downloaded the updated version. Now I try with this version, and, in case, I will ask info at a member from the REDS institute. Usually, We use FPGA boards, but in now each students cant attend the Lab (COVID19) so I am looking for something can be used by the students at their home.

[2020-04-02 20:03] BFH-ktt1 opened #379 "bug: removing an external board when it is selected in the FPGA-commander results in a null-pointer exception"
When an external board is removed in the FPGA-comander settings which is selected in the FPGA-comander will result in a null-pointer exception as the FPGA-comander still wants the board information. To be fixed.

[2020-04-02 20:06] BFH-ktt1 commented on #357
Please reopen when not solved

[2020-04-02 20:06] #357 closed

[2020-04-02 20:14] BFH-ktt1 commented on #356
In the appearance editor of a circuit there is the possibility to add "dynamic components" (icon completely right in the toolbar). Currently supported are among others LED's, seven segment displays, counters, etc. I know that this feature is not yet completely documented (one can find some of my documentation when looking in the English documentation of the SOC library, but it is far from complete

[2020-04-05 09:53] BFH-ktt1 commented on #248
This issue is solved by my latest pushes in develop (as the separate map file is now obsolete, the mapping is now stored in the .circ file), will close it.

[2020-04-05 09:53] #248 closed

[2020-04-05 09:55] BFH-ktt1 commented on #220
Due to long inactivity I will close the issue, please reopen if the problem is still persistent

[2020-04-05 09:55] #220 closed

[2020-04-05 09:59] BFH-ktt1 commented on #198
The problem should be solved in my latest pushes (it was related to "complex"-splitter connections). Closing the issue. Please reopen if the problem persists.

[2020-04-05 09:59] #198 closed

[2020-04-05 10:00] BFH-ktt1 commented on #185
Due to long inactivity closing the issue.

[2020-04-05 10:00] #185 closed

[2020-04-05 10:01] BFH-ktt1 commented on #183
Many (hopefully all) have now been "internationalized", so closing the issue.

[2020-04-05 10:01] #183 closed

[2020-04-05 10:03] BFH-ktt1 commented on #145
Due to long inactivity closing the issue, please reopen when the problem still persists.

[2020-04-05 10:03] #145 closed

[2020-04-05 10:06] #27 closed

[2020-04-06 08:14] maehne commented on #27
For those looking for these simulation-related buttons: They can be found in the "Simulate" tab left of the main drawing area.

[2020-04-06 08:21] maehne commented on #277
This and some other Logisim ITA issues seem to have been fixed by its author in commit [c047de94](https://github.com/LogisimIt/Logisim/commit/c047de940b99a0fd8e89f9f178ace1980f8fd1a4). We should check if they apply to Logisim-evolution, too.

[2020-04-06 08:42] maehne opened #380 "PLA component (Input/Output-extra library) has no description"
The PLA component in the Input/Output-extra library is lacking a description, as can be seen in this screenshot taken from Logisim-evolution built from HEAD of the develop branch (commit 5fc1a067):

<img width="274" alt="image" src="https://user-images.githubusercontent.com/1174243/78539611-22091400-77f3-11ea-84c4-4970070b9d40.png">

[2020-04-06 13:56] maehne opened #381 "Add "Reset window layout" to Window menu to recover from unusable GUI"
The Left panel and therein contained Library and Property panes can be made to disappear by resizing them using the mouse (see screenshots below). Even the main circuit drawing area can be made to disappear (see screenshot below). Unfortunately, it is not possible to make reappear the respective panel/pane, as there's no widget element allowing to resize it back to its initial size. (This is not c

[2020-04-06 14:01] maehne commented on #381
Maybe, making these different panes to disappear could be suppressed alltogether by forcing a minimum size to each of them?

[2020-04-06 14:56] maehne opened #382 "Improve German translation of FPGA Commander messages"
Thanks for internationalising the FPGA Commander GUI! The German translation requires work, as some automatically translated messages have turned out to be either non-sensically or funny. Examples from `src/main/resources/resources/logisim/de/fpga.properties`:

- [x] "Sie haben ein Blatt in Ihrem Design mit einem leeren Namen gefunden. Dies ist nicht erlaubt, bitte geben Sie einen Namen an!"
- [x]

[2020-04-06 15:50] BFH-ktt1 commented on #382
This is true for most languages except for the English version. From now on I will refrain from using Deepl for translation as it is probably less annoying to have some English text as some funny no sense making "own" language text.

[2020-04-06 15:55] BFH-ktt1 commented on #381
The dissapear is a "wanted feature" that is used in Logisim. Hence preventing the minimal/maximal size will go against some of the features used. I added a button in the preferences -> window with which the default layout can be restored.

[2020-04-06 15:55] #381 closed

[2020-04-06 15:57] maehne commented on #382
Well, there is still some value in having the DeepL translations as a starting point. We native speakers just need to find and take the time to review those translations and improve them. That's why I created this issue.

We may discuss whether it is better to simply put the English phrases as placeholders into the translation files for the other languages. For users this might be more convenient,

[2020-04-06 15:59] maehne commented on #382
- [ ] "Altera-Synthese, P"

[2020-04-06 16:01] BFH-ktt1 commented on #382
When no translations are available yet, we should not specify any thing in the for example German files, as logisim will take in this case automatically the english version. This is the reason why I mark them by:
#==> <key>
Such that somebody working on them knows that there is not yet a translation available, and that they can find a description of the <key> in the English version to be translate

[2020-04-07 10:07] maehne commented on #277
Some additional fixes in Logisim ITA were done in commit [bf526841](https://github.com/LogisimIt/Logisim/commit/bf52684130cbbbe041d6cb7d12ac8ee92cf8e082).

[2020-04-09 06:32] hugolundin opened #384 "Missing components"
I was looking for the "Power On Reset" component that *should* be in "Wiring". It's simply not there for me.

I am using the application on macOS 10.15.4. I built it myself by cloning the master branch and running `./gradleW createApp`. When I look in `/logisim-evolution/src/main/java/com/cburch/logisim/std/wiring` of the repository I built there is a file called `PowerOnReset.java`.

Any suggesti

[2020-04-09 12:35] bmyerz opened #385 "Wire value X labeled as Z for hi-Z"
I've always had to explain to my students that the X you get from poking a blue wire is not related to "don't cares" in truth tables. Rather the X's are indicating hi-Z state. I'm interested in whether there would be support for showing the X's as Z's instead to reinforce this?

[2020-04-09 13:27] BFH-ktt1 commented on #385
Dear @bmyerz ,
I completely agree with the fact that a three-stated wire should not be called "X", as "X" can have two different meanings:
1) being don't care.
2) Being a short circuit (as in the IEEE1069 specifications)
I will look into the issue and try to solve this issue, thank you for your Issue request.

[2020-04-09 16:59] maehne commented on #384
Well, the "Power On Reset" component is simply called "POR" and just located below the "Clock" source component in the "Wiring" library of Logisim-evolution. I checked versions 3.3.0, 3.3.1, and 3.3.3. Did you maybe just overlook it?

[2020-04-09 21:03] hugolundin commented on #384
Yep, I did 😄 Thanks!

[2020-04-09 21:03] #384 closed

[2020-04-10 15:12] benburk opened #386 "Reset Simulator and Redo are mapped to the same keybinding on mac (CMD-R)"
This is the case on v3.3.0 and v3.3.3. I propose Shift-Command-Z to be the keybinding for Redo, which is used by most programs.

[2020-04-11 06:47] BFH-ktt1 commented on #386
Should be fixed by @davidhutchens pull request, please reopen if the issue persists.

[2020-04-11 06:47] #386 closed

[2020-04-13 15:50] BFH-ktt1 commented on #385
Updated in my latest push, documentation needs still to be adapted, hope this solves the problem

[2020-04-15 06:23] BFH-ktt1 commented on #380
Fixed in my latest push

[2020-04-15 06:23] #380 closed

[2020-04-15 06:44] BFH-ktt1 commented on #379
Fixed

[2020-04-15 06:44] #379 closed

[2020-04-19 10:53] maehne opened #393 "Consider integrating simplified Chinese locales recently merged into Logisim ITA"
Simplified Chinese locales were added in [PR #14](https://github.com/LogisimIt/Logisim/pull/14) to [Logisim ITA](https://github.com/LogisimIt/Logisim).

[2020-04-21 10:33] ManiaciaChao commented on #393
Well, considering the difference in the text between the two versions, I need to spend some time rechecking and updating the text to make the translation more suitable for `logisim-evolution`.
I will make a PR as soon as possible.

[2020-04-30 07:48] maehne opened #395 "Severe gated clock warning when providing system clock through input pin"
In a student project involving two FPGA boards, we have one of the boards acting as master and the other as slave. The master provides to the slave the clock signal to be used for its entire design. Logisim-evolution reports the entire clock network starting from that clock input pin as a gated clock line (severe warning). The circuit works nevertheless. Anyway, it would be nice if this severe war

[2020-05-03 20:06] rhodeon opened #396 "Chip Select with RAM"
The original Logisim has a chip select port which enabled or disabled the entire component, and it was level triggered.
There doesn't seem to be an equivalent port in Evolution. Is there a way to achieve this?

[2020-05-05 22:27] rhodeon opened #397 "Circuit appearance isn't persistent across files."
Creating a circuit and editing it's appearance works when using it in other circuits in the same file, but not when loaded as a library in another file.

For example, I made an implementation of the 7489 RAM IC and edited its appearance to be:
![in_file](https://user-images.githubusercontent.com/42483190/81121537-e0b97080-8f26-11ea-92c6-8eca7480f906.png)

It appears this way when used in other cir

[2020-05-06 06:38] maehne commented on #396
Well, you have the dedicated `Write enable` and `Output enable` inputs. How about connecting your `Chip select` signal directly to `Output enable` and using an AND gate in front of the `Write enable` to generate from the `Chip select` and `Write` control signals the `Write enable` signal?

You are aware that you can switch the appearance of components in their property pane to get back the classic

[2020-05-06 06:51] maehne commented on #397
Thanks for reporting the bug! I can reproduce the issue (see attached test case).

@BFH-ktt1: Could you have a look?

[bug397_testcase.zip](https://github.com/reds-heig/logisim-evolution/files/4585186/bug397_testcase.zip)

[2020-05-06 07:04] maehne commented on #393
@ManiaciaChao: Thanks for offering your help in this area. Logisim-evolution incorporates almost all improvements done by the [Logisim ITA](https://github.com/LogisimIt/Logisim) developers as well as many from the [Logisim-evolution (Holy Cross)](https://github.com/kevinawalsh/logisim-evolution) edition by Kevin A. Walsh. In addition, it contains several additional improvements especially related

[2020-05-06 07:07] BFH-ktt1 commented on #397
This is my issue #334 , and on my todo list

[2020-05-08 13:09] rhodeon commented on #396
Yeah. That was coincidentally how I ended up mimicking the pin.
As for the classic look, switching to it just changed the interface of the RAM and didn't create a chip enable pin. I suspected this would be the case, though.

[2020-05-08 13:21] rhodeon opened #398 "Start Chronogram button missing."
The current chronogram window in version 3.3.4 appears thus:
![Screenshot 2020-05-08 14:10:58](https://user-images.githubusercontent.com/42483190/81408895-fd77c300-9135-11ea-987f-02d0951b4606.png)

Here's a screenshot of the window in version 2.14.6:
![Screenshot 2020-05-08 14:16:09](https://user-images.githubusercontent.com/42483190/81409340-dcfc3880-9136-11ea-9cfe-1cac899ccb55.png)

It's current

[2020-05-08 13:22] rhodeon commented on #397
Thanks for the response. Do you currently have an idea of the ETA for the next update?

[2020-05-12 07:57] maehne commented on #277
Some additional fixes in Logisim ITA were done in commit [e3500f86](https://github.com/LogisimIt/Logisim/commit/e3500f8641acfabb77b609f7fc40e418fe20b9cf).

[2020-05-13 14:08] eddiewastaken opened #399 "Test Vectors - Variables"
How can I test whether a circuit output becomes an existing input - specifically for higher bit width inputs/outputs?

For example, a 2-to-1 multiplexer of n-bit width:

![2 to 1](https://user-images.githubusercontent.com/45104634/81822720-5fb43780-952b-11ea-9bd6-c4395b83e758.png)

How can I represent this in a test vector?

[2020-05-15 14:48] #399 closed

[2020-05-19 02:44] ReGuess commented on #340
A slight improvement, making use of components' variable bit-width:

![bidirectional](https://user-images.githubusercontent.com/7409957/82278517-f2186900-9979-11ea-82c3-3d752f99e829.png)
[bidirectional.zip](https://github.com/reds-heig/logisim-evolution/files/4647935/bidirectional.zip)

[2020-05-22 09:11] maehne opened #400 "Logisim ITA fixed pinout of ttl7402"
Logisim ITA fixed in commit https://github.com/LogisimIt/Logisim/commit/a161d0916ef03a8747edb2a708674d8ed551baa4 the layout of ttl7402, which is also provided by Logisim-evolution. Additionally, a typo got fixed in a comment https://github.com/LogisimIt/Logisim/commit/3b263bfa00671b0c349eea4582840670cad247d7 in the static `paintDoubleInputgate` method.

[2020-06-01 01:42] benburk opened #401 "Write enable pin missing from flip-flops"
The write enable pin is missing from the different flip flop circuits. These were present on the original circuits as shown [here](http://www.cburch.com/logisim/docs/2.3.0/libs/mem/flipflops.html).

[2020-06-05 01:01] Codyl commented on #189
If anyone has this issue, make sure you have simulation enabled in the simulate drop down. That might fix the issue if it is simple. Otherwise, it may not let you edit the rom.

[2020-06-05 07:33] maehne commented on #189
@Codyl: Does it mean that this issue should be reopened because it is still present in the latest release 3.3.4 of Logisim-evolution? Do you have a test case / sequence of steps to reproduce reliably this issue?

[2020-06-12 10:13] tombjerck commented on #398
This error was introduced by commit 1aa577d3b42b210fd734ce4fc356654d72d06b6f from Mar 23 2019. This is while running openjdk version "11.0.7" 2020-04-14.

[2020-06-12 16:41] maehne commented on #398
Thanks @tombjerck for identifying the specific commit, which introduced this commit! @BFH-ktt1 made these modifications and I know that he is not yet finished with porting back the improvements done by @kevinawalsh in his Logisim-evolution Holy Cross edition. It may take several weeks before he may find time again to look into this issue, as the spring term exam period lies ahead with a high work

[2020-06-13 21:51] ReGuess commented on #401
See #128
Although I will say that either it ought to be brought back, or the documentation ought to be updated regarding this, and ought to explain how to recreate all four kinds of flip-flops using registers. The only one that's immediately obvious is the D flip-flop; and even still, registers lack the "preset/pin to 1 asynchronously" input pin available on the flip-flops.

[2020-06-16 07:00] BFH-ktt1 commented on #398
Yes, the chronogram is broken for the moment. Currently I'm finishing up some big rewrites of the FPGA-commander. After this I will attack the chronogram and merge the nifty features Kevin Walsh added to his edition of logisim. Please be a bit patient.

[2020-06-16 07:10] BFH-ktt1 commented on #401
The documentation on the flipflops is not up to date, still on the todo list.  I agree that on the registers the asynchronous preset pin is missing and opt for this option rather than adding them to the flipflops. But I'm open for suggestions. Adding and enable pin to the flipflops in a sense is dubious as it can be implemented by a gated clock (in general not a good option) or by a feed-back that

[2020-06-18 17:58] BFH-ktt1 commented on #400
Added in my next push, closing issue

[2020-06-18 17:58] #400 closed

[2020-06-18 18:18] BFH-ktt1 commented on #235
Many of this issues are now solved by making the color scheme selectable, closing the issue

[2020-06-18 18:18] #235 closed

[2020-06-23 17:09] BFH-ktt1 commented on #42
Fixed

[2020-06-23 17:09] #42 closed

[2020-06-23 20:02] BFH-ktt1 commented on #43
fixed

[2020-06-23 20:02] #43 closed

[2020-06-24 00:13] carolineeeeeee opened #406 "Programming hardware cable not detected"
Hi,

I have been trying to download the circuit design in Logisim onto the Altera DE1_SoC board that I have. I am using the file containing the information of the board and the pins that I created and testing it with a simple AND-gate like this:
<img width="258" alt="Screen Shot 2020-06-23 at 8 09 48 PM" src="https://user-images.githubusercontent.com/22565268/85480172-82575880-b58d-11ea-9fe7-38980

[2020-06-24 05:57] BFH-ktt1 commented on #406
Dear @carolineeeeeee,
As the board you are using has a SOC FPGA (also includes the ARM-Cores) it can be that the FPGA cannot be configured without the ARM's being set-up. I know that this is the case for the Xilinx-Zynq platform. It is on my TODO-list to check this out. As I also have the same board (DE1_SoC) in my office I am happy to see where the problem comes from. If you could post the comple

[2020-06-24 07:11] BFH-ktt1 commented on #395
Fixed by check boxes in settings window, closing issue

[2020-06-24 07:11] #395 closed

[2020-06-24 11:06] BFH-ktt1 commented on #39
Done

[2020-06-24 11:06] #39 closed

[2020-06-24 23:30] carolineeeeeee commented on #406
Hi @BFH-ktt1,
Thanks for your reply! I have been trying to figure this out for a while now... It would be so helpful if you could try it out.
Here is the board description file I made (I changed it to txt so that it can be attached here):
[DE1_SOC.txt](https://github.com/reds-heig/logisim-evolution/files/4828325/DE1_SOC.txt)
Thank you!

[2020-06-25 15:06] BFH-ktt1 commented on #406
Dear @carolineeeeeee ,
I found the problems, one was a bug in logisim, that has been fixed in my latest push, and the other was a problem in the board-description file as the FPGA is the second device in the JTAG-chain (hence JTAGPos="2" instead of "1").
Furthermore I detected that you swapped the locations of all the elements, hence if you map in the FPGA-commander on the left-most 7-segment disp

[2020-06-25 15:06] #406 closed

[2020-06-25 18:07] BFH-ktt1 commented on #146
fixed

[2020-06-25 18:07] #146 closed

[2020-06-27 18:29] fuzun opened #410 "RAM/ROM does not load content from file properly"
When you set address bit width to 8, and data bit width to 48 and try to load this file, it does not load properly:
It probably happens when data bit width is greater than 32 bit
[code]

https://i.imgur.com/tZ21amK.png

[2020-06-27 18:32] fuzun commented on #410
@BFH-ktt1 I'd appreciate if you take a look at this. Resolving this problem is very crucial for our task. A great effort was made to create a circuit that depends on a ROM that is capable of loading 48-bit width content. We have limited time to derive a solution.

[2020-06-27 18:36] fuzun commented on #410
Probably related: https://i.imgur.com/Z9PXqCX.png
In hex editor, I can not edit 16 bits from the MSB when the bit width is high. They always stay 0xf.

[2020-06-28 06:10] BFH-ktt1 commented on #410
This was resolved by #394 in the development branch. Please use the version in the development branch.
In the future please specify the version of logisim you relate your issue to and always try the version in the development branch, because maybe the issue is already resolved.
Closing the issue for now, please reopen if you feel the issue is not correctly resolved.

[2020-06-28 06:10] #410 closed

[2020-07-01 08:54] BFH-ktt1 commented on #253
There are now I/O pins in logisim by use of the PORTIO component. I merged the holycross version of the portio by @kevinawalsh and adapted the hdl-generation such that we have inout ports on toplevel. Both VHDL and Verilog are supported.
Interaction is done with the poke-tool, but of course we cannot (for the moment) control the I/O ports with external components.

[2020-07-07 00:22] Triavanicus opened #413 "Buzzer Deletion Doesn't Stop It's Sound"
When you have a buzzer playing, and you delete it, it continues to play the sound it was set to before being deleted.

Expected result is that the sound stops when the buzzer is no longer there.

[2020-07-07 02:26] PeterHindes opened #414 "Simple Verilog and VHDL exports."
I just want to be able to export my design as a verilog or vhdl file. I don't want to have to specify a board and mark which parts of the board I am using. I want to give an input a name and have it listed as that in a verilog output.

Also somewhat related, could someone give me a brief description of how to add a part to the list of compatible parts. I want to use the controlled buffer in my fpg

[2020-07-07 07:29] maehne commented on #414
@BFH-ktt1 has recently reworked the whole FPGA commander part of Logisim-evolution. He should have a good idea how much effort the implementation of your proposed enhancement would cause. However, exposing people too much to this generated VHDL code might not be the best idea, as it is basically a gate-level structural description, which is much more complex than an equivalent description at RTL.

[2020-07-08 07:30] BFH-ktt1 commented on #413
Fixed in my latest push in develop, please reopen if the problem persist

[2020-07-08 07:30] #413 closed

[2020-07-08 07:37] BFH-ktt1 commented on #414
Unfortunately a part of the HDL-generator depends on the board information (especially the clock frequency) to be able to determine the values for the clock divider(s) that generate the tick. Note that the HDL generated is not "just" a description of your logisim circuit, some components are modeled multi-cycle (like for example the RNG and others). Furthermore the HDL-generator of logisim "transl

[2020-07-09 15:54] carolineeeeeee opened #417 "Estimated release date for a new version?"
Hi,

Currently, at our University, we are teaching an introductory hardware course that teaches students the basics of building circuits. We are hoping to use Logisim as the tool to help students learn about the circuits visually.

The reason we are a bit concerned about the release date is that we only have the DE1 SoC boards in our labs. And from #406, the downloading design on the DE1 board is

[2020-07-09 18:40] BFH-ktt1 commented on #417
Done, the pre-release 3.3.6 is available (latest head of the develop branch).

About your question: As I did not look into/have used the test-vector part of the code I cannot answer correctly to your question.
There was the chronogram, but this is still to be updated/merged from the holycross version of @kevinawalsh, which is on the top of my todo list of things to do. But 1) as I am uptill the 19

[2020-07-13 01:45] PeterHindes commented on #414
Yes, I thing a good way to do this might be to have all the components be sub modules, and the wiring in a simple hdl generation describing the wires that the user can understand. The clock divider should be as simple as asking the user what pin the clock is on and what speed it is and then put the correct values in to a clock divider.

[2020-07-13 06:25] BFH-ktt1 commented on #414
Please feel free to modify logisim for this purposes and ask for a push-request in the development tree.

[2020-07-13 06:27] BFH-ktt1 commented on #417
I close the issue, hope it helped you out. please reopen if you feel the issue is not fixed.

[2020-07-13 06:27] #417 closed

[2020-07-15 08:41] Triavanicus commented on #397
Where it changes
com.cburch.logisim.gui.menu.ProjectLibraryActions:177
package com.cburch.logisim.proj.Project:210
package com.cburch.logisim.file.LogisimFileActions.doIt (412)
com.cburch.logisim.fileLogisimFileActions.repair:435

It seams that when you load a library it will try to repair it, overwriting the appearance with the default appearance.

[2020-07-15 09:23] Triavanicus commented on #397
If you create a method Circuit.java called setAppearance and set the appearance of the NewCirc, it won't work, at all, if circumvent the whole process and on line 460 of LogisimFileActions.java change it to `added.add(circ)` it will work just fine. So maybe if there was a way to repair it only if necessary, or something it will fix this bug.

[2020-07-15 10:35] BFH-ktt1 commented on #397
@Triavanicus
Thanks a lot for your investigation, I took a quick look and remembered why the repair function is in place:
When loading a library also the standard libraries are loaded with the .circ file. If we would just do added.add(circ) all the components inside the circuit (except for the wires) would be linked against the libraries in the loaded "logisimfile" instead of the ones available in

[2020-07-15 11:42] BFH-ktt1 commented on #397
@Triavanicus , @rhodeon , I hope that this fixes the problem, I could not test all situations.
What I did is instead of making a new circuit, I replaced all factories of the components. This should be proper.

[2020-07-15 12:03] Triavanicus commented on #397
It seems to work in my case.

[2020-07-15 12:07] Triavanicus commented on #401
Here is an example on how to do this.
[FlipFlops.zip](https://github.com/reds-heig/logisim-evolution/files/4925021/FlipFlops.zip)

[2020-07-15 12:13] Triavanicus commented on #88
Something else that can be done is if the user enters a character that isn't compliant with the HDL names, you could replace it with the hex value of the character.

[2020-07-15 12:25] BFH-ktt1 commented on #88
The solution that @kevinawalsh has taken is also nice, instead of using the labels in vhdl, use the hierarchical name with the position in the sheet. Disadvantage, the HDL becomes even less readable. Possible solution would be an intermediate version that the label is taken if it is unique and valid, otherwise the hierarchical name with position. Still for me on a very low priority.

[2020-07-20 17:54] Triavanicus commented on #397
Just tested the old 7400 library, and it uses the correct appearance. This issue should be closed.

[2020-07-20 17:55] Triavanicus commented on #334
#397 and this issue are fixed by the same commit.

[2020-07-23 00:59] rhodeon commented on #397
Can confirm it works as intended. Will be closing the issue now

[2020-07-23 01:00] #397 closed

[2020-07-24 14:50] wgaylord commented on #357
Does Logisim-evelution actually use Java 9 features or is the requirement for Java 9+ just superficial because its what it was compiled with.

[2020-07-24 20:01] wgaylord opened #423 "ROM/RAM can't have any address width other then 8."
Currently there is a bug where the actual bus width for the addressing of RAM and ROM do not change when you adjust the value in the menu on the left. The graphics update to show the new address width but the actual bus that you connect to does not change width.

Version 3.3.6

JAVA
openjdk version "14.0.2" 2020-07-14
OpenJDK Runtime Environment AdoptOpenJDK (build 14.0.2+12)
OpenJDK 64-Bit Server

[2020-07-24 21:25] BFH-ktt1 commented on #423
I confirm the bug (which by the way was also true for the ROM). It has been fixed in my latest push in develop. Please reopen if this push did not fix the problem.

[2020-07-24 21:25] #423 closed

[2020-07-25 13:18] maehne commented on #357
Yes, Logisim-evolution does depend on Java 9+, since we started to remove old, deprecated/unmaintained third-party JAR dependencies, which were originally included in this repository. Now, we try as much as possible to pull them in at build time with gradle. The commit 95a647f1 by @davidhutchens marks the point, where we started to require Java 9.

[2020-07-27 01:11] wgaylord commented on #423
Okay. I will compile dev branch later today to test it out.

[2020-07-27 04:25] wgaylord commented on #423
It works!

[2020-07-29 17:24] Isam-Ilyas29 opened #426 "Triple XOR Input"
I am using the latest release (3.3.6) and am having an issue with my triple input XOR gate, when receiving 1 through each input, that the data bit is a 0 when it should instead be a 1.

Schematic:
![Schematic](https://user-images.githubusercontent.com/55923804/88832292-81d36280-d1c8-11ea-86d5-1cf539594dce.png)

Properties:
![Properties](https://user-images.githubusercontent.com/55923804/88832346-9

[2020-07-31 08:12] LordDecapo commented on #426
You have the Multiple Input Behavior set to "when one input is on" when for the behavior you are wanting, you need to have it set to "when an odd number are on".
That will give you what you want.

[2020-07-31 11:34] maehne commented on #426
@BFH-ktt1: This issue can be closed as resolved.

[2020-07-31 19:59] #426 closed

[2020-08-02 00:37] LordDecapo commented on #401
![image](https://user-images.githubusercontent.com/20075869/89112816-8a30d500-d436-11ea-8031-8621769574af.png)
The FlipFlops.zip above has a gated clock. If you want to put your project onto an FPGA via the internal FPGA tools, this will throw an error "Gated Clock" and won't let the compile finished. The image I have included has a non-gated clock version of what Ben is looking for [hi btw] and w

[2020-08-03 20:32] jay20162016 opened #427 "Pin/Probe output for decimal (unsigned or signed) doesn't ignores all bits above the 21st bit."
The output only recognizes the first 21 bits (signed also recognizes last bit as sign), and any bits above are ignored, capping its output at 1048575.

[2020-08-06 15:14] jay20162016 opened #428 "Combinatorical Analysis generates non-minimized circuits, and refuses to connect multiple inputs to a output."
For example, this is part of the circuit generated:
![image of circuit](https://user-images.githubusercontent.com/20290260/89548839-848c1400-d7d5-11ea-8d95-84685251c0f0.png)
This circuit could be minimized by having the final NAND connect to the output of the previous circuit twice.
Here is a truth table to reproduce the output:
[code]

[2020-08-07 08:30] BFH-ktt1 commented on #428
Dear @jay20162016, I am unable to reproduce this effect in logisim-evolution V3.3.6. From what I can see from the circuit you are using an old version of logisim-evolution (probably a 2.x) .
Could you:
1) Please try your circuit again in the latest version of logisim-evolution.
2) Please indicate for which bit of the outpu this circuit is generated
With this info I can than trace down the problem.

[2020-08-07 08:30] #428 closed

[2020-08-07 13:20] jay20162016 commented on #428
I am using the new version, but I cannot reproduce it.

[2020-08-07 14:59] BFH-ktt1 commented on #427
Found the problem and corrected it. Will push it shortly to develop branch.

[2020-08-07 15:03] #427 closed

[2020-08-13 10:04] hermanborstlap opened #431 "N-channel transistors does not work - do not pass a value through the transistor in version logisim-evolution 3.3.6"

[2020-08-13 10:47] maehne commented on #431
Please provide a sample circuit demonstrating your issue and describe your expected behaviour. The MOSFET models implement a very simplified behaviour, which requires great care when placing them in a circuit so that they are properly oriented, because values are only propagated into one direction. The small green arrow helps with that.

[2020-08-13 18:59] jay20162016 opened #432 "Oscillation in non-sequential circuits"
In many non-sequential circuits, there is oscillation detected.

[2020-08-13 19:43] hermanborstlap commented on #431
Thank you for responding. Attached my exported cct. As a test I simply connected an N-channel transistor with its drain to power constant 1 and the source to a pull down resistor to ground. The gate is connected to an input pin (ctrl-5) and when it is made high the transistor does not switch on. I am familiar with the arrow showing the direction of propagation for a value to pass through. In logis

[2020-08-13 21:57] maehne commented on #432
Could you please provide a Logisim file with a circuit having this issue and describe how to trigger it?

[2020-08-14 05:14] BreakingLead opened #433 "How to add a translate?"

[2020-08-14 06:16] BFH-ktt1 commented on #433
Dear @GGmyfriendXD ,
In the path src/main/resources/resources/logisim/ you will find the language directories (for example en for english, es for spanish, etc.). Inside these directories you will find the *.properties files that contain the language specific translations. Each of these files contain:
key = description
Where the key requires to be kept as is(as this is used in the sources to fetch

[2020-08-14 06:20] BFH-ktt1 commented on #432
I close this issue as 1) There is no clear "error"-behavior described and 2) many non-sequential circuits do oscillate, so there would be a bug if we have a circuit that does not oscillate that causes in logisim an oscillation.
Please be more specific in the description of the issue and please provide an example of a circuit causing an "incorrect" behavior of logisim.

[2020-08-14 06:20] #432 closed

[2020-08-14 06:43] BFH-ktt1 commented on #431
The problem with Mosfets is that they are analog circuits and behave differently given a common-drain, common-source, or common-gate connection. As logisim is a pure digital simulator these behaviors are not implemented.
To come back to your circuit,tere is one problem, and there is one solution to resolve your issue:
First the problem: You made an drain follower instead of a digital gate as you p

[2020-08-14 06:44] hermanborstlap opened #434 "N-Channel Transistors does not pass a value through in version 3.3.6"
Thank you Maehne for responding at first. Attached my exported cct. As a test I simply connected an N-channel transistor with its drain to power constant 1 and the source to a pull down resistor to ground. The gate is connected to an input pin (ctrl-5) and when it is made high the transistor does not switch on. I am familiar with the arrow showing the direction of propagation for a value to pass t

[2020-08-14 06:47] hermanborstlap commented on #434
![AND_2b](https://user-images.githubusercontent.com/53561048/90221622-d30b6500-de0a-11ea-8728-bba68cee5a49.png)

[2020-08-14 09:24] maehne commented on #434
This is a duplicate of issue #431.

@hermanborstlap: Please, continue the discussion in the original issue. @BFH-ktt1 provided you there already with feedback explaining the behaviour observed by you and the necessary modification.

@BFH-ktt1: You can close this issue.

[2020-08-14 09:30] #434 closed

[2020-08-27 15:23] eminfedar opened #435 "64 Bit Data Bits size?"
Hi, currently there is only **32 Data Bits** support.

Any plans to expand it to **64 bit?**

It would be good for 64 bit CPU, RAM etc. testing... Thanks!

[2020-08-27 15:24] jay20162016 commented on #435
On the develop branch (if you compile it manually), it is 64-bit.

[2020-08-27 20:30] eminfedar opened #436 "Why I can't label a tunnel 'xor' or 'sll' ...?"
I can't write `xor` or `sll` for tunnel. I have just tried these may be there is much more.

Why? I need to write `xor`.

[2020-08-27 20:31] #435 closed

[2020-08-27 20:48] BFH-ktt1 commented on #436
xor is a VHDL keyword, try xor1 and you will have no troubles

[2020-08-27 20:51] BFH-ktt1 commented on #435
Also the latest pre-releases incorporate the 64-bits

[2020-08-28 15:00] maehne commented on #436
@bfh-ktt1: This issue can be closed.

[2020-08-28 16:05] #436 closed

[2020-09-03 01:51] 0x7C8 opened #437 "False failures"
I have made a circuit in Logisim and have opened it in Logisim Evolution for a verification.
It seems that testing vector provides false failures when testing a bunch of cases. But when I have tested failed cases separately, they have passed.

Here is a circuit with a test vector files. In 2_3.txt 2 cases fail, meanwhile when testing them separetely (2_3_fails.txt) they pass.

[circuit.zip](https:

[2020-09-04 05:12] BFH-ktt1 commented on #437
dear @0x7C8 , I confirm your findings and thank you for the detailed test case.
I'll put it on my todo list, but with the current covid situation I cannot guarantee a quick response time

[2020-09-04 05:15] #431 closed

[2020-09-05 16:54] John-Lluch opened #439 "Logisim Holycross (HC) fork looks better in some aspects"
Hi, Congrats for this excellent work on the original Logigim!.  I am using it for homebrew CPU simulation and learning purposes. I also looked at the Logisim Holycross fork [https://github.com/kevinawalsh/logisim-evolution](https://github.com/kevinawalsh/logisim-evolution) and found it has some improvements over this

In particular, I found that simulation with the Logisim HC fork is a better expe

[2020-09-06 06:20] BFH-ktt1 commented on #439
Dear @John-Lluch,
Thank you very much for your nice words! In fact there is an effort going on to merge the great improvements @kevinawalsh has made to his Holycross version back into Evolution. This has a bit come to a hold due to the Covid situation, but I am planning in the near future to continue this merging (in my limited time available).

[2020-09-07 08:28] maehne commented on #439
@John-Lluch: As @BFH-ktt1 pointed out, merging back improvements from the Holycross fork is in progress, but hampered by our limited time. Pull requests are therefore always welcome! Regarding your last three points:

I think this feature is already in place at least in the develop branch. You can switch between design library view and simulate view using the tabs in the upper left pane.

Circuit

[2020-09-08 08:36] John-Lluch commented on #439
Hi @BFH-ktt1 and @maehne

Thanks for your replies.

It's good to know that the said improvements are being looked at for incorporation in this fork. I made contributions in the past to big projects such as the LLVM compiler, and I wish I could contribute with pull requests here, but unfortunately I'm not versed in java or java tools, so I can't really offer my help here.

For testing this, I just

[2020-09-08 11:25] 0x7C8 commented on #437
Upon further analysis, I found out that I made a mistake in my test vector which caused failures. Sorry about that.

[2020-09-08 11:25] #437 closed

[2020-09-08 11:28] 0x7C8 commented on #437
What caused my confusion is that the test output overwrites expected output value (which is colored red in Test Vector window).

[2020-09-13 10:17] maehne commented on #439
Version 2.14.6 is very old. Did you check out the [releases](https://github.com/reds-heig/logisim-evolution/releases)? At the time of this writing, the latest pre-release is 3.3.6 and release 3.3.0. Though, only a JARs are provided and no DMG. At BFH, we are usually providing our students binaries built from the development HEAD and had no major issues with them.

[2020-09-21 07:02] John-Lluch commented on #439
Hi @maehne, I'm sorry, but I still get version 2.14.6 when I download it from the link in the readme file. I've just done it again a few minutes ago. So, please can you help me to find the location of the latest version. That does not look any obvious to me. Thanks in advance

[2020-09-21 07:22] John-Lluch commented on #439
Ok, never mind. I found "logisim-evolution-3.3.0-all.jar" in the releases section. However when I attempt to launch it on my computer a pop up appears with the following message
`The Java JAR file "logisim-evolution-3.3.0-all.jar" could not be launched. Check the Console for possible error messages`
but I can't find any related messages on the Console app. I'm using Mac OS 10.12.6 with "Java Versi

[2020-09-21 21:24] maehne commented on #439
Logisim-evolution requires since some time now at least OpenJDK 9 or above. I know that OpenJDK 14 works well (didn't find time yet to test with OpenJDK 15, but I would expect it to work). Also the OpenJDK 11 LTS release is an option. Though, there might be some issues, which got fixed in more recent JDK releases (e.g., regarding High DPI screens).

[2020-09-21 22:17] maehne commented on #439
I would recommend version 3.3.6 over 3.3.0 because it fixes some known bugs. Even the pre-releases are quite stable due to the mature code base.

[2020-09-27 00:02] mfbutner opened #441 "Command Line Verification Bugs"
I believe that something is broken with the command line verification with both the 3.3.0 release as well as the 3.3.1 release.

## 3.3.0
For 3.3.0 I downloaded the prebuilt jar and am running it on Windows with Java 15. When I run the jar by double-clicking it or from the command line everything is fine. But when I add `-tty table` to the command line I get the following error
![LogisimErrors](ht

[2020-09-27 17:27] maehne commented on #441
@mfbutner: Thanks for reporting this bug! Could you please provide a small reproducer for the issue? We are not actively using the command line verification feature in our courses. Therefore, it is indeed possible that something broke without us noticing.

[2020-09-28 01:49] mfbutner commented on #441
Sure. Here are two examples.
- The one with tunnel named stop works: [command_line_example_tunnel_named_stop.circ](https://drive.google.com/file/d/19Eon35a2ExhZzsIuRYgznGHVfTYz5gk0/view?usp=sharing)
  - `java -jar path_to_logisim_evolution command_line_example_tunnel_named_stop.circ -tty table`
  - You should get something like
  - 0       0       0       0
1       1       0       1
0       1

[2020-09-28 16:39] mfbutner opened #442 "Tunnels and Components Not allowed to share Labels"
If a tunnel and another component share the same label (have the same name) the following errors occur
1. When you move the element with the same label as the tunnel, the element loses its label
2. If you have a tunnel with the same name as an element, save the file, close the file, and then open it up again the elements with the same name as the tunnel will lose their name.

I'm not sure if this

[2020-09-29 19:27] maehne commented on #442
This behaviour is as far as I know intentional (@BFH-ktt1: you may correct me), as unique identifiers are required for enabling netlisting the design to VHDL or Verilog using the FPGA commander. Pin names have priority over gate/sub-circuit instance names, as the latter can be assigned automatically and the former are part of a sub-circuits interface definition. Is the current silent fixing behavi

[2020-09-29 19:31] maehne commented on #441
Thanks for the test cases. We will have a look. Though, it may take some time due to a busy term.

[2020-09-30 00:13] mfbutner commented on #442
With all of the components aside from tunnels a warning already pops up saying you can't name two things the same thing if you try to.

If possible I'd like to have tunnels be named the same thing as other components because tunnels just connect wires and aren't really components.  I also like being able to name the tunnel that connects to pin X, X as they have the same value. If that isn't possib

[2020-09-30 00:18] mfbutner commented on #441
Thanks for taking a look. I totally understand if it takes a while. Classes are starting tomorrow for us so it is really busy here too.

[2020-10-12 20:00] leandor opened #444 "[Windows 7 64 bits] Font is way bigger and bold and can't seem to be changed?"
Hello,

Unless I'm blind... sorry if that's the case, looked everywhere in all the settings windows, and didn't find it.

I was using the original Logisim and just now found this version and was really excited to try it. I've installed the recommended Java version and running the program through it and after some hiccups managed to get it to run.

Everything seems to work fine, except that for som

[2020-10-17 21:53] maehne commented on #444
Try to go to open `Window` -> `Preferences`. On the tabs `Window` and `Layout`, there are the most important settings regarding the look of the user interface. In particular, you'll find on the `Window` tab the settings `Zoom factor` and `Look and Feel`. Try to set the zoom factor to `1.0` and the look and feel to `Metal` and restart Logisim-evolution. This hopefully fixes your issue. I am not awa

[2020-10-17 22:12] leandor commented on #444
Thank you! Didn't think of that Zoom setting when I was looking at the preferences page.

Still it didn't help with my problem, sadly. Thing is, the Fonts all seem to be converted to Sans Serif 16 BOLD when opening a saved circuit file (i.e. in the conversion from the old Logisim) and that mess up all the text in the circuit which leads to stuff overlapping each other.

Here's a snapshot compariso

[2020-10-31 05:07] dayeol opened #445 "Logisim Crashes while opening a file that contains an empty text box"
Hi,

We are using Logisim for a lecture, and a group of students was having a problem where Logisim crashes whenever they open their circuit.
I was able to reproduce it and figured out the cause.

It happens if you saved your circuit while you were entering an empty string in a text box as follows:

![image](https://user-images.githubusercontent.com/2059303/97771606-795a3300-1afb-11eb-8ce4-18f3e41

[2020-10-31 19:55] mfbutner opened #446 "Cannot Load Memory Image Files"
I am unable to load memory image files to either RAM or ROM in version 3.3.1. This seems independent of the format that the file is saved in. I tried
- v2.0 raw
- v3.0 hex words addressed
- v3.0 hex words plain

I know it is not a formatting issue with the files because I would edit a memory file (which works) and save its contents to a file (which also works) but when I would go back to load the

[2020-11-03 07:28] BFH-ktt1 commented on #446
Thank you for your bug report. I look into the details as soon as I find some time. This might take a while as the COVID-situation takes much of my "free time".

[2020-11-03 07:30] BFH-ktt1 commented on #445
Thank you for your detailed bug report. I look into the details as soon as I find some time. This might take a while as the COVID-situation takes much of my "free time".

[2020-11-13 19:50] TheEvilSkeleton opened #447 "Add Topics"
Hello, `logisim-evolution` doesn't show up in the `Logisim` topic: https://github.com/topics/logisim. I just wanted to let you know that more people will find this software when topics get added.

Here are more Topics that I recommend to add: `education` `circuit` `circuits` `digital-circuit` `digital-circuits` `simulator` `logic`

[2020-11-14 11:49] TheEvilSkeleton opened #448 "[Linux] Flatpak for Linux"
I've created a fully working flatpak for logisim-evolution: https://github.com/TheEvilSkeleton/Logisim-flatpaks.

In short, Flatpak is a universal package manager for Linux. No matter what distribution you use, you can compile Flatpak from source, and have access to the [Flathub](https://flathub.org/) repository.

The flatpak has those advantages:
- it comes with a `.desktop` file. A `.desktop` fi

[2020-11-14 15:49] TheEvilSkeleton commented on #303
@BFH-ktt1 I'd like to help, but the problem is that just launching logisim-evolution is already a terrible experience. Not everyone wants to run a program using the terminal.

I've created a flatpak for Linux (see https://github.com/reds-heig/logisim-evolution/issues/448). In short, Flatpak is a universal package manager for Linux. The flatpak I made comes with a `.desktop` (executable icons from

[2020-11-15 15:43] TheEvilSkeleton opened #449 "Create a logo for logisim-evolution"
As the title suggests.

[2020-11-18 07:54] slajurk opened #450 "translation mistake [German]"
Hello guys,
I found two translation mistakes. They are located in the file logisim-evolution-3.3.6.zip\logisim-evolution-3.3.6\src\main\resources\resources\logisim\de\std.properties.

This are the two lines:
Line 88 subtractorBorrowOutTip = Leihausgang: ist 1, wenn die Differenz ngativ ist
Line 469 ramConfirmClearMsg = Sind SIe sicher, daß der Speicher auf Null gesetzt werden soll?
Line 614 plexer

[2020-11-19 10:59] BFH-ktt1 commented on #450
Thanks a lot for your findings. It will be fixeed in the next release.

[2020-11-19 10:59] #450 closed

[2020-11-19 11:01] BFH-ktt1 commented on #448
Thanks a lot for your work. I will look into the details the moment my current packed schedule shows some room.

[2020-11-19 11:08] BFH-ktt1 commented on #446
Dear @mfbutner , I could not reproduce your bug on the latest version (3.3.6). Could you please give that one a try and post some test-files in case you can observe the same problem. I close the issue for now, please reopen if the problem still persists in v3.3.6.

[2020-11-19 11:08] #446 closed

[2020-11-19 12:50] TheEvilSkeleton commented on #448
I completely forgot to update: I started using it. I used the flatpak for a whole day and it seems to be working just fine.

[2020-11-20 02:04] mfbutner commented on #446
3.3.6 Is working for me too :)

[2020-11-22 04:19] nahinulsadad opened #451 "Logisim-evolution don't keep saved custom circuit appearance when circuit is loaded as library."
Logisim-evolution version: 3.36
OS: Windows 10
Java Version: 13.0.2 (JRE build 13.0.2+8)

I have saved the circuit appearance of FA when I opened it as file. Logisim-Evolution works just fine and keeps circuit appearance but it do not save facing of the circuit.

![image](https://user-images.githubusercontent.com/12844583/99893472-de441b80-2caa-11eb-9768-c6dd83366e19.png)

But when I load it as li

[2020-11-22 07:30] BFH-ktt1 commented on #451
Dear @nahinulsadad , thank you for your report. This issue is a kind of duplicate of #334 (I did not yet observe that the appearance inside the library is preserved, which gives me more info, thank you for that detail) and I will look into the details as soon as I have again some time available.

[2020-11-26 01:08] TheEvilSkeleton commented on #448
@BFH-ktt1 so in https://github.com/TheEvilSkeleton/Logisim-flatpaks/commit/c8baa8ccc0563510624904b4e13484de90d28fec, I made it show up in the "Open with" dialog:

![image](https://user-images.githubusercontent.com/50847364/100296174-87b03900-2f59-11eb-9934-5bf98beb2f1f.png)

The problem is that when the file name has a space, e.g. `~/Documents/Logisim/Logisim test.circ`, or the previous folder's n

[2020-11-26 01:11] TheEvilSkeleton commented on #448
I wouldn't mind being one of the maintainers when it gets published in Flathub. Just that I'd like to collaborate with others so I don't have to do 100% of the work.

[2020-11-26 06:41] BFH-ktt1 commented on #448
@TheEvilSkeleton , Concerning the spaces; this is a general problem a lot of unix-based software has, as in unix the space is used for separation between the program and it's argument(s). So in general it is a bad idea to use spaces in either the file-name or the directory name. If those spaces are used, for example in the workspace name, than also the syntehsize and download functionality will gi

[2020-11-26 08:45] TheEvilSkeleton commented on #448
Awesome. I'm going to submit an MR soon in Flathub.

[2020-11-26 09:01] TheEvilSkeleton commented on #448
@BFH-ktt1 https://github.com/flathub/flathub/pull/1951

[2020-11-26 09:09] TheEvilSkeleton commented on #448
That's understandable, but also problematic, as the program doesn't support this basic feature. People will often think that the flatpak will broken when opening a file containing a space, when in reality it's an upstream issue.

I'm able to open files that have spaces from the program itself, but from the "Open With" dialog I cannot.

[2020-12-01 16:31] TheEvilSkeleton opened #452 "[Windows 10] "This app can't run on your PC""
Hello, I'm trying to directly open a `.circ` file in Windows 10 but it gives me this error:

![image](https://user-images.githubusercontent.com/50847364/100768197-98810480-33c8-11eb-97f6-1a54bbf67ee3.png)

I opened the file using logisim-evolution 3.3.0 and it was provided by someone else that used the same version as me.

I do not know how to troubleshoot manually, so I will need guidance.

[2020-12-02 16:05] igd1 opened #454 "Board mapping: Hidden pop-up under Windows (issue for version 3.3.6)"
Mapping in-/outputs will trigger, dependent on the selection, a pop-up that freezes all other Logisim windows. Using Windows 10, this popup is hided behind the board mapping window. There are two solutions:
- Switch the version --> no issue for version 3.3.4 and earlier.
- You can access the pop-up when opening the task tanager and minimizing the Logisim sub process "Synthesize & Download:..."

[2020-12-02 16:39] BFH-ktt1 commented on #452
You have to associate the files with a ".circ" extension to logisim. As I am not a windows user, I do not exactly know how to do that. By default windows wants to "execute" the .circ file with which it fails.

[2020-12-03 01:53] TheEvilSkeleton commented on #452
That's what I did; I tried to set logisim-evolution as the default app for the `.circ` file type:

![image](https://user-images.githubusercontent.com/50847364/100953323-5ea32180-34e0-11eb-8702-331d00cd1530.png)

Opening the `.circ` file brings to this issue: https://github.com/reds-heig/logisim-evolution/issues/452#issue-754544568

[2020-12-04 16:00] maehne commented on #454
I can confirm this issue. Another workaround is to use `ALT+SPACE` to access the window menu and then move the window hiding the pop-up.

[2020-12-11 02:26] wgaylord commented on #452
It tried to just run the .jar which windows can't do as you need to invoke java -jar then the jar file name.

[2020-12-11 10:32] TheEvilSkeleton commented on #452
I'd personally appreciate a simple double click.

[2020-12-12 02:43] wgaylord commented on #452
Do you have ".jar"  files associated to Java? if not try that and it might fix it.

[2020-12-14 11:12] io7m opened #455 "Doesn't build on Linux, JDK 14"
[code]

[code]

[2020-12-14 13:57] #448 closed

[2020-12-14 14:19] BFH-ktt1 commented on #448
@TheEvilSkeleton , sorry for not being there for a longer time, but the last weeks of the semester are "killing" me. Will look in the open issues from next week on. Thanks for all your work.

[2020-12-14 14:25] BFH-ktt1 commented on #455
@io7m , which branch did you try to compile, master or develop, as develop uses gradle V6.3. master might be out of date. gradle v6.7 should not cause any problems.

[2020-12-14 15:02] TheEvilSkeleton commented on #448
@BFH-ktt1 don't worry, take your time, and I'm glad to help. I closed this issue because it is resolved.

Here's a recap if you were out of touch with what has happened:

- logisim-evolution is now available in the Flathub repository: https://flathub.org/apps/details/com.github.reds.LogisimEvolution, so it will show in GUI software centers like GNOME Software[1].
- The repository for the package i

[2020-12-16 22:35] TheEvilSkeleton commented on #452
Yes, I'm using [AdoptJDK](https://adoptopenjdk.net/) for this and logisim-evolution starts as it should. The only problem is that double clicking on `.circ` files can only open in Logisim, but it cannot be opened in logisim-evolution. [I tried to set logisim-evolution as the default, but it doesn't work.](https://github.com/reds-heig/logisim-evolution/issues/452#issuecomment-737607998)

[2020-12-16 22:39] io7m commented on #455
Hello! You're right, this was the `master` branch.

[2020-12-17 08:45] maehne commented on #452
It is not possible to directly associate `.circ` with a `.jar`-Archive, as this is not a natively executable format on Windows. However, you can achieve it by launching Logisim-evolution using a batch/shell wrapper script. Unfortunately, you'll have to build Logisim-evolution from source using `./gradlew shadowDistZip` in the root of the cloned Logisim-evolution Git repository. This will build Log

[2020-12-22 15:47] BFH-ktt1 commented on #455
Closing this issze

[2020-12-22 15:47] #455 closed

[2020-12-22 16:57] BFH-ktt1 commented on #448
@TheEvilSkeleton , I seem to remember that there was still a question open concerning flatpack files that should be "moved" to the logisim tree. I seem have lost this email, could you give me a pointer to the issue? Thanks in advance. I plan to make a V3.4.0 (which is the current development tree with some bug fixes) in the coming days.

[2020-12-22 17:14] BFH-ktt1 commented on #454
My latest push should fix this issue.
@maehne , it should also fix the bug we discussed this morning that is not yet marked as issue.
Could you please test and let me know if I can close the issue?

[2020-12-22 17:44] TheEvilSkeleton commented on #448
@BFH-ktt1 https://github.com/flathub/flathub/pull/1951#discussion_r533142094, and https://github.com/flathub/flathub/pull/1951#discussion_r533142138.

[2020-12-23 09:29] BFH-ktt1 commented on #445
This should be fixed in my latest push. Actually, a textbox with an empty contents should not be saved at all, as you cannot see it anymore. The current solution is that all textboxes with empty contents are not saved any more, and hence will not be present when loading the file. If the file is not closed, they will still be present in the circuit as "empty"; modifying them is still possible, but

[2020-12-23 09:50] #445 closed

[2020-12-23 09:58] BFH-ktt1 commented on #454
Fixed in v3.4.0, closing issue, please reopen if not resolved

[2020-12-23 09:58] #454 closed

[2020-12-23 10:02] BFH-ktt1 commented on #448
@TheEvilSkeleton , I added the files in the logisim repository, and build a new stable version. It would be nice to have a small README on how to update flatpak wenn there is a new release, I'm completely new in building flatpak applications, so could you enlighten me?

[2020-12-23 10:33] BFH-ktt1 commented on #451
Is fixed in v3.4.0. Closing the issue, please reopen if the problem reappears

[2020-12-23 10:33] #451 closed

[2020-12-23 10:38] #334 closed

[2020-12-23 12:17] TheEvilSkeleton commented on #448
@BFH-ktt1 it's really easy to bump versions. It's also convenient since the [Flathubbot](https://github.com/flathubbot) does the "building" process.

All you have to do is go to the manifest, and change the `url` and `sha256` lines (https://github.com/flathub/com.github.reds.LogisimEvolution/blob/master/com.github.reds.LogisimEvolution.yml#L50-L52); you type the URL you want to fetch, and then you

[2020-12-23 13:09] zdimension opened #461 "Infinite loop when loading 2.x circuit file in 3.x"
(tldr at bottom) I've tried opening a few circuits I made on Logisim-evo 2 in Logisim-evo 3 and it freezes while reading the file. Upon further inspection, the problem comes from XmlCircuitReader.java, line 250~254
[code]
There seems to be cases where bds is (0, 0), and bds.translate(d, d) returns (0, 0) too, so the loop ends up checking the same condition every time, freezing the program.

I'm no

[2020-12-23 13:19] BFH-ktt1 commented on #461
@zdimension , thanks a lot for the detailed bug report! I'll look into the details. It is related to an issue where logisim saved "empty" text boxes (hence a text with zero contents). This is fixed, as v3.4.0 will not any more save empty text-boxes, however, an older version might and should not break V3.4.0, which it does in the moment.

[2020-12-23 13:47] BFH-ktt1 commented on #461
Please check, this should resolve the problem

[2020-12-23 13:50] zdimension commented on #461
I confirm the problem is solved (at least for the file I'm using). Thanks again for the quick feedback!

[2020-12-23 13:52] BFH-ktt1 commented on #461
Your welcome, closing the issue.

[2020-12-23 13:52] #461 closed

[2020-12-24 00:23] zdimension opened #464 "Beeper component"
It would be nice to have a beeper component in the I/O category, similar to the one in Multimedia Logic (allows playing a specific frequency for an exact duration). Since Logisim already provides graphical output (7seg, LEDs, TTY), it would make sense to also provide audio output.

[2020-12-25 08:55] BFH-ktt1 commented on #452
This should now be resolved by V3.4.1, closing the issue

[2020-12-25 08:55] #452 closed

[2020-12-25 08:59] BFH-ktt1 commented on #464
There is the buzzer component int the "Input/Output Extra" library, does this not suite your needs?

[2020-12-25 12:56] zdimension commented on #464
Oh well, I totally forgot about the extra libraries. The buzzer component is exactly what I was looking for. Sorry about that.

[2020-12-25 12:56] #464 closed

[2020-12-25 19:38] zdimension opened #470 "Unable to use multiple buzzers simultaneously"
When having 2 or more buzzers on at the same time, the sound that gets played is corrupted, as if the two buzzers were trying to write to the same buffer.

[2020-12-29 16:49] BFH-ktt1 commented on #470
This is a known issue, and related to the implementation of the buzzer component. More than 1 buzzer in a system is not supported for the moment and very low on the list of "things to fix".

[2020-12-29 22:07] mamarguerat opened #471 "Open .circ files with logisim-evolution by default"
When double-clicking on a .circ file, it would be great if it can open logisim-evolution automatically. The only way today is to open logisim-evolution and then click on file -> open and find the file.

[2020-12-30 05:52] BFH-ktt1 commented on #471
@mamarguerat , this problem should be solved by the installers (windows, linux, MacOSx) that you find for V3.4.1. Please let me know if the problem persists after installing v3.4.1 using the installers.

[2020-12-30 09:08] mamarguerat commented on #471
It's working, thanks

[2020-12-30 09:08] #471 closed

[2021-01-10 18:21] Bravo555 commented on #398
Hello, is there any progress on this issue?

[2021-01-10 19:02] maehne commented on #398
Unfortunately, not yet due to our high work load over the past months. I know that @BFH-ktt1 will be quite busy the coming months with teaching duties. So it is hard to give an estimate when he will get around to fix this issue. Pull requests are welcome!

[2021-01-10 22:42] maehne commented on #449
Have you checked out the icons, which are included in the new installer packages created with `gradle jpackage`? If you would like to suggest a new or enhanced logo to distinguish Logisim-evolution from the original Logisim and other forks. Please feel free to make a proposal and pull request!

[2021-01-12 20:19] YulienPohl opened #474 "Fixed-point for pin, probe and constant"
It would be helpful to have an option to enter or visualize a fixed-point value in decimal.
The only problem is you have to enter the position of the decimal point for the signal which requires an additional input field.

[2021-01-13 09:20] maehne commented on #474
Nice feature suggestion! For setting the attribute, this should probably handled in the ports. However, it may become tricky to implement a consistent propagation of that property throughout a circuit. Certain components would need extension to properly propagate it, too. At certain components the property would probably get totally lost, e.g., splitters. Pull requests that implement this feature

[2021-01-17 04:59] Jo-wang opened #475 "Download logisim-evolution on Mac (mac os big sur)"
Hi, after I download and install it in application folder, it shows
"logisim-evolution” is damaged and can’t be opened. You should move it to the Bin."
Is there anyone know why?
Thanks.

[2021-01-17 05:05] #475 closed

[2021-01-17 10:40] maehne commented on #475
Could you please give a reason why your opened and then nearly instantly closed this issue? On our side, the created app is working. However, I have not yet updated to Big Sur.

[2021-01-17 22:38] Jo-wang commented on #475
Because I forgot to unlock the security requirement on Mac. And now it’s totally can be run on Mac OS big sur.

[2021-01-18 12:29] maehne commented on #475
Thanks for this feedback @Jo-wang! Good to know that Logisim-evolution is also working on macOS Big Sur!

[2021-01-20 02:00] HongxiaoN opened #476 "Cannot open logisim-evolution-3.4.1.dmg on macOS Big Sur 11.1"
Can not properly open the logisim-evolution-3.4.1.dmg on macOS big Sur 11.1, it always shows that " 'logisim-evolution' is damaged and can't be opened. You should eject the disk image."

[2021-01-20 06:53] BFH-ktt1 commented on #476
You need to unlock the security requirement on macOS big Sur (see #475)

[2021-01-20 07:06] HongxiaoN commented on #475
Sorry, may u teach me how to unlock the security requirement? I try to give Logisim-evolution all the access, and it still does not work for my macOS Big Sur. @Jo-wang @maehne

[2021-01-20 07:17] HongxiaoN commented on #476
I fixed it by using tip4 on the web page
https://osxdaily.com/2019/02/13/fix-app-damaged-cant-be-opened-trash-error-mac/.
Thank u

[2021-01-20 07:17] #476 closed

[2021-01-21 18:34] maniek207 opened #477 "Not launching"
Debian 10 with openjdk 11
Tried .jar and .deb installer.
[code]

[2021-01-25 19:45] GamePlayer-PL opened #478 "[Linux Mint 20.1] Problem with loading data to register element"
Hello :wave:,

A few minutes ago I ran into a binary registry problem in my test project (code: https://gist.github.com/GamePlayer-PL/b1cee86fb60af9639a6d2ab5f7118a68).

I think exactly this error giving an invisible signal to register. I tried to show it in this video as well.

https://user-images.githubusercontent.com/57105419/105753580-3b797900-5f49-11eb-8887-8876684b161d.mp4

Before writing th

[2021-01-25 23:23] maehne commented on #478
Your design is not fully synchronous because you are generating individual clock signals via combinatoric circuits, which generate hazards, which very likely cause the undesired behaviour you are observing in your circuit. When designing sequential circuits, I recommend you to use always a single clock signal, which is directly connected to all D flip-flop clock inputs without passing through any

[2021-01-25 23:32] maehne commented on #477
The most recent release of Logisim-evolution got built using OpenJDK 15 due we use its `jpackage` tool to generate the binary installers on the different supported platforms. Therefore, OpenJDK 11 is probably to old to execute Logisim-evolution. Could you please try installing OpenJDK 15 and execute `logisim-evolution` again?

[2021-01-26 09:06] GamePlayer-PL commented on #477
I will join the discussion,

So in OpenJDK 11: yes, it doesn't work.

I tried to run it on OpenJDK 15, downloaded from https://jdk.java.net/15/, but it produces the same error.

I also tried to recompile and run it on IntelliJ but again the problem is the same.
No error occurred during recompilation.

Does Logisim Evolution need any additional libraries to be installed than just OpenJDK 15?

[2021-01-26 09:12] BFH-ktt1 commented on #477
Please try following:
rm ~/.java/.userPrefs/com/cburch/logisim/prefs.xml
and start logisim.
Maybe there is a setting from another version of logisim on which the v3.4.1 fail to start-up (such for example as a non-supported language)

[2021-01-26 09:14] GamePlayer-PL commented on #478
Ok, so next time I should use less gates to generate one signal.

But if this problem be minimized in the future or is it rather impossible?

[2021-01-26 09:39] GamePlayer-PL commented on #477
When I deleted prefs.xml file and reopened the jar file, I logged in with:

[2021-01-26 11:13] maehne commented on #477
I found a few minutes to test building of the `master` branch on Debian Buster with OpenJDK 11 and `gradle`. It works well as long as you don't use the `jpackage`. Note, you should use the "shadow" tasks, which will include all library dependencies inside the JAR. I would recommend:

[code]

The task `shadowDistTar` creates a distribution TAR archive with the JAR plus a shell wrapper. The last two

[2021-01-26 11:36] maniek207 commented on #477
I tried using OpenJDK 15 but still same error. Also on old laptop with Debian where this same issue was, I tried change system language from Polish to English and it's launched without problem. And on normal version on logisim works normal even with Polish.

[2021-01-26 12:03] GamePlayer-PL commented on #477
About idea of compiling it:

Well, still it doesn't work.

I tried the idea of ​​@maniek207 about changing OS language. I tested it on a virtual machine and the program starts normally.

So the problem concerns languages, and more precisely the Polish language.

[2021-01-26 12:44] maehne commented on #478
No, it is not a question of how many gates you use to create one signal. Using gated signals als clocks is always problematic due to hazards and addition of skew and therefore not encouraged for digital designs. The distribution of clock signals requires careful routing. Especially FPGAs only provide a limited number of clock and reset trees for distributing these critical signals. Therefore, cloc

[2021-01-26 13:03] maehne commented on #477
Thanks @maniek207  and @GamePlayer-PL for the feedback. I can now reproduce the bug:

[code]

Then, Logisim-evolution gives me exactly the reported exception. So, the error is probably located in one of the `*.properties` files below `src/main/resources/resources/logisim/pl/`.

[2021-01-26 13:28] GamePlayer-PL commented on #478
so if one signal has more gates than the other, the signal will have a slightly longer delay than other signal. Ok, now I know, what the problem is. :+1:

I have some suggestion:
Would there be an option to add a history of objects? More precisely, what happened to a given object at a certain time. This would allow to analyze the circuit in at a certain time and possibly return to the appropriate

[2021-01-26 13:34] maehne commented on #477
I checked the properties files and of cause found the bug in the very last one (`util.properties`) on the check list. The `dateFormat` string was for some reason wrong. This is fixed by pull request #479.

@maniek207 and @GamePlayer-PL: Could you please confirm that [my branch `fix-issue-477`](https://github.com/maehne/logisim-evolution/tree/fix-issue-477) also corrects the problem on your side?

[2021-01-26 13:40] GamePlayer-PL commented on #477
On my side, the problem is gone. Logisim now starts up without a problem. :+1:

[2021-01-26 13:49] maehne commented on #478
The longer delays caused by the gates are only a part of the problem. Worse are the temporal signal instabilities caused by them each time an input of a combinatoric sub-circuit changes its values. These are propagated along several paths. Due to different path delays the sub-circuit outputs can change one or more times until it stabilises. These disturbing impulses, called "hazards", may or may n

[2021-01-26 14:05] maniek207 commented on #477
Now it's launch without any problems at my side.

[2021-01-26 14:36] GamePlayer-PL commented on #478
In older version I doesn't seen it. Now good to see it on newest version. :smile:

Yeah, that's right.

So, in order not to drill down on the topic, it's time to solve it.

**Solution**:

The strange behavior of the boundaries in the perimeter can apply to many things:
 - Old version of Logisim;
 - delays from gates and other objects;
 - Unevenly running clocks;
 - Incorrectly connected circuits;

[2021-01-26 14:36] #478 closed

[2021-01-26 21:00] maehne commented on #478
Thanks @GamePlayer-PL for closing the issue. Don't hesitate to open new issues! Any feedback and contributions in form of code, documentation, ideas, etc. are welcome!

[2021-01-27 16:23] maehne commented on #477
@BFH-ktt1: This issue can be closed, as it is resolved.

[2021-01-27 16:26] maehne commented on #353
@BFH-ktt1: I suggest to close this issue as "won't fix".

[2021-01-27 16:27] #477 closed

[2021-01-27 16:32] maehne commented on #449
@TheEvilSkeleton: Are you satisfied by the logos used by the new installer packages for the program itself and Logisim circuit files? Can we close this issue or will you provide a PR with a proposal for a new one?

[2021-01-27 16:34] #353 closed

[2021-01-27 16:54] TheEvilSkeleton commented on #449
Can you show me how it looks? I haven't really had the time to check on the logo.

[2021-01-27 17:09] Von-Braun opened #486 "Logic gates graphical bug?"
For some reason, my gates are appearing in box form, rather than as their respective symbols. Any idea on why this is? My OS is Windows 10 64-bit.
[code]

![21012712031665990266](https://user-images.githubusercontent.com/25232065/106026691-0c3a4780-60c2-11eb-9b7a-f568f95631f7.png)

[2021-01-27 17:17] BFH-ktt1 commented on #486
@Von-Braun , You have on the settings page selected the IEC-Symbols instead of the ANSI-Symbols. You can change it back by
Window->Preferemces->International->Gate Shape->ANSI

[2021-01-27 17:19] Von-Braun commented on #486
@BFH-ktt1 Welp, now I feel like an idiot for spending over an hour on this, haha. Thanks very much!

[2021-01-27 17:19] #486 closed

[2021-01-27 18:11] maehne commented on #449
@TheEvilSkeleton, it looks like this:

<img width="110" alt="image" src="https://user-images.githubusercontent.com/1174243/106034560-57108b00-60d3-11eb-92a5-4a0d2f465bd1.png">

So, no real difference to the icon of the original Logisim.

[2021-01-27 22:24] TheEvilSkeleton commented on #449
I guess we could close the issue since it looks fine. I'd like to come up with a better logo but I don't really have the time.

[2021-01-27 22:24] #449 closed

[2021-01-27 23:01] maehne commented on #439
@John-Lluch: We now propose [installers for different platforms](https://github.com/reds-heig/logisim-evolution/releases), which are generated with `jpackage` from OpenJDK 15. You may want to give them a try. They also integrate a minimal JRE.

[2021-01-28 01:36] regus-pregus opened #487 "Hex editor for RAM: unable to edit words wider than 32 bits"
Software version: 3.4.1
Problem description: when RAM component data bit width parameter is selected to more than 32 bits, hex editor displays enough characters per word to fit specified number of bits (e.g. for 64-bit width it shows 16 hex characters per word, which is correct), however, editing the value truncates at 32 bits (4 bytes).
Repro:
0) Start logisim-evolution version 3.4.1
1) Place RAM

[2021-01-28 08:35] maehne commented on #487
Thanks @regus-pregus for the bug report! I can reproduce the wrong behaviour. Interesting that it works for the first word, but not the other memory places. It's probably a relatively small cause overlooked, when the maximum bus width was increased from 32 bit to 64 bit. @BFH-ktt1: Can you have a look?

[2021-01-28 08:57] maehne commented on #487
@BFH-ktt1: In this [branch](https://github.com/mkayaalp/logisim-evolution/tree/unh-ece562-spring2020) by @mkayaalp might be a part of the solution to fix the issue.

[2021-01-29 08:53] lightonflux commented on #398
Is this "just" an UI issue?

[2021-01-29 08:53] BFH-ktt1 commented on #487
@regus-pregus : It should be fixed by my latest PR. Please reopen if the problem still persists.

[2021-01-29 08:53] #487 closed

[2021-01-29 09:15] GamePlayer-PL opened #490 "[Suggestion]: Moving circuit from original Logisim to Logisim Evolution"
Hello,

I have some suggestions for moving circuits/projects from the original Logisim to Logisim Evolution.
During the import, I noticed problems with selecting the theme of the objects. Exactly, Logisim Evolution when see an object with no theme then setting it to Logisim-evolution theme.

Here's a suggestion: What if Logisim Evolution sets the classic Logisim theme when importing a project from

[2021-02-01 23:05] zdimension opened #494 "Upgrade to Java 11"
The project is currently set to use Java version 9, whose support ended in March 2018.

It would be better to switch to a more recent version, or at least to the next LTS version, Java 11.

[2021-02-02 08:57] maehne commented on #494
I agree. Historically, we always set the minimum version to the one, which would be still able to build without failure Logisim-evolution. We raised that version only when the integration of new features made that necessary. I think that modernising the code base and removing dependencies on deprecated APIs and libraries is a good thing and we therefore usually quickly accept PRs going in that dir

[2021-02-02 15:16] BFH-ktt1 commented on #494
@zdimension , Can we close this issue as it was merged with your latest PR?

[2021-02-02 15:22] zdimension commented on #494
Yes, I'm closing it right now.

[2021-02-02 15:22] #494 closed

[2021-02-02 15:23] maehne commented on #494
I would suggest to add OpenJDK 14 an 15 to `.travis.yml`. Maybe, it would be even sensible to just test with OpenJDK 11 and OpenJDK 15, i.e., with oldest and newest supported JDK unless we get reports concerning JDK versions in between?

[2021-02-02 15:35] zdimension commented on #494
I agree with that. I'll change it and make a PR.

[2021-02-13 04:08] vladimirzhidkov opened #499 "doesn't run on MacBook M1 with Big Sir"
constantly getting “logisim-evolution” is damaged and can’t be opened. You should move it to the Trash.

[2021-02-13 11:20] maehne commented on #499
Please check out issues #475 and #476 for solutions to your problem. Basically, you need to unlock the security requirement on macOS Big Sur. @davidhutchens: Do you have maybe an idea, how we can address this problem in the future so that Logisim-evolution runs out of the box?

[2021-02-13 15:08] davidhutchens commented on #499
I don't have an M1 processor Mac. I am also not running Big Sir. However, from what I see researching those issues, it should work under Apple's x86 emulator with the solutions @maehne noted above.

Once the M1 Mac is fully supported by the Java distributions, we should be able to compile it native to the M1.

As for fixing it so it works out of the box, I think we would need a developer account a

[2021-02-13 21:27] vladimirzhidkov commented on #499
I can confirm that it works on MacBook M1 with Big Sur if you run a jar file directly from terminal.
java -jar /path/to/logisim-evolution-3.4.1-all.jar. Not a very elegant solution.
@maehne could you please teach me what exactly I need to unlock in the security on macOS Big Sur for it to run properly?
I have tried rebooting and xattr -r /Applications/logisim-evolution.app. Neither helped
Thank you

[2021-02-13 21:28] vladimirzhidkov commented on #499
great app by the way. love it

[2021-02-13 21:46] davidhutchens commented on #499
On older systems, all you actually had to do was control-click on the app and select open from the menu. It would then give you the option of authorizing it to run (which requires an administrator's password). Once it was authorized, it ran normally from then on. You might need to set System Preferences - Security to allow identified developers as well as the App Store first. Try that and let me k

[2021-02-13 22:12] vladimirzhidkov commented on #499
So after running xattr -cr /Applications/logisim-evolution.app (last time I forgot to add -c) in the terminal, the application starts flawlessly. So I guess xattr -cr /Applications/logisim-evolution.app is the solution to macOS Big Sur running on M1 chip.
thank you everyone for your help!

[2021-02-13 22:12] #499 closed

[2021-02-14 00:55] Arri0 opened #501 "Order in Z axis is not saved"
Hello,
when I save Circuit Appearance, order of shapes in "Z axis" is not saved. Also when font is bold, after loading it is not.

Original design:
![LogisimBug1](https://user-images.githubusercontent.com/17547286/107865501-76474080-6e67-11eb-8c73-390227f9e9ce.png)

Design after loading circuit from file:
![LogisimBug2](https://user-images.githubusercontent.com/17547286/107865508-819a6c00-6e67-11e

[2021-02-15 16:52] simoc opened #502 "Test Vector file with invalid bit width throws exception"
If a test vector file with an invalid bit width such as `O[2.0]` or `O[[]` is loaded using the Simulate -> Test Vector -> Load Vector button, then logisim throws a java exception. No output is displayed in the Test Vector window and no error dialog is displayed.

My example test vector file with an invalid bit width is:

    A B O[2.0]
    0 0 00
    0 1 01
    1 0 10
    1 1 11

Java exception is

[2021-02-15 23:44] vladimirzhidkov opened #504 "N-transistor behavior is broken"
here is a simple circuit with one transistor in the original Logisim:
<img width="214" alt="logisim" src="https://user-images.githubusercontent.com/5488862/108002246-38076980-6fac-11eb-864f-bdfe0e6987f8.png">
it works properly

and this is the same circuit in logisim-evolution:
<img width="248" alt="logisim-evolution" src="https://user-images.githubusercontent.com/5488862/108002270-58372880-6fac-1

[2021-02-16 10:51] maehne commented on #504
According to the tool tips, the NMOS behaves correctly "a low source will pull drain low (only when gate is high)". Otherwise, drain will be high impedance or conflict. In your examples, you have connected the NMOS source to high.

Logisim is a digital simulator and therefore its transistor models are very simplified and restricted to illustrate the functioning of logic gate transistor circuits in

[2021-02-17 02:19] joshlin04 opened #505 "macOS code signature resources missing?"
I've recently had to use Logisim for my university class, but I've run into a couple problems trying to use the .dmg installer - the same "This application is damaged and can't be opened" that came up in #475, #476, and #499. I've looked into it, and found that macOS's Gatekeeper is restricting the app because the "code has no resources but signature indicates they must be present" (according to `

[2021-02-17 02:33] meow10811 commented on #505
I built the app locally and it obviously wasn't signed, so I was unable to reproduce the issue. I've done a bit more research, and it looks like `jpackage`'s default settings seems to sign the application incorrectly (according to [this StackOverflow post](https://stackoverflow.com/questions/60953329/code-signing-notarization-using-jpackage-utility-isnt-working-on-macos)). I'm not sure who to rais

[2021-02-17 02:40] davidhutchens commented on #505
If you build it yourself, I'd recommend using the develop branch. It has some fixes for the Mac.

However, the cause of the failure with Gatekeeper is that the app isn't signed at all. The Mac tags it as quarantined when you download the dmg. It copies that tag to the app when you drag it out of the dmg. You can see this from Terminal with "xattr -l Logisim-evolution.dmg". The solution listed in t

[2021-02-17 02:57] meow10811 commented on #505
Hm, I see - I tried uploading my built `.dmg` to the Internet and redownloading it, and I do indeed get a permissions error. The error I get for my own disk image is different, though - it simply states that the app's developer can't be verified, and macOS still lets me open it by left-clicking. In the version I can download from GitHub, it doesn't even let me override the security settings.

[2021-02-17 03:07] davidhutchens commented on #505
That is curious. Can you give me a link to the version you uploaded? I want to see what it does for me.

[2021-02-17 03:35] meow10811 commented on #505
[Here's the link to my version](https://mega.nz/file/AVQm0R4T#YuCkxyLpEzreOTjVVYcbIoFRadQ0XgJ1Gzbsh4gDYVQ) - this is straight out of build/distributions in my local copy of the repo.

[2021-02-17 04:08] davidhutchens commented on #505
Thank you. I can download your dmg, drag out the app, and open it with left-click and select open.

I just uploaded a copy to my web pages and then downloaded it. The app does not open with left-clicking and selecting open.

So what is the difference?

 I'm running MacOS 10.14.6 with all security updates installed. I compiled using Java 15 2020-09-15. Build 15+36.

[2021-02-17 04:18] meow10811 commented on #505
I have no clue what the difference could be, but I can tell you that this copy (which I just rebuilt), as well as the first copy which I gave you were both compiled on my macOS 10.15.7 system with all security updates installed using OpenJDK 15.0.1 2020-10-20 Build 15.0.1+9, from the latest master branch commit. Maybe if you were compiling off of the develop branch?

[2021-02-17 04:36] vladimirzhidkov commented on #504
Excuse my incompetence, I am fairly new to logic circuits. I built the exact same buffer circuit in both the original Logisim and  the Evolution one. The results did not match (see the pictures above). So I concluded that one of them must behave incorrectly. I assumed it was Evolution since my buffer circuit did not work in it.

[2021-02-17 04:39] #504 closed

[2021-02-17 08:38] maehne commented on #504
Indeed, the behavioural difference between Logisim and Logisim-evolution may hint that there's anyway an issue. @BFH-ktt1: Maybe, you could have a look, too?

In any case we appreciate all bug reports -- even if it turns sometimes out that it's not actually a bug! They, e.g., give us hints were documentation can be improved. This may be the case for this issue.

[2021-02-17 08:51] maehne commented on #505
@meow10811  and @davidhutchens: Thanks a lot for looking into this issue! The "This application is damaged and can't be opened" is really annoying, as it creates doubts that the applications integrity was compromised. As a first step, we should try to ensure that we get again the old behaviour, where macOS was reporting that the app's developer can't be verified.

@meow10811: Could you maybe also

[2021-02-17 16:20] meow10811 commented on #505
@maehne Absolutely - [here's a build](https://mega.nz/file/MAoXGYyL#FezyYe4JOM5OAl3ZlxX9Epj2lpDo9r28Vn9swfiokqY) from the HEAD of the `develop` branch. For some reason, the tasks under the `macappstore` folder in Gradle don't appear in this branch, so I had to build using `jpackage` instead of `createDmg`. I went back and tested building from `master` using `jpackage` ([here](https://mega.nz/file/

[2021-02-17 16:52] davidhutchens commented on #505
I have been looking at this. You are exactly right as to the difference. Building with createDmg from earlier builds works to get an usable unsigned app in a dmg for at least 10.14 and 10.15.

Thank you @meow10811 for the helpful clues.

Since you are getting a usable dmg from the jpackage build, it is either because you are using MacOS 10.15 or (my bet) they fixed something in the jdk builds betw

[2021-02-17 17:36] davidhutchens commented on #505
I lose the bet. I upgraded to OpenJDK 15.0.2. The generated dmg from HEAD of develop doesn't work when downloaded from my web page.

That leaves me with MacOS 10.15 working to build the dmg and MacOS 10.14 not. Perhaps due to changes in newer versions of Xcode?

@maehne, do you have a MacOS 10.15 machine you could test this on?

[2021-02-18 04:10] meow10811 commented on #505
I come with more updates! I got my hands on a macOS 10.14.6 Mojave computer, installed the same version of OpenJDK 15 from Homebrew, and downloaded and built the project using IntelliJ IDEA CE 2020.3 - and it still functions properly. That was as controlled of a study as I could make - there was no major difference between my previous builds and these builds (which you can find [here](https://mega

[2021-02-18 14:12] davidhutchens commented on #505
That is more info... But it isn't the site. I tried uploading your working jpackage dmg to my web page and then downloaded it. It works. So it isn't the site. But that sure does leave us wondering what the difference could be.

I use the command line to build it. But that seems unlikely to be the difference. I'm puzzled.

[2021-02-19 13:32] davidhutchens commented on #505
I have Xcode version 11.3.1. What version were you running on the 10.14.6 computer?

[2021-02-19 15:37] davidhutchens commented on #505
@BFH-ktt1, could you please give us the specific versions of MacOS, Xcode, and OpenJDK you used to build the 3.4.2 Mac dmg? It reports it is damaged (as does 3.4.1) on my machine. Thanks.

[2021-02-19 16:01] BFH-ktt1 commented on #505
@davidhutchens , I build it with an "old" Macbook air, and after I build the dmg it started updating, so I'm not sure that the info after the update is correct. Starting from next week I'll have a mac mini based on an M1-chip (model late 2020), so probably than the problem will (hopefully) be solved...

[2021-02-19 18:03] simoc opened #507 "Allow 64 bit width Test Vector file"
I can create circuits with 64 Data Bits in logisim evolution, but I get the following message in an error dialog when I open a Test Vector file with 64 bits:

Test vector in "test64.txt" could not be parsed. Detail: Test Vector header format error: bad width: InA[64].

I am using with the `develop` branch.

[2021-02-19 18:17] simoc commented on #507
One problem is the `if (w < 1 || w > 32)` comparison in `TestVector.java` that directly leads to this error message.

After changing the `32` here to `64`, there are further problems parsing 64 bit values in `Value.java` and I get the following error message:

 Test Vector data format error: too many bits in "0x00000000000000f1".

I have the same problem if I define the values in binary.

[2021-02-19 19:41] meow10811 commented on #505
@davidhutchens I faced a similar update problem with Xcode but it reports as 11.3.1 on the Mojave 10.14.6 computer. The other computer that I built on runs Xcode 12.3.

[2021-02-19 22:31] maehne commented on #507
You may want to check out PRs #327 and #394, which implemented the support for larger busses than 32 bit. The changes made there should be similar to the ones, which are now needed to adapt the Test Vector code to these larger bus widths.

[2021-02-20 23:33] maehne commented on #505
@meow10811: Thanks for your investigations and different DMG builds for testing!

I got around today to build Logisim-evolution from current HEAD of the `develop` branch using `./gradlew jpackage` on my MacBook Pro, which is still stuck macOS High Sierra 10.13.6 with OpenJDK 15.0.2 and Xcode 10.1. The installing the app bundle from the locally created DMG works. Once, I upload the DMG to a web sit

[2021-02-21 00:06] davidhutchens commented on #505
Thanks @maehne.  I'll look at it this weekend.

[2021-02-21 01:02] davidhutchens commented on #505
It looks even easier. I was already fixing the Info.plist with a post app creation script (called from inside jpackage). My tests suggest if I just add the codesign remove command to the script, I get an app that does not appear to be broken.

@maehne and @meow10811, could you download the Logisim-evolution.dmg from http://cs.millersville.edu/~dhutchens/Logisim/ and see if it works for you?

If it

[2021-02-21 10:27] simoc opened #509 "Java exceptions when adding Slider to empty circuit"
After starting logisim evolution and adding a Slider to my new circuit, many Java exceptions are reported in the terminal window and logisim is no long usable.

The first Java exceptions are:

    java.lang.ClassCastException: class java.lang.Integer cannot be cast to class java.lang.Long (java.lang.Integer and java.lang.Long are in module java.base of loader 'bootstrap')
	at com.cburch.logisim.st

[2021-02-21 18:56] simoc opened #511 "Java exception when deleting variable from Combinatorial Analysis"
I opened the Combinatorial Analysis window and added two Input Variables `A` and `B`. I clicked on the `A` to highlight it, then pressed `Delete` to delete this variable. Logisim reports a java exception in the terminal window and the variable `A` is still visible (`A` does disappear after adding another variable).

The java exception is:

    Exception in thread "AWT-EventQueue-0" java.util.Concu

[2021-02-21 20:31] davidhutchens commented on #505
I also now have a version that works as @maehne suggested. The advantage of that is that the patch up script is more a more obvious part of the build in the build.gradle.kts file. The disadvantage is that it takes 25-30 more lines of code in that file to run the three processes (create app, fix it, create dmg)

@maehne and @BFH-ktt1, do you have a preference?

[2021-02-21 20:42] meow10811 commented on #505
@davidhutchens I can confirm the version you linked doesn't report as damaged. If I'm reading what you diagnosed right, was it just one line to force-unsign the application during the build process? I'm still trying to figure out why I couldn't build a damaged version of the application.

[2021-02-22 14:02] davidhutchens commented on #505
@meow10811, I am still puzzled by your ability to build an undamaged app. I upgraded to 10.15.7 to see if that made any difference on my end. No change. Well, it is harder to authorize the unsigned app since I need to do so in System Preferences / Security after attempting to open it with right-click.

@maehne, do we need some kind of "How to install on the Mac" documentation? If so, where should

[2021-02-22 23:13] jessetheasian commented on #5
If anyone is having difficulties, I found a tutorial,
https://www.youtube.com/watch?v=9p2uBG9RLqU

[2021-02-22 23:43] jessetheasian commented on #111
If anyone is having trouble enabling the 'analysis circuit' tool I found a tutorial: https://www.youtube.com/watch?v=9p2uBG9RLqU

[2021-03-04 16:58] maehne opened #514 "MSI installer for Logisim-evolution 3.4.2 contains unnecessary files"
Due probably a not clean build directory, the MSI installer for Logisim-evolution 3.4.2 on Windows does contain unnecessary files, which cause, e.g., the FPGA boards to show up twice in the FPGA Commander. The `app/` directory contains two JAR files and one EXE file, where there should be only a single JAR file:

![Screenshot of app folder](https://user-images.githubusercontent.com/1174243/1099998

[2021-03-04 17:20] BFH-ktt1 commented on #514
Updated the .msi

[2021-03-04 17:20] #514 closed

[2021-03-05 12:08] Coolguy-Nandi opened #515 "I want to make a truth table that needs 4-bit width How do I write it ??"
As a part of our lab experiment we had to construct an ALU in logisim.
For validating the experiment I wanted to make use of test vector ,
but I am confused as to how can I parse or make a truth table in .txt file such that some of it's fields should be 4 bits long.
I tried by watching out some reference but they all were for single bit fields in Truth Table.
Please tell me how to make or format m

[2021-03-06 09:29] simoc opened #516 "Add documentation explaining Assembly window"
The online help under "Guide to Being a Logisim User" -> "Menu reference" -> "The Simulate menu" contains only

**Assembly viewer**
not documented yet

[2021-03-06 09:33] simoc commented on #516
After experimenting with this window and reading the source code in `AssemblyWindow.java`, I think the documentation should be:

The Assembly window displays the value of a register in the current circuit, together with the assembly language instruction at the address in the register.

Select the register for display and load a text file containing the assembly language instructions.

The filename

[2021-03-06 09:38] simoc commented on #516
Attaching screenshot of Assembly window using the example text file from my comment above.

The register `PC` currently contains the value `0x15`. This line is highlighted in the Assembly window.

![assembly-window-2](https://user-images.githubusercontent.com/1910647/110202271-bcd8fb00-7e67-11eb-9214-3d583439ff52.png)

[2021-03-06 17:44] tkoenig1 opened #517 "Truth table import problem"
When importing the following truth table
[code]
the program complains "Some inputs are repeated. For example, rows 4 and 5 have overlapping input values 0 1 - - 1 and 0 - 0 0 -." Ignore erros and try again?

While this is true, the truth table is nevertheless valid, because both rows lead to the same result, 1.

It would be nice to do that additonal test in that case, too.

[2021-03-12 23:13] zdimension commented on #509
If this issue was fixed by #510, it should be closed, I think

[2021-03-13 10:02] simoc commented on #509
Yes, this issue is fixed by #510. I am closing this issue manually.

Pull request #510 has the "Fixes" reference in the description to automatically close this issue after merging. However, this only works for merging to the default branch for the logisim-evolution repository (master). Logisim-evolution pull requests are merged to branch develop instead.

[2021-03-13 10:02] #509 closed

[2021-03-13 10:07] simoc commented on #502
Fixed by #503. I am closing this issue manually.

[2021-03-13 10:07] #502 closed

[2021-03-13 10:13] simoc commented on #507
Fixed by #508. I am closing this issue manually.

[2021-03-13 10:13] #507 closed

[2021-03-13 10:17] simoc commented on #511
Fixed by #513. I am closing this issue manually.

[2021-03-13 10:17] #511 closed

[2021-03-13 16:26] maehne commented on #517
Thanks for reporting this issue! Pull requests to fix this issue are welcome! For the coming months we'll have less bandwidth on our side to push forward the development due to a busy spring term.

[2021-03-13 16:28] maehne commented on #516
I guess this issue can be closed due to merged PR #518.

[2021-03-13 16:58] zdimension commented on #470
Fixed by #519.

[2021-03-13 16:58] #470 closed

[2021-03-13 18:09] maehne opened #521 "travis-ci.org is shutting down in several weeks"
[travis-ci.org](https://travis-ci.org/) is shutting down in several weeks, with all accounts migrating to [travis-ci.com](https://travis-ci.com/). Details about what this means for this project are yet missing. They offer a [free account](https://travis-ci.com/plans) also on travis-ci.com, but with certain restrictions. So, it may be better to switch to [GitHub Actions](https://github.com/features

[2021-03-13 19:00] simoc opened #522 "Random Generator generates only 32 bit values, not 64"
A Random Generator component with Data Bits 64 generated the following sequence of values for me:

    ffffffffdd309afb
    ffffffffc92dcf63
    000000006c38104d
    ffffffff997c3694
    00000000563d242a
    ffffffffccc47aa3

These look like 32 bit random values, not 64 bit random values.

I am using the `develop` git Branch.

[2021-03-13 22:38] simoc commented on #522
The online help says that the Random Generator component values follow the sequence `r1 = (25214903917 * r0 + 11) modulo 2^48`.

This means that the random values should have 48 bits of randomness.

However, the Java class `com.cburch.logisim.std.memory.Random` uses a 32 bit `int` type in the calculations, so some of the randomness is lost.

As an alternative, I can use two 32 bit Random Generator

[2021-03-14 18:41] maehne commented on #522
Thanks @simoc for reporting this issue. We will need to replace the PRNG implementation to generate 64-bit pseudo-random values. We should use a proven algorithm. E.g., since Java 8, there is [`java.util.SplittableRandom`](https://docs.oracle.com/javase/8/docs/api/java/util/SplittableRandom.html), which implements [Splitmix64](https://rosettacode.org/wiki/Pseudo-random_numbers/Splitmix64). There a

[2021-03-15 16:10] simoc commented on #284
I think this bug is in method `ExpressionRenderData.style`.

The font `Monospaced` is used for the display of the expression in the Expression tab. Although ASCII characters in this font are fixed width, the Unicode dot symbol `\\u22C5` is not fixed width.

Before the width of the text on the screen is calculated in this method, all dots are replaced with underscores, and this will give an inaccur

[2021-03-16 10:55] NikLeberg opened #524 "UI scaling after opening of a file dialog"
Hello there.

After I've updated to the latest version (3.4.2, I've installed it with the .msi windows installer) I encounter a strange bug.
I can open and edit .circ files with no problem.
But when I open any sort of "file-dialog" like:
- File -> Open
- File -> Merge
- Project -> load library -> Logism-evolution library
- Simulate -> Test Vector
at the moment the window opens the main logism wind

[2021-03-16 11:21] NikLeberg commented on #524
Just now I also discovered, thats this bug is also triggered if I switch to tablet mode in windows.

[2021-03-18 12:56] maehne opened #526 "Splitter loop gives different results in simulation and on FPGA board"
A student found the following problem. The below circuit (cf. also to attached circuit file) yields different behaviour in simulation and after synthesis on an FPGA board:

![grafik](https://user-images.githubusercontent.com/1174243/111629344-7b463980-87f1-11eb-87d1-ce482363faa9.png)

In simulation, both LEDs will light up if the button is pressed. On the FPGA board, `LED_Bug` won't light up.

[Ve

[2021-03-18 21:41] simoc opened #527 "64 bit Counter component displays bits twice"
A 64 bit Counter component displays the lower 32 bits of the value twice.

For example, when the counter has the value 9, the pins 0 and 3 correctly have the value 1, but pins 32 and 35 also have the value 1. See attached screenshot.

![counter64](https://user-images.githubusercontent.com/1910647/111701271-df412000-883a-11eb-977b-710d73b98a2a.png)

I am using the `develop` git branch.

[2021-03-19 13:56] maehne commented on #527
This issue can be closed as fixed due to the merge of PR #528.

[2021-03-19 17:12] maehne commented on #284
Thanks @simoc for fixing this issue with your PR #525! This issue can be closed.

[2021-03-19 17:43] simoc commented on #527
Fixed by #528. I am closing this issue manually.

[2021-03-19 17:43] #527 closed

[2021-03-22 17:56] maehne commented on #524
Thanks for reporting this bug. This is probably due to different parties (i.e., Windows, the JDK, and Logisim-evolution itself) trying to scale the GUI widgets to the right size. You have set the Look and Feel to the native "Windows" style, which is partly drawn by Windows and partly by Java. To work around the problem, please try to switch in "File -> Preferences... -> Window" the "Look and Feel"

[2021-03-23 14:44] NikLeberg commented on #524
Thanks for the suggestion. I guess I forgot that I had made that change to the look and feel. Changed to Metal and now it works flawlessly.
I also played around a bit with the different styles:
- Metal - works fine
- Windows - mentioned bugs
- Windows Classic - bug only triggers when entering tablet mode. The other "bug-paths" e.g. `File -> Open...` do not trigger it.
- the others - work fine, but

[2021-03-23 18:35] maehne opened #535 "Problems with recently added "Darklaf" Swing Look and Feels"
I stumbled on the new themeable "Darklaf" Swing Look and Feels introduced by commit 2cabc67a5 by @zdimension. They work on macOS, but I observed some visual issues. Especially, the icons for some components are not anymore shown in the Library pane on the left, e.g., for D Flip-Flop, T Flip-Flop, J-K Flip-Flop, S-R Flip Flop in the Memory folder, but also other components are affected. It doesn't

[2021-03-23 21:41] maehne commented on #524
Thanks @NikLeberg for your feedback and additional tests with other look and feels! Be aware that some recently added look and feels based on the themeable Darklaf look and feel seem to not work on Windows (see issue #535) and may require to delete a key using the Windows Registry Editor to make Logisim work again.

I am glad that the Metal look and feel does work correctly on high-resolution scre

[2021-03-24 20:55] Barnaboss opened #537 "bidirectional pins"
when designing a little cpu for funsies i wanted to tidy up my designe a little and therefore wanted to enclose every module that communicates with the bus into a subcircuit. Unfortunately it seems that it is not possible to configure pins to be bidirectional, so i want to suggest such an option, i think it makes alot of sence when designing components that communicate with a bus.

[2021-03-25 16:19] zdimension commented on #535
Really sorry about that, I tested the new themes on Windows 10 and Ubuntu 20.04 and didn't encounter any of those problems. The icons are displayed correctly for me:
![image](https://user-images.githubusercontent.com/4533568/112506090-b4e8e880-8d8d-11eb-923b-6cdc1549ce04.png)
Admittedly I did not test on macOS since I don't have a Mac computer nor a VM with me.

The second bug, the one where the m

[2021-03-26 14:54] maehne commented on #537
Indeed, it would be nice to have support for inout ports in Logisim-evolution and it was suggested before (cf. to issue #253). Unfortunately, the simulation engine of Logisim-evolution is not able to handle inout ports and would need a rewrite, for which we are lacking the resources (see [comment](https://github.com/reds-heig/logisim-evolution/issues/253#issuecomment-484696612) by @kevinawalsh for

[2021-03-27 00:06] TChapman500 commented on #537
I have an idea for a workaround:  If the pin receives input from within the subcircuit, set the internal direction to output, storing which bits are being driven to which values for that direction.  If the input comes from outside the circuit, set the internal direction to output, storing which bits are being driven to which values for that direction.  If the driving bits of the two directions con

[2021-03-30 08:02] maehne commented on #537
@TChapman500: Thanks for suggesting a workaround to implement this feature! Contrary to @kevinawalsh and @BFH-ktt1), I am not familiar enough with the implementation of the simulation engine to judge it. Our development resources are currently limited and in the short term focused on fixing bugs, backporting features from other forks, improving support for synthesising designs on FPGA boards, impr

[2021-03-30 14:18] rikard1234 commented on #398
Hello, any progress on issue?

[2021-03-30 15:02] BFH-ktt1 commented on #398
As I see currently my schedule there will be no activity on this part of the code before July 2021. The pandemic situation has us all given lots more of work as under normal circumstances.

[2021-03-30 17:50] TChapman500 commented on #253
The following is a copy-paste of what I wrote in a duplicate issue:

I'm not familiar with the internals of Logisim, so I'm not sure how well this will work-out.  But it should be easier than reworking the entire simulator.

[2021-03-30 18:22] rikard1234 commented on #398
Alright thanks for response, may I ask if you could tell what was the last version in which that button worked, or maybe share that version? Pretty desperate to get it because of college project

[2021-03-31 09:39] Bravo555 commented on #398
@rikard1234 it was working fine for me on version 2.14.6

[2021-04-03 16:03] #284 closed

[2021-04-06 21:15] BFH-ktt1 commented on #398
You should now have the great timing diagram that @kevinawalsh made in his holycross version. There might still be bugs, so please use this thread to report them. I will publish one of these days a version v3.4.4 including these enhancements.

[2021-04-07 06:49] Wynadorn opened #542 "Base Library Missing"
In the original Logisim a category called Base is available.
![image](https://user-images.githubusercontent.com/4095127/113822588-e72b1a80-977d-11eb-97fd-8bddcea8c351.png)

This category is necessary for: **Project -> Options -> Toolbar** and **Project -> Options -> Mouse**
Without this section you're unable to bind these tools to keybinds or put them on the toolbar.

[2021-04-07 07:36] BFH-ktt1 commented on #441
@mfbutner , please try with the latest version in the development tree, I think that the problem was there as I did not yet complete the merging of Kevin Walsh's chronogram code. I cannot reproduce the error anymore, hence I close the issue, please reopen if the problem still persists.

[2021-04-07 07:36] #441 closed

[2021-04-07 07:41] BFH-ktt1 commented on #442
@mfbutner , Also this issue should be solved in the latest version, please reopen the issue if it is not the case

[2021-04-07 07:41] #442 closed

[2021-04-07 07:42] BFH-ktt1 commented on #542
This is intentional. The "Base" tools are default in the Toolbar.
Closing the issue.

[2021-04-07 07:45] Wynadorn commented on #542
Sorry, I should have been more detailed about my issue.

I'd like to assign a hot key to these tool buttons. This uses to be able underneath the Mouse tab however because the base tab has (intentionally) been removed I'm no longer able to.

[2021-04-07 07:52] BFH-ktt1 commented on #542
This makes sense, I will look into the details in due time, however, it may take a while

[2021-04-08 07:33] BFH-ktt1 opened #544 "Texttool broken in V3.4.4."
For the moment you cannot save text added to your circuits in V3.4.4.

[2021-04-08 15:14] mfbutner commented on #442
Fantastic :)

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=link>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Wed, Apr 7, 2021 at 12:41 AM Prof. Dr. Theo Kluter <
***@***.***> wr

[2021-04-11 02:47] davidhutchens opened #545 "Clock broken when used with RAM in 3.4.4"
If you start a new project, drag a RAM component into it,  attach a clock input to C1, then try to get the clock to run, it fails to do so.

The clock runs in 3.4.3.

[2021-04-11 09:35] BFH-ktt1 commented on #545
I confirm this bug. There is a null-pointer exception when fetching the data of the component. I'll look into the details as soon as I have a moment. Thanks for the bug-report!

[2021-04-12 06:55] BFH-ktt1 commented on #545
@davidhutchens , it should be fixed by my latest push in develop. Closing the issue, but please reopen if the bug is not treated correctly.

[2021-04-12 06:55] #545 closed

[2021-04-16 10:31] char5280 opened #547 "Lost"

[2021-04-18 08:30] #547 closed

[2021-04-18 10:01] tkoenig1 opened #548 "Include espresso support"
This is very much a wishlist item.

Would it be possible to get support for [espresso](https://github.com/classabbyamp/espresso-logic) into logisim?  Although written in the 1980s, its algorithms still are state of the art. It could simply be used as an external program.

[2021-04-20 09:33] BFH-ktt1 commented on #548
@tkoenig1 , I know espresso very well and endorse your request. I put it on my investigation list, however, it will take a while.

[2021-04-21 14:41] micahwagner commented on #308
every time I put text down in a schematic scheme and try to save, it says "Text component not found." for every text component in the scheme. This does not happen when I put text in a circuit appearance.

[2021-04-21 14:42] micahwagner commented on #308
I have the newest version of logisim-evolution

[2021-04-21 15:16] micahwagner opened #549 "Text still broken"
every time I put text down in a schematic scheme and try to save, it says "Text component not found." for every text component in the scheme. This does not happen when I put text in a circuit appearance.

[2021-04-21 15:56] micahwagner commented on #544
This bug still happens for me

[2021-04-22 06:25] BFH-ktt1 commented on #549
This is a duplicate of #544. A quick fix is available in the development tree, but not yet put in releases. Closing.

[2021-04-22 06:25] #549 closed

[2021-04-22 14:13] micahwagner commented on #549
oh ok that makes sense

[2021-04-23 19:35] micahwagner commented on #308
the version I'm talking about is 3.4.4

[2021-04-23 19:36] micahwagner commented on #308
sorry for mentioning it again, I didn't know it was tracked already

[2021-04-25 00:15] CuriousMarc commented on #544
Can input Text, but it won't save it ("Text element not found") nor can you copy and paste it ("Library element not found")

[2021-04-25 00:18] CuriousMarc opened #551 "Programmable Generator has disappeared in v. 3.4.4"
No more Programmable Generator in v3.4.4? Has also disappeared from standard Logisim it seems. It was broken in current release Logisim Evolution version 3.4.1 (would not work at all).

[2021-04-25 00:37] micahwagner commented on #544
yeah thats what happens for me as well

[2021-04-25 00:38] micahwagner commented on #544
Im pretty sure this bug has been tracked and has a known fix

[2021-04-25 04:00] CuriousMarc opened #552 "Project will not simulate unless all probe points are deleted"
Here is the same project, one with probe points, one without probe points. The one with probe points will refuse to run. The clock will not start. However, if you delete all the probe points one by one, after you delete the last one, it will run again! If you add them back in one by one, it will keep running too. But if you save the project with the monitors and open it again, it will not run. Rem

[2021-04-25 07:44] BFH-ktt1 commented on #551
I disabled it for the moment as it is badly broken, as soon as I have more time I will look into it how to fix it

[2021-04-25 08:07] BFH-ktt1 commented on #552
Thank you very much for your bug report. This has been fixed in my latest push in the development branch. Closing the issue for now, please reopen if it does not work for you.

[2021-04-25 08:07] #552 closed

[2021-04-25 08:14] CuriousMarc commented on #551
I thought this might be the case. Thanks for your answer, and congrats on the awesome work.

Marc

From: Prof. Dr. Theo Kluter ***@***.***
Sent: Sunday, April 25, 2021 12:44 AM
To: reds-heig/logisim-evolution
Cc: CuriousMarc; Author
Subject: Re: [reds-heig/logisim-evolution] Programmable Generator has disappeared in v. 3.4.4 (#551)

I disabled it for the moment as it is badly broken, as soon as I

[2021-04-25 08:17] CuriousMarc commented on #552
Wow that was quick!

Are you also working on a text label fix? That’s really what I was trying to get around by putting all my little monitors – all I wanted is a way to label the wires...

Thanks for the amazing work.

Marc

From: Prof. Dr. Theo Kluter ***@***.***
Sent: Sunday, April 25, 2021 1:07 AM
To: reds-heig/logisim-evolution
Cc: CuriousMarc; Author
Subject: Re: [reds-heig/logisim-evolution

[2021-04-25 08:29] BFH-ktt1 commented on #552
Also the text-bug has already a work-around in head of development, hope this helps.

[2021-04-25 08:50] BFH-ktt1 commented on #544
Fixed in V3.4.5, Closing

[2021-04-25 08:50] #544 closed

[2021-04-25 09:40] BFH-ktt1 commented on #542
This should be fixed in my latest push to develop. Please reopen the issue if it is not resolved. (note it is not yet available in 3.4.5)

[2021-04-25 09:40] #542 closed

[2021-04-25 23:06] CuriousMarc opened #557 "Copy/paste a text label still fails in 3.4.5"
Thanks for quickly fixing most of the text label issue. There is still a small part of the bug that's left in 3.4.5 though:
 If you try to copy and paste a text label, it comes up with an error that says:
"Some clipboard components were not pasted because the project libraries do not support them:
  Label"
Admittedly a minor annoyance, now that the text label is mostly working again.
Marc

[2021-04-26 05:30] BFH-ktt1 commented on #557
@CuriousMarc , Thanks for the bug report, I'll look into the details

[2021-05-07 12:35] zdimension commented on #557
Fixed in fff841, see PR #558

[2021-05-07 20:56] CuriousMarc commented on #557
Thanks!

Marc

From: "Prof. Dr. Theo Kluter" ***@***.***>
Reply-To: reds-heig/logisim-evolution ***@***.***>
Date: Friday, May 7, 2021 at 12:55 PM
To: reds-heig/logisim-evolution ***@***.***>
Cc: Marc Verdiell ***@***.***>, Mention ***@***.***>
Subject: Re: [reds-heig/logisim-evolution] Copy/paste a text label still fails in 3.4.5 (#557)

I close this issue as the latest PR of @zdimension fixes th

[2021-05-08 14:03] zdimension commented on #521
16d479cee999f715c353271dfbf8ad6fe1af3e69 adds GitHub Actions support.

[2021-05-08 16:31] filipgaming008 opened #559 "VHDL Validation and Toolpaths"
Hello there, my name is Filip. I have recently gotten into Logisim Evolution, hence it is still being updated. I have downloaded Quartus Prime Lite Edition, and tought id give VHDL coding a try. I have tried some tool paths for it but when i did, i got to the toolpath of   [\(custom download folder)\quartus\bin64], after trying to validate the VHDL Entity it didnt allow me to even push the button,

[2021-05-09 05:28] Unknown-User2 opened #561 "make aur package for arch linux"
im on arch and have fun learning how things work with this and would love if you made a aur package for arch linux

[2021-05-10 13:20] #559 closed

[2021-05-10 13:33] zdimension commented on #521
I've been unable to find the exact shut down date of travis-ci.org (it's been saying "in several weeks" for six months) but I think it's a safe guess to assume that it can close at any moment now. If @BFH-ktt1 is okay with it, I can remove the travis-ci files in #560

[2021-05-10 14:06] maehne commented on #561
For reference: [Arch Linux Java package guidelines](https://wiki.archlinux.org/title/Java_package_guidelines)

[2021-05-10 14:23] BFH-ktt1 commented on #521
For me it is okay to remove travis support as it is not working anyways already for a while.

[2021-05-11 17:55] maehne opened #563 "VhdlSyntax.java should get auto-generated from VhdlSyntax.flex by gradle"
While reviewing PR #560, I noticed that the repository contains the auto-generated file `src/main/java/com/cburch/logisim/vhdl/syntax/VhdlSyntax.java`. The source file is `src/main/java/com/cburch/logisim/vhdl/syntax/VhdlSyntax.flex`. We have to make sure that we did not commit any changes to `VhdlSyntax.java`, which were not done too to the source file `VhdlSyntax.flex`. Once we are sure that `Vh

[2021-05-13 16:42] maehne opened #564 "Address issues found in code review of PR #560"
The code review of PR #560 revealed some additional issues, which deserve to get fixed. This issue is created as a reminder, as the PR #560 got already merged due to the many contained improvements. Thanks for them again @zdimension!

[2021-05-13 17:21] zdimension commented on #564
Apologies about that, I'll try to make smaller PRs in the future, this one is the result of a few days of manually running static analysis inspections and falling into rabbit holes of refactoring, leading the huge number of commits.

I'll add one next time. Glad to be able to help one of my favorite OSS projects!

I've used Xlint in the past, but nowadays I mostly rely on IntelliJ inspections and

[2021-05-15 09:39] K1ngjulien commented on #561
It seems like some people have already made AUR packages for this and except for the -git version they look up to date:

https://aur.archlinux.org/packages/logisim-evolution/

https://aur.archlinux.org/packages/logisim-evolution-bin/

https://aur.archlinux.org/packages/logisim-evolution-git/

[2021-05-15 12:10] datdenkikniet opened #565 "VHDL parser bug: `end entity` results in invalid entity name"
If I want to import a VHDL entity that looks as follows:

[code]
Logisim tells me that the entity is invalid. I have no clue what the actual VHDL spec says about this, but according to Vivado 2020.1 it is valid.

I'd expect Logisim to be able to import this entity, but it fails and says that the entity name is not valid.

Swapping `end entity` with `end SomeEntity` works as expected.

[2021-05-15 12:13] datdenkikniet commented on #565
It seems like the issue is that this pattern matcher https://github.com/reds-heig/logisim-evolution/blob/master/src/main/java/com/cburch/logisim/vhdl/base/VhdlParser.java#L166 specifies `END` to _only_ be valid if it is `end SomeEntity`.

[2021-05-15 17:57] Moi78 opened #566 "IntelliJ theme avoids Logisim to launch"
It is simple : when I set the window theme to intelliJ it just doesn't lauch

Here is the error :
[code]

Here is my java version :
[code]

[2021-05-15 18:06] Moi78 commented on #566
(and can someone tell me where is stored the configuration file of the software 🙃 )

[2021-05-15 18:10] Moi78 commented on #566
(nvm just found it)

[2021-05-16 21:20] lohikarhu commented on #222
Hi there;  I noted some errors in the English documentation, and some 'Library' things completely missing, like POR, an important function (if implemented?)
I am able to commit some limited time to editing English-language issues, and I am a native English-speaker (not USA, not UK) with international work experience and some academic editing.. If I can help, it would be nice to be able to contribu

[2021-05-16 21:54] lohikarhu commented on #222
Just going through the little tutorial for XOR simulation, I  noticed that the part about adding input and output pins has incorrect 'icons' for the current version... attached a tiny screenshot of that bit...
![Screenshot 2021-05-16 at 23 45 37 ](https://user-images.githubusercontent.com/25348010/118413887-d5ecfc00-b6a1-11eb-809b-8418fe91d422.png)
and the current icons
![Screenshot 2021-05-16 at

[2021-05-17 17:09] mbaillif commented on #222
Thank you very much.
I will correct this.

And all help is welcome.
The English version deserves proofreading and corrections.
In fact it is an endless work.

It is with great pleasure that I wish you a warm welcome.

[2021-05-18 12:30] lohikarhu commented on #222
Thanks... I'll try to do a bit at a time.

Nice project, and I was interested to see several YouTube videos using this
as a tool for several purposes.

It would be nice if there was a CMOS library, too, but libraries are a lot
of work!

Merçi

On Mon, 17 May 2021 at 19:10, mbaillif ***@***.***> wrote:

[2021-05-18 12:31] lohikarhu commented on #222
What could I do with the 'missing' functions? Are tehy described in another language, or are they still 'to be dtermined' ?

[2021-05-18 12:47] BFH-ktt1 commented on #222
@lohikarhu , Basically the English version of the documentation is the most complete as this is the first one which is updated, the others are "following". Hence if it is not described in the English version than it is most probably not described at all.

[2021-05-19 08:50] maehne commented on #561
Thanks @K1ngjulien for these links!

@Unknown-User2: Could you give them a try and provide us with some feedback?

Based on this, we could add instructions to our [README](https://github.com/reds-heig/logisim-evolution/blob/master/README.md) to point users to these packages and give instructions on how to install them.

[2021-05-19 09:04] maehne commented on #222
Thanks @lohikarhu for your offer to help improve the documentation! Feel free to ask any questions regarding the undocumented components here and we'll try to answer them.

[2021-05-19 09:39] maehne commented on #565
Indeed, the keyword `entity` as well as the entity name are both optional after the keyword `end` in an entity declaration. It is most common to either write just `end;` or `end entity SomeEntity`. Personally, I prefer the latter for entities, architectures, configurations, processes, etc. that may span multiple screen pages.

So, we need to loosen the VHDL syntax checker here.

[2021-05-19 11:47] maehne commented on #564
Thanks @zdimension for your feedback. I recognise how much work this refactoring work by yours was. I have done similar efforts in the past and still try when I get to it. Thanks for pointing to IntelliJ and SonarQube for static code analysis. Anyway, we may consider to enable additional Xlint rules for building with gradle to warn more thoroughly about potentially added new issues after code modi

[2021-05-19 14:09] maehne commented on #566
Thanks for reporting this issue @Moi78! On which platform (OS and processor architecture) did you observe this problem?

I suspect it is the same error, which I reported in issue #535. @zdimension: Could you maybe help debugging this issue?

[2021-05-19 14:15] maehne commented on #535
I believe issue #566 is the same bug. @Moi78 got the following error:

[code]

If Logisim-evolution cannot start due to corrupt preference settings, we should maybe consider adding a startup switch, which would reset all preferences by deleting the locally saved preferences.

[2021-05-19 14:28] Moi78 commented on #566
Hey @maehne,
The error occured on Windows 10 (x86_64). I think indeed it is the same error as in the issue #535.

I would love to help debugging the issue, but since I'm a C/C++ guy and I only have the basics of Java I'm affraid I can't help that much. Well if there's anything I can do to help, tell me. (I have a JDK & Eclipse installed tho)

[2021-05-19 14:37] maehne opened #569 "Invalid VHDL netlist generated from circuit when using multiple splitters"
Logisim-evolution does not always correctly netlist circuits to VHDL involving multiple splitters. This can happen in flat and hierarchical circuits.

`flat_top`:

<img width="214" alt="image" src="https://user-images.githubusercontent.com/1174243/118831416-0d38f400-b8c0-11eb-8986-60e6e53d30e7.png">

`hierarcharchical_top`:

<img width="300" alt="image" src="https://user-images.githubusercontent.c

[2021-05-19 14:49] maehne commented on #490
@GamePlayer-PL: Sorry for the late reaction. We are still catching up from the very busy winter term.

@BFH-ktt1: What do you think? It should be feasible, as the Logisim version gets recorded in the `.circ` file.

[2021-05-19 15:00] Unknown-User2 commented on #561
it work good you just run `logisim-evolution` in the terminal and it runs

[2021-05-19 16:27] mbaillif commented on #222
Hello,
I don't know if you need help getting started. Maybe you will save time with this information
- The doc is in HTML for compatibility with javahelp.
- It is in the path src/main/resources/doc

I see two approaches.
A) You know how to use Github and in this case you have to create a fork of reds-heig /
logisim-evolution branch develop
The documentation is in the path src/main/resources/doc
Ma

[2021-05-19 16:34] lohikarhu commented on #222
Great.... I'm not a GitHub user, in general, so, if it's ok, I can use method 2, but I've also done some 'bare metal' HTML.

I was poking around the POR block today, and it needs to be described, as its implementation is not as straightforward as say 'n seconds'.

My wife is in hospital at the moment, so my 'focus' is a bit 'other-where'.

Thanks for your quick and helpful replies!

[2021-05-19 16:38] lohikarhu commented on #222
Thanks, Torsten... I have to get a feel for the software, so I'll look at
some tutorials and such, but I can also do some 'proof-reading' of the
English doc's.

There seem to be some things that are not too 'intuitive' for a 'hardware
guy', but I'm kind of a 'system guy', so might be able to figure some
things out ;-) Have a fine day!

On Wed, 19 May 2021 at 11:05, Torsten Maehne ***@***.***>
wrot

[2021-05-19 18:32] zdimension commented on #566
This seems to be a known issue in Darklaf (https://github.com/weisJ/darklaf/issues/234). Some of their classes are using internal Swing components (explicitely marked as "do not use, API may change"), and Java 16 broke some stuff.

@Moi78 can you try launching Logisim with the `--illegal-access=permit` JVM parameter ? (something like `java --illegal-access=permit -jar logisim.jar`)

[2021-05-20 08:21] maehne commented on #561
Thanks for the feedback @Unknown-User2. Did you try package `logisim-evolution` or `logisim-evolution-bin`?

[2021-05-20 09:04] maehne commented on #222
Thanks @lohikarhu and @mbaillif for your willingness to work together on improving the documentation!

[2021-05-20 09:07] Moi78 commented on #566
Well, I tried that, it works ! However, it seems that there's still some bugs... I had some error messages such as :
`[2021-05-20 10:56:16] [WARNING] Could not load color with id 'Icons.CheckBoxFocused.activeFillColor' fallbacks[]. Using color 'java.awt.Color[r=255,g=0,b=0]' instead. [at com.github.weisj.darklaf.icons.IconColorMapper]`

But at least, it launches.

And I dunno if it is a bug, but i

[2021-05-20 13:16] zdimension opened #576 "Setup SonarQube integration"
SonarQube is a code quality analysis tool which could be of great use to a project as big as Logisim.

It needs to be hosted on a server to run, but their SonarCloud service is free for open-source projects. Only people with rights on the repository can create the account, maybe @maehne @BFH-ktt1 can look into that? Once created, I can set up the GitHub Actions trigger to launch the analysis.

As

[2021-05-20 13:27] maehne commented on #566
@Moi78: Could you try to apply the following patch to `build.gradle.kts` and test whether this reliably launches Logisim-evolution with the right JVM options to not trigger the bug?

[code]

It should be taken into account when launching Logisim-evolution with `gradle runShadow` and also using the executable wrapper installed by a package generated with `gradle jpackage`.

[2021-05-20 13:34] zdimension opened #577 "Consider moving logisim-evolution to an organization account"
The repository is currently owned by a personal account (`reds-heig`), I think it would better reflect the "community project" aspect if it were under an organization account, like most big open-source projects.

[2021-05-20 13:43] maehne commented on #566
@Moi78 and @zdimension: My branch [workaround-issue-566](https://github.com/maehne/logisim-evolution/tree/workaround-issue-566) contains the above workaround for testing purposes.

[2021-05-20 13:58] maehne commented on #577
I support this idea of moving the project to its own organisation account. It would also facilitate setting up a proper web site for logisim-evolution.

[2021-05-20 13:59] maehne commented on #576
I think using continuously such static analysis service will allow us to improve the code quality. I think setting this up will be facilitated by first moving logisim-evolution to an own organisation account as you suggest in issue #577.

[2021-05-20 15:16] maehne opened #578 "Combinational Analysis: IllegalArgumentException if only one input and one output are defined"
If one adds only one input variable and one output variable in the `Combinational Analysis` window then clicking on `Minimized` will throw a `java.lang.IllegalArgumentException: Can't add attribute to 0-length text`:

<img width="626" alt="image" src="https://user-images.githubusercontent.com/1174243/119003983-7424de80-b98e-11eb-99ad-6eba2c12e5b3.png">

This is the full stack trace:

[code]

The e

[2021-05-20 15:23] maehne opened #579 "Combinational Analysis: Deleting an input variable causes a ConcurrentModificationException"
If an input variable is selected in the `Combinational Analysis` window and then the key `Delete` is pressed to remove it, a `java.util.ConcurrentModificationException` is thrown:

<img width="626" alt="image" src="https://user-images.githubusercontent.com/1174243/119005438-bd296280-b98f-11eb-9cac-bf22f944751a.png">

The full stack trace is:

[code]

Removing output variables works without trigger

[2021-05-20 15:48] maehne opened #580 "Replace outdated lablib-checkboxtree-3.3.jar dependency"
`lablib-checkboxtree-3.3.jar` is our last dependency, we distribute in binary form together with the Logisim-evolution sources. It would be nice to just reference the dependency from Gradle. Unfortunately, `lablib-checkboxtree-3.3.jar` is not available on [Maven Central](https://search.maven.org/), but a [3rd-party repository on GitHub](https://github.com/nroduit/mvn-repo/) was found. There's a ce

[2021-05-20 18:36] zdimension opened #581 "Set up a Gitter chatroom (or other platform)"
I think it could be of use to the project to provide a chatroom related to Logisim, questions and issues with it. Maybe a Gitter space or a Discord server?

[2021-05-20 18:54] zdimension opened #582 "Simulation frequency very unstable"
I drew this very simple circuit:

![image](https://user-images.githubusercontent.com/4533568/119031579-85c8af00-b9ab-11eb-98f8-23acc855c89f.png)

I then started the simulation and measured the effective frequency compared to the target frequency (in the menu). Here are the results:

![image](https://user-images.githubusercontent.com/4533568/119033113-223f8100-b9ad-11eb-90f2-749d7be41078.png)

I al

[2021-05-22 08:13] BFH-ktt1 commented on #569
This is related to the VHDL generator of the LED-matrix. The VHDL generator of the LED-Matrix should be completely reviewed.

[2021-05-22 08:22] BFH-ktt1 commented on #582
I also observed this behavior. It might be related to the fact that I did not merge yet all improvements made by Kevin Walsh (he drastically rewrote the simulation core), it might also be another issue. I'll keep track of it.

[2021-05-22 08:25] BFH-ktt1 commented on #581
I'm in favor. However, I will not have any bandwidth till June/July due to a very busy teaching schedule. After this I will look into moving logisim to it's own namespace and what can be done with respect to a chatroom. Thanks for your suggestion.

[2021-05-23 00:33] TChapman500 commented on #340
You only need one group of tri-state buffers.

[2021-05-23 08:53] zerozen opened #585 "Issue with 64 bit roms save/load"
I have been able to repeat this issue with 64 bit roms, but not other widths. Using 3.4.6 and also tried the latest dev branch (version appears to be the same)

Put a rom with any address size (8 is fine) and a data bit width of 64. Enter "8000000000000000" as a value anywhere. The rom will function as expected, but when you save the content of the ROM to a text file and load it it will not recogn

[2021-05-23 10:09] maehne commented on #581
I think [Gitter](https://gitter.im) would be a good option. I am already using it for other projects. With the [developing integration into the Matrix ecosystem](https://blog.gitter.im/2020/09/30/gitter-element-acquisition/), the service is also much more usable on mobile platforms using the Element chat client.

[2021-05-23 10:21] maehne commented on #585
Thanks for the report @zerozen. Support for 64 bit wide signals in Logisim-evolution was added only recently and we are aware that some code parts might still assume that signals can be at maximum 32 bits wide. You have stumbled on such a case. The behaviour observed by you smells like the data gets stored in a signed 64 bit integer and that data is tested to be positive.

[2021-05-24 16:45] BFH-ktt1 commented on #585
Is fixed by @zdimension PR. Closing the issue

[2021-05-24 16:45] #585 closed

[2021-05-24 20:55] zdimension opened #590 "Update the "Credits" list"
Since it was last updated, there have been lots of contributions from lots of new contributors, I think the list should be updated to reflect that

[2021-05-25 05:40] BFH-ktt1 commented on #590
@zdimension , I fully agree, but for that I need the information that those contributors have to give me. I am very happy to add them to the "credits" list, or that they add themselves and do a PR.

[2021-05-26 10:23] BFH-ktt1 opened #593 "IMPORTANT: logisim-evolution has moved"
Dear all,
We have moved logisim-evolution to it's own organisation called "logisim-evolution".
please make sure that you update your upstream reposatory with:

[code]

We will add more features in the near future like web site, etc.

[2021-05-26 11:23] BFH-ktt1 commented on #577
This has taken place today. I will close the issue.

[2021-05-26 11:23] #577 closed

[2021-05-26 12:37] kevduc opened #596 "Do you consider making an online version? (no install)"
If so would you use Javascript?

[2021-05-26 13:25] BFH-ktt1 commented on #596
For the moment there are no plans to make an online version (due to limited bandwidth and still a stack of things to be realized). However, it might be a thing to think about in the future.

[2021-05-26 13:58] zdimension commented on #581
Indeed, it would also potentially have a better integration with other GitHub features.

[2021-05-26 14:01] zdimension commented on #596
Maybe GWT could be used for that? [Circuit](http://www.falstad.com/circuit/) was ported from Java to the Web that way

[2021-05-26 14:12] maehne commented on #596
Maybe [CheerpJ](https://leaningtech.com/cheerpj/#Download) is another alternative to consider for making Logisim-evolution available as a Javascript+WebAssembly-based web application.

[2021-05-26 21:29] maehne commented on #581
@zdimension: OK, then let's try to go with the Discussions feature, which @BFH-ktt1 already enabled. If you feel it's not sufficient and a real chat platform would be better, feel free to reopen this issue and we can discuss this topic further.

[2021-05-26 21:29] #581 closed

[2021-05-26 21:39] maehne commented on #596
Some further options are discussed in [this stackoverflow question](https://stackoverflow.com/questions/440302/how-to-cross-compile-java-source-code-to-javascript). For us it is low priority. PRs going in this direction are welcome as long as Logisim-evolution can still be compiled as a cross-platform stand-alone desktop application.

[2021-05-28 18:21] tcpipchip opened #601 "M+++"
About 8 years ago we developted a processor using the the OLD LOGISIM.
I always use it on my classroom.

I would like to know if someone is interested at free time, to port it to LOGISIM evolution and maybe, port to FPGA, that is my Dream and use in classroom! :)

![image](https://user-images.githubusercontent.com/11488460/120026310-44965780-bfc8-11eb-9f32-a9d91c90f583.png)

Thank you!

Miguel Wis

[2021-05-30 21:18] simoc commented on #579
This looks like the same bug as #511.

I already fixed that bug in branch `develop`, but recent commit ba0080ec962c903a347cfed13746a9078fab61e9 removed my changes and introduced the bug again.

[2021-05-31 16:51] maehne commented on #579
Thanks @simoc for diagnosing (again) the cause for this bug! PR #607 reapplies your fix.

[2021-05-31 22:59] maehne commented on #601
I cannot offer help for actively porting your design. However, porting your design to Logisim-evolution and making it synthesisable to FPGA should be doable with reasonable effort. Have you already tried opening your old `.circ` file in Logisim-evolution? Automatically, the old component shapes should get used in most places, so that only few places should require manual fixing. The FPGA Commander

[2021-06-01 00:57] tcpipchip commented on #601
Please,
@maehne
How are you ?
Thanks for your comments!

Please, see the final version!

[](http://www.inf.furb.br/~maw/mais/M+++%20LITE.zip)

See if it´s better to implement!

Yes, i replace all the that the Logisim evolution cant convert!

please, send me your comments about!

[2021-06-01 05:24] Emil-DV commented on #501
I noticed this as well and it is quite a headache since I'm going for a sunken 'battle ship' panel look.
I was able to set up the build environment and found that the issue was with a "sort" function that was added somewhere along the way for easier testing via .circ file compares (so say the comments in the code).  I commented out the call to sort (logisim-evolution-develop\src\main\java\com\cbur

[2021-06-02 10:01] BFH-ktt1 opened #611 "VHDL components do not preserve signed and unsigned"
When adding a VHDL component with inputs/outputs of type signed or unsigned they are transformed by the HDL-writer with std_logic_vector.

[2021-06-03 08:25] R3dst0ne commented on #382
After working on the translations for my [Pull request](https://github.com/logisim-evolution/logisim-evolution/pull/608), I can confirm this statement. It is way easier and faster to search for errors than to translate everything by your own.

[2021-06-03 12:46] tcpipchip commented on #601
Good @maehne  and team

I am converting our M+++ processor to Logisim evolution and going very well. I already can execute all the instructions on EVOLUTION.

But there is a question.

This is the original STACK POINTER

![image](https://user-images.githubusercontent.com/11488460/120646663-1db8a500-c450-11eb-966d-c7e63b343e67.png)

No i am converting to Evolution

![image](https://user-images.gith

[2021-06-03 13:05] tcpipchip commented on #601
[Mmaismais2.0.4-Exemplo01.circ.zip](https://github.com/logisim-evolution/logisim-evolution/files/6591790/Mmaismais2.0.4-Exemplo01.circ.zip)
[Mmaismais2.0.4-Exemplo01.circ.zip](https://github.com/logisim-evolution/logisim-evolution/files/6591796/Mmaismais2.0.4-Exemplo01.circ.zip)
One is on OLD and other is on EVOLUTION.

Thank you!

Btw, i plan to use this

https://pt.aliexpress.com/item/1005001678

[2021-06-03 13:08] tcpipchip commented on #601
Our code to run on ROM

	MOV 00,A;
SOMA:
	INC A,A;
	JMP SOMA;

Binary code to put on ROM

[teste.zip](https://github.com/logisim-evolution/logisim-evolution/files/6591832/teste.zip)

[2021-06-03 17:28] davidhutchens commented on #580
I concur with @maehne. At first glance it does look like swing-checkbox-tree might work. I'll see if I can implement that replacement.

[2021-06-04 10:00] maehne commented on #601
For your design being compatible with synthesis, you'll have to avoid using tristate signals internally. Remove the tristate buffers from your design. Keep the outputs of the RAMs always enabled. For synchronous design, all FFs, registers, RAMs, and ROMs should get connected to one single clock. You then control if a write should happen either by activating the corresponding WE input or (in the ca

[2021-06-04 15:12] MarcinOrlowski opened #617 "Changing Splitter's fan out param resets custom bit mapping"
Changing Splitter's fan out parameters resets custom bit mapping. Steps to reproduce:

- add splitter to your circuit.
- set fan out to 2 (default)
- set bit width in to 4 (or more)
- map all bits but last one to pin 0 (top)
- map last bit to pin 1 (bottom)
- change fan out to 3
- bit mapping gets wrecked

[2021-06-04 15:35] BFH-ktt1 commented on #617
This is wanted behavior and is not easy to change due to the data structure of the splitter.

[2021-06-04 15:49] tcpipchip commented on #601
Hi, starting removing all BUFFER TRISTATE, i am using the MUX with OE to replace them!

[2021-06-04 15:58] MarcinOrlowski commented on #617
Please correct me as I literally spent 5 minutes looking at the source code but at a first glance it looks like making `configureComponent()` aware of previous state would do the trick? If not, can you please elaborate shortly what would bite next?

[2021-06-04 18:24] MarcinOrlowski opened #618 "Shortcut CTRL-K triggers more than once action"
It seems <kbd>CTRL</kbd>+<kbd>K</kbd> gets assigned to trigger two different actions at the same time. Steps to reproduce:

1. get `Clock` to your circuit
2. click on it and then go to `Properties` tab
3. Click `Shared Label Font`
4. Cancel the font dialog but do not click anything else
5. Press <kbd>CTRL</kbd>+<kbd>K</kbd>

After step 5 you toggle the `Auto-tick enabled` option and at the same ti

[2021-06-05 08:13] MarcinOrlowski commented on #618
Update, it's not just about <kbd>CTRL</kbd>+<kbd>K</kbd>. I noticed that in above scenario I can also have the same issue if I replace step 5 with <kbd>CTRL</kbd>+<kbd>S</kbd>

[2021-06-05 09:40] maehne commented on #618
Thanks @MarcinOrlowski for reporting this bug. I can reproduce it on macOS with latest Logisim-evolution. It is not only restricted to the clock component, but seems to be linked to the label font dialogue, which is also present in other components, e.g. the Pin component. Besides <kbd>Ctrl</kbd>+<kbd>K</kbd> and <kbd>Ctrl</kbd>+<kbd>S</kbd>, also all other keyboard shortcuts are affected, e.g., <

[2021-06-05 09:56] maehne commented on #617
I agree with @BFH-ktt1 that it is wanted behaviour that the bits get distributed equally over the configured number of fan out pins. We need to have a predictable behaviour when the number of bits or number of fan out pins get changed (increased or decreased). If you can come up with a straight-forward alternative behaviour, feel free to propose it here. We are also open to PRs in this direction!

[2021-06-06 08:29] maehne commented on #566
Thanks @2xsaiko for that helpful suggestion!

[2021-06-06 09:11] 2xsaiko commented on #566
No problem! We replaced the old Darcula library we were using with FlatLaf in a project I work on as well to fix a similar issue I believe, and it works great for us.
Also, the dev is a cool guy and very helpful, he commented on our issues involving FlatLaf or Swing in general a couple times. (Still not sure how he found the project, to be honest, but I'm not complaining!)

[2021-06-06 16:49] Moi78 commented on #566
Hey, I was really busy these last days so I weren't able to test what you asked me to do, and I'm so sorry.

However, I'm glad to see that you found a workaround. Seems to be a good alternive !

[2021-06-06 17:39] zdimension commented on #601
@maehne I don't have the privileges for that on this repo, but if my memory is correct an issue can be converted to a discussion:
![image](https://user-images.githubusercontent.com/4533568/120934528-e58abe00-c6fe-11eb-9f54-3123e70b9914.png)

[2021-06-06 17:40] zdimension commented on #566
@Moi78 if you have time, could you try building the commit referenced in #619 ? It uses FlatLaf instead of DarkLaf, which is a bit more stable and should fix the bugs you encountered. (since I wasn't having those bugs before I can't tell for sure if they're fixed, hence why it'd be great if you could test on your computer)

[2021-06-06 17:50] tcpipchip commented on #601
yes, that memory "problem" that i want to solve now,  that is only the problem that i got during converting to EVOLUTION.
I still wants to present it to classroom the M+++ on evolution!

[2021-06-07 08:47] MarcinOrlowski opened #625 "Add dirty marker also to window title"
I believe it would be useful to have DIRTY_MARKER (*) added also to window title whenever project gets dirty as it would improve "visibility" of the dirty state. Moreover, contrary to in-app project tree, application window title is usually also visible in system taskbar, so one can see the project state without opening the app window.

[2021-06-08 13:59] MarcinOrlowski commented on #537
While that's not really the direct solution but as (hopefully :) temporary workaround for someone in needs - the [Digital](https://github.com/hneemann/Digital) tool mentioned in README seems to support bidirectional ports. Haven't checked it yet, but at its library features 74245 IC, so...

[2021-06-09 07:32] zdimension commented on #617
While making circuits, I often encounter the case where I've spent a few minutes configuring a splitter (the UI for that should be reworked, too), and only at the end notice that I missed a bit somewhere and I need to add an out wire and it resets the configuration to the default one. Although it is indeed useful to equally distribute input pins to output pins, there should definitely be a way to

[2021-06-10 07:08] MarcinOrlowski commented on #625
That should be relatively easy change, once know how to have it implemented properly (I do not, yet ;). As for PRs - I throw a bunch of such on you recently. Would appreciate any feedback before I run out of spare time. Thanks

[2021-06-10 08:23] MarcinOrlowski opened #636 "Possible inproper ComponentMapInformationContainer for LED"
The LED constructor, in [line 103](https://github.com/logisim-evolution/logisim-evolution/blob/374a72318ecd0c16b7c077a2260753a1ffc2861c/src/main/java/com/cburch/logisim/std/io/Led.java#L103), sets:

    new ComponentMapInformationContainer( 0, 1, 0 )

however LED port is `INPUT` ([line 108](https://github.com/logisim-evolution/logisim-evolution/blob/374a72318ecd0c16b7c077a2260753a1ffc2861c/src/mai

[2021-06-10 08:35] MarcinOrlowski commented on #447
Indeed. But that can be easily addressed by editing repo topics: https://docs.github.com/en/github/administering-a-repository/managing-repository-settings/classifying-your-repository-with-topics

@maehne

[2021-06-10 08:36] BFH-ktt1 commented on #636
@MarcinOrlowski : No it is correct, as ComponentMapInformationContainer is used in the FPGA-commander. On toplevel a LED is an output, and for example a button is an input. In simulation of logisim it is exactly the opposite, the pin of the led is an input and the pin on the button is an output. It's a bit confusing, I know :-)
Can I close the issue?

[2021-06-10 08:44] MarcinOrlowski commented on #636
Is this documented somewhere? Code is barely commented so it's trial and error right now for me, for even such simple things :)

[2021-06-10 09:02] BFH-ktt1 commented on #447
I added the topics. When we require some others, please let me know. I'm closing the issue, please reopen if you think that the issue is not resolved

[2021-06-10 09:02] #447 closed

[2021-06-10 09:06] BFH-ktt1 commented on #636
No unfortunately the documentation of the internal structures of logisim is not made as it should have been. The part on the FPGA is made by me, and not documented at all (due to lack of time).

[2021-06-10 12:30] #636 closed

[2021-06-10 14:16] MarcinOrlowski commented on #447
I think you want to add `logisim` topic too

[2021-06-10 14:42] MarcinOrlowski opened #641 "Icons are barely visible when using dark themes"
Icons are barely visible when using dark themes:

![icons](https://user-images.githubusercontent.com/8041294/121545318-b5972f80-ca0a-11eb-8c2a-fd47a1ecd293.png)

In general, I posted a [question on "Discussions" about revamping icons](https://github.com/logisim-evolution/logisim-evolution/discussions/640), so please feel free to share your thoughts.

[2021-06-11 10:46] #601 closed

[2021-06-11 10:54] maehne commented on #566
Closing this issue, as PR #619 got merged. Feel free to reopen if the problem persists.

[2021-06-11 10:54] #566 closed

[2021-06-11 11:00] maehne commented on #617
I agree with @zdimension and @MarcinOrlowski that it's tedious to (re-)configure the splitters. Ideas and PRs improving it are very welcome!

[2021-06-11 11:04] maehne commented on #625
Thanks @MarcinOrlowski for your many contributions over the past days! We very much appreciate them! Sorry for the slow reaction, we are in the final weeks of the spring term and the exam period is approaching. Therefore, our bandwidths is a bit limited at the moment, but @BFH-ktt1 found the time to review and merge them.

[2021-06-11 12:34] maehne commented on #535
Closing this due to merging of PR #619. The visual issues are tracked in issue #641.

[2021-06-11 12:34] #535 closed

[2021-06-11 12:49] maehne commented on #641
I completely agree with your observation that this is ugly and hampers usability of Logisim-evolution when switching to an increasingly popular dark mode theme.

[2021-06-11 13:10] davidhutchens commented on #617
I also thought that it was tedious to (re-)configure splitters until I realized I could select a lot of wires on the left by dragging over them, or clicking the first and shift-clicking the last. Then I could apply them all to the same output with one selection. So as long as outputs have contiguous wires, it is quite easy. Even if they are not contiguous you can select them with cmd-click (on the

[2021-06-11 13:16] maehne commented on #617
Thanks @davidhutchens for your tipp and suggestion. I was not aware that you could change more than one attribute at a time. Maybe a hint could be added, which is shown when hovering with the mouse over the corresponding attributes?

[2021-06-11 13:31] davidhutchens commented on #617
Now that I think about it, could we add two buttons for reconfiguration. They would use the number of wires on each split determined by what it was attached to and configure the connections in sequence. One one map 0 to 0 and the other would map the last bit to 0 reversing the order of the first. That way, you could wire up the parts and press the appropriate button to do the configuration. That w

[2021-06-11 13:58] maehne commented on #617
Taking into account these common use cases as well is good.

[2021-06-11 14:01] maehne commented on #617
Another issue, which is not limited to the splitter is that since the increase to 64-bit wide busses, using drop-down lists to choose the bit width and selecting bits is tedious, too.

[2021-06-11 14:05] maehne commented on #447
`logisim` was added as a topic.

[2021-06-11 14:14] maehne commented on #579
Closing since PR #607 got merged.

[2021-06-11 14:14] #579 closed

[2021-06-11 14:15] maehne commented on #578
Closing since PR #615 addressing this issue got merged.

[2021-06-11 14:15] #578 closed

[2021-06-12 00:29] MarcinOrlowski opened #652 "Dragging component resets its state"
Dragging component resets its state. Test case: connect DIP switch and LED. Light the LED by switching DIP switch. Drag the dip switch. It's now off.

[2021-06-12 18:04] MarcinOrlowski commented on #625
Been teaching on the local uni for 8 years, so no worries, I know the pain :)

[2021-06-13 08:52] MarcinOrlowski opened #659 "Switch cannot be rotated more than 90 degs"
Switch cannot be rotated more than 90 degs, as subsequent rotations makes no difference due to logic in `paintInstance()`. That unfortunately means that you are currently unable to flip placement of input and output pins by rotating 180 degs from netiher horizontal, nor vertical orientation.

[2021-06-13 11:53] BFH-ktt1 commented on #652
This is inherent to the current implementation of "dragging". Logisim will each time "remove" the old component and "place" a new component automatically deleting it's simulation and sub-circuit simulation state. It will be, I think, difficult to "fix" this as it is related to the simulation engine.

[2021-06-13 17:03] MarcinOrlowski opened #668 "SplashScreen looks useless"
I noticed that there's a few issues with the SplashScreen thing. First, it is visible for so short time that it basically looks like visual glitch. Second, it reuses AboutPanel, but contrary to what name of method used to obtain AboutPanel instance, which is `getImagePanel()` suggests, returned instance includes the whole credits scroller, which is a quite odd thing for a splash screen. But as the

[2021-06-14 06:56] MarcinOrlowski commented on #563
The PR #673 adds "DO NOT EDIT" warning to generated `VhdlSyntax.java` so at least this issue is somehow flagged.

I found more than one Gradle plugin that is supposed to bridge with JFlex:
* 3 officially [listed on Gradle plugin page](https://plugins.gradle.org/search?term=jflex)
* rusted one (last upd 2016): https://github.com/thomaslee/gradle-jflex-plugin

The JBrains seem IDE bond and patched,

[2021-06-15 07:43] maehne commented on #618
@BFH-ktt1 hinted in [this comment](https://github.com/logisim-evolution/logisim-evolution/pull/645#issuecomment-860193132) to PR #645 a possible cause for this problem:

[2021-06-15 19:18] davidhutchens opened #674 "Someone unfixed my bug fix #655"
The current version of develop has the old HexFile.java without the fix contained in PR #655.

Could you please reapply it? Or do I need to do another PR?

[2021-06-16 09:32] MarcinOrlowski commented on #674
High chance that's because of my PR rush :/ Sorry for that. Anyway, it looks like @BFH-ktt1 reapplied your patch in #677 Could you please check?

[2021-06-16 10:14] neildarlow opened #678 "Message relating to Logisim Evolution during any flatpak update operation"
Whenever I update flatpaks from the command line I see the following output. I have no idea whether this is a packaging issue for Logisim Evolution.

OS: fedora Silverblue 34
Flatpak: flatpak-1.10.2-3.fc34.x86_64

[2021-06-16 11:16] MarcinOrlowski commented on #678
Looks like wrong icon reference. Comes from [LogisimEvolution.desktop](https://github.com/logisim-evolution/logisim-evolution/blob/374a72318ecd0c16b7c077a2260753a1ffc2861c/support/Flatpak/com.github.reds.LogisimEvolution.desktop#L6)

[2021-06-16 11:38] MarcinOrlowski opened #680 "Some PR vanished"
It seems that changes incorporated by already merged PRs were somehow reversed by subsequent merges. For example, changes from #648 are no longer in develop. Same were for #655 (restored in #677). The PR #675 edits files that are already gone since PR  #650. I am now reviewing the recent merges.

[2021-06-16 12:02] MarcinOrlowski commented on #680
@BFH-ktt1 can you please stop merging any PRs for a while until we got a picture what going on and what is now merged and what is no more and needs reapply?

[2021-06-16 12:30] MarcinOrlowski commented on #680
For now it looks like most of the PRs needs reapply. Changes by these seems to no longer be in develop:

- #645 Hitting ESC closes Preferences window now
- #646 Hitting ESC closes most of the frames
- #648 Cleanup of component libraries (re-patched by #681, still in review)
- #651 General code cleanup
- #654 Small library labels cleanup
- #655 Fix problem reading hex values from saved .circ files

[2021-06-16 13:08] davidhutchens commented on #674
Well, #677 didn't quite reapply #655. I'll wait a few days for the develop base to settle down (since my PR isn't the only one that was undone according to #680) and then I'll submit a PR to clean up as needed.

[2021-06-16 14:20] MarcinOrlowski commented on #680
@BFH-ktt1 #682 reapplies #654. Ready to merge.

[2021-06-16 15:41] MarcinOrlowski commented on #680
@BFH-ktt1 #683 reapplies (more/less) #651. Ready to merge

[2021-06-16 15:43] MarcinOrlowski commented on #680
I am not restoring #645 and #646 (were adding support for ESC closing most of the frames) due to doubts the change is safe and not causing any conflicts with other key handlers.

[2021-06-16 17:01] MarcinOrlowski commented on #680
@BFH-ktt1 I am not going to restore #645 and #646 for now as you raised the concern about possible conflict with other key handling code. Yet this feature is pretty handy to have, so can you please suggest better approach?

[2021-06-16 17:28] BFH-ktt1 commented on #680
@MarcinOrlowski , I completely agree with you that it is very handy to have. Currently I am in the "end-of-the-semester-stress", but as soon as I have some time I'll look into the details of the "keyhandler". Maybe it must not be in there, but it is better to check

[2021-06-16 17:29] BFH-ktt1 commented on #680
@MarcinOrlowski : B.t.w. I also observed that your changes to the splash and the web-site entry have "disappeared". I really liked this additions :-)

[2021-06-16 17:52] MarcinOrlowski commented on #680
@BFH-ktt1 Will check and restore these, no problem. You may also want to take a look at #667 thread in "Discussions"

[2021-06-16 18:25] MarcinOrlowski commented on #680
@BFH-ktt1 Help menu/About changes restored in #687

[2021-06-20 13:54] mbaillif opened #696 "Polish Translation missing"
The Polish translation was lost between version 4.1 and 4.2

I recovered it and adapted it to version 3.5.
But just is it a mistake or is it intended before sending it.

[2021-06-20 13:55] mbaillif commented on #696
Version 3.4.1 3.4.2  :-)

[2021-06-20 13:57] BFH-ktt1 commented on #696
It was definitely not intended. I think that it "got lost" when transforming to the "new form". So thanks a lot for making a PR to get it in again.

[2021-06-20 21:53] maehne commented on #668
Well, showing a splash screen for a short time is quite standard for GUI apps. We could leave the user the choice, whether to show it at startup or not. Anyway, I would be fine to just show the logo and a generic copyright message without a scrolling list of all developers, as we have for this the Help -> About dialogue.